<section class="content" ng-show="usuario!=null && usuario.esVenta">
    <div class="container-fluid">
        <form  id="tramitanteForm" name="tramitanteForm" ng-init="valido=true; " >
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header bg-blue-grey">
                            <h2>
                                Ingrese Datos del Tramitante
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="rutTramitante">* RUT Tramitante</label>
                                            <input type="text" ng-enter="cargatramitante()" name="rut" ng-blur="cargatramitante()" ng-model="tramitante.rut"
                                            class="form-control" ng-rut  placeholder="Rut Tramitante"  required  maxlength="14" id="rutTramitante"
                                            next-focus focus-me back-space-not-back-button ng-readonly="rutDisbale"/>
                                        </div>
                                            <span style="color:red" ng-show="tramitanteForm.rut.$dirty && tramitanteForm.rut.$invalid">
											<span ng-show="tramitanteForm.rut.$error.required">Rut es obligatorio</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="tramitanteApellidoPaterno">* Apellido Paterno</label>
                                            <input ng-readonly="valido" id="tramitanteApellidoPaterno"  letters-only type="text" ng-model="tramitante.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="tramitanteApellidoMaterno">Apellido Materno</label>
                                            <input ng-readonly="valido" id="tramitanteApellidoMaterno" letters-only type="text" ng-model="tramitante.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" next-focus />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="tramitanteNombres">* Nombres</label>
                                            <input letters-only ng-readonly="valido" type="text" ng-model="tramitante.nombres" id="tramitanteNombres" class="form-control" placeholder="Nombres" required maxlength="25" next-focus />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                    	<!--
                                        <input  ng-disabled="valido" type="checkbox" ng-model="tramitante.tieneDeclaracionUso" id="declaracion_uso"  next-focus />
                                        <label for="declaracion_uso"><strong>Declaracion de Uso</strong></label>
                                        -->
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="tramitanteTelefono">* Teléfono</label>
                                            <input ng-readonly="valido" ng-blur="noCeros(this.tramitante.telefono)" type="text" numbers-only class="form-control" ng-model="tramitante.telefono" id="tramitanteTelefono" placeholder="Teléfono" required maxlength="11"  next-focus />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="tramitanteDireccion">Dirección</label>
                                            <input  ng-readonly="valido" type="text" class="form-control" id="tramitanteDireccion" ng-model="tramitante.direccion" placeholder="Dirección" required maxlength="50" next-focus  ng-spaceless />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="emailTramitante">Email</label>
                                            <input ng-readonly="valido" type="text" class="form-control" ng-model="tramitante.email" placeholder="Email" required maxlength="75" next-focus id="emailTramitante" ng-spaceless />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-b-20">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                    <span><strong>Región</strong></span><br>
                                    <ui-select ng-readonly="valido" ng-model="tramitante.region" focus-on="UiSelectRegion" theme="select2" ng-disabled="false" style="min-width: 400px;"  on-select="cargaComunas()" >
                                        <ui-select-match  placeholder="Seleccione Región">{{tramitante.region.codigo}} - {{tramitante.region.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="cc in regiones | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                          <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                                    <span class="m-b-5"><strong>Comuna</strong></span><br>
                                    <ui-select ng-readonly="valido" ng-model="tramitante.comuna" focus-on="UiSelectComuna" theme="select2" ng-disabled="tramitante.region==null" style="min-width: 400px;" on-select="cambiarFocus()">
                                        <ui-select-match  placeholder="Seleccione Comuna">{{tramitante.comuna.codigo}} - {{tramitante.comuna.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="com in comunas | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                          <div ng-bind-html="com.codigo +' - '+ com.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="footer align-right bg-blue-grey">
                            <button type="button" focus-element="SelectIngresar" ng-disabled="tramitanteForm.rut.$invalid || tramitante.rut==null " class="btn btn-success btn-lg" ng-click="actualizoTramitante()">
                                <i class="material-icons">done</i> <strong>Ingresar</strong>
                            </button>
                            <button type="button" class="btn btn-danger btn-lg" ng-click="salirCarroCompra()">
                                <i class="material-icons">clear</i> <strong>Salir</strong>
                            </button>
                            <button type="button" ng-click="cancelarConfirm();" class="btn btn-info btn-lg">
                                <i class="material-icons">autorenew</i> <strong>Limpiar</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<modalpdflistado></modalpdflistado>
