<section class="content">
    <div class="container-fluid">
        <div class="block-header" style="text-align: center;">
            <h2 style="font-size: 30px;">Bienvenidos al <br> Sistema Integral de Atención al Cliente <br>v1.1.2</h2>
        </div>
        <div class="btn-toolbar m-l-15 m-b-20" role="toolbar" aria-label="Toolbar with button groups">
            <!--<div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#cargando">cargador</button>
            </div>-->
            <!-- <div class="btn-group" role="group" aria-label="Third group">
             <button type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#configuraciones">Configuraciones Iniciales</button>
            </div>-->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="body" style="text-align: center;">
                    <img src="images/img-faq.png" style="text-align: center;">
                    <br>
                    <br>
                    Para Consultas sobre nuestro Sistema utiliza nuestro Menú de<br> <a href="views/faq.html" target="_blank">Preguntas Frecuentes</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="body" style="text-align: center;">
                    <img src="images/img-soporte.png" style="text-align: center;">
                    <br>
                    <br>
                    Para Soporte Técnico del Sistema Envíe un Correo a nuestra<br> <a href="mailto:mesadeayuda@ccs.cl">Mesa de Ayuda</a>
                </div>
            </div>
        </div>
    </div>
</section>
 
<div ng-controller="BoletasController">
    <div ng-init="consultaBoleta(0)"></div>
    <modalrangoboleta></modalrangoboleta>
</div>
