<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ usuario.nombre }}</div>
            <div class="email">{{ usuario.email }}</div>
            <div class="email">C. Costo: <b>{{usuario.centroCostoActivo.descripcion}}</b></div>
            <div class="email">Caja N° <b>{{usuario.caja}}</b></div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li ng-class="getClass('/inicio')">

				<div ng-if="disableTram">
	                <a>
	                    <i class="material-icons">home</i>
	                    <span>Inicio</span>
	                </a>
				</div>
				<div ng-if="!disableTram">
	                <a href="#!/inicio">
	                    <i class="material-icons">home</i>
	                    <span>Inicio</span>
	                </a>
				</div>
            </li>
            <li ng-show="usuario.esVenta" ng-class="getClass('/atencion')">
				<div ng-if="disableTram">
	                <a>
	                    <i class="material-icons">supervisor_account</i>
	                    <span>Atención Clientes</span>
	                </a>
				</div>
				<div ng-if="!disableTram">
	                <a style="cursor: pointer;" ng-click="buscapendientes()"><!-- ng-click="cantidadesabiertas();"-->
	                    <i class="material-icons">supervisor_account</i>
	                    <span>Atención Clientes</span>
	                </a>	                
				</div>            
            </li>
            <li ng-class="getClass('/cuadratura')">
            	
                <a style="cursor: pointer;" ng-click="abreCuadratura()" data-toggle="modal">
                    <i class="material-icons">attach_money</i>
                    <span>Cuadratura Caja</span>
                </a>
            </li>
            <li ng-show="usuario.esConsultaprotesto" ng-class="getClass('/protesto')">
                <a style="cursor: pointer;" ng-click="abreConsultaProtesto()" data-toggle="modal">
                    <i class="material-icons">assignment</i>
                    <span>Consulta protesto</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy;  {{ fechaActual | date : "y" }} <a href="javascript:void(0);">Camara de Comercio</a>.
        </div>
        <div class="version">
            <b>Versión: </b> 1.1.2
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->
