<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>SIAC</title>

        <!-- Bootstrap Core Css -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Waves Effect Css -->
        <link href="bower_components/Waves/dist/waves.css" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="bower_components/animate.css/animate.css" rel="stylesheet" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Custom Css -->
        <link href="styles/css/style.css" rel="stylesheet">
        <link href="styles/css/login.css" rel="stylesheet">
        <link href="styles/css/themes/theme-siac.css" rel="stylesheet" />
    </head>
    <body>
        <div class="login-box" ng-cloak>
            <div class="logo">
                <a href="javascript:void(0);"><b>SIAC</b></a>
                <small>Sistema Integral de Atención al Cliente</small>
            </div>
            <div class="card">
                <div class="body">
                    <form id="loginForm" name="loginForm" method="POST" >
                        <div class="msg">Ingresa tus Datos para ingresar al Sistema</div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
                            <div class="form-line">
                                <input type="text" ng-spaceless next-focus tabindex="1" ng-model="login.username" class="form-control p-l-10" name="username" id="username" placeholder="Usuario" required autofocus maxlength="25">
                            </div>
                            <span style="color:red" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                                <span ng-show="loginForm.username.$error.required">Usuario es requerido.</span>
                            </span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
                            <div class="form-line">
                                <input type="password" ng-spaceless  next-focus tabindex="2"  ng-model="login.password" class="form-control p-l-10" name="password" placeholder="Contraseña" required  maxlength="25">
                            </div>
                            <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                                <span ng-show="loginForm.password.$error.required">Contraseña es requerida.</span>
                            </span>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <div style="color:red" ng-show="usuario.msgControl!=null" class="row">
                                    <span>{{usuario.msgControl}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-6">
                                <button next-focus tabindex="3"  ng-disabled=" loginForm.username.$invalid ||  loginForm.password.$invalid" class="btn btn-lg btn-success waves-effect" type="submit" ng-enter="ingresar()" ng-click="ingresar()">
                                    <i class="material-icons">done</i> <strong>Iniciar Sesión</strong>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Waves Effect Plugin Js -->
        <script src="bower_components/Waves/dist/waves.js"></script>
    </body>
</html>
