﻿<div ng-controller="PagoController" id="tblpagos">
  <form>
    <section class="content" ng-show="usuario!=null && usuario.esVenta">
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header bg-blue-grey">
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group m-b-5">
                      <div class="form-line">
                        <label for="rut_tramitante">Rut Tramitante</label>
                        <input type="text" id="rut_tramitante" disabled class="data_pl form-control" value="{{tramitante.rut | rut}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group m-b-5">
                      <div class="form-line">
                        <label for="apellido_paterno">Apellido Paterno</label>
                        <input type="text" id="apellido_paterno" disabled class="form-control data_pl" value="{{tramitante.apellidoPaterno}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group m-b-5">
                      <div class="form-line">
                        <label for="nombres">Nombres</label>
                        <input type="text" id="nombres" disabled class="form-control data_pl" value="{{tramitante.nombres}}">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 align-right p-t-15">
                    <button ng-show="!blockBack" type="button" class="btn btn-primary waves-effect" onclick="location.href='#!/servicios'" data-show="tip" title="Volver a los Servicios" data-placement="bottom">
                      <i class="material-icons">settings_backup_restore</i>
                    </button>
                    <button type="button" class="btn btn-info waves-effect" data-toggle="modal" data-target="#observacion" data-show="tip" title="Observaciones" data-placement="bottom">
                      <i class="material-icons">description</i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="body table-responsive tablescroll">
                <table class="table table-bordered">
                  <thead class="color_table">
                    <tr>
                      <th>Tipo Serv</th>
                      <th>Rut Afectado</th>
                      <th>Ap. Paterno</th>
                      <th>Ap. Materno</th>
                      <th>Nombre</th>
                      <!--<th>Corr Nom</th>-->
                      <th>Costo Servicio</th>
                      <th>Tipo Doc</th>
                      <th>N° Oper</th>
                      <th>Fec. Prot/Vcto</th>
                      <th>T. Doc Acl</th>
                      <th>Mda</th>
                      <th>B/F</th>
                      <th>N&deg; B/F</th>
                      <th>Monto Doc</th>
                      <th>Estado</th>
                      <th>Cod Serv</th>
                      <th>Titular</th>
                      <!-- <th>Eliminar</th>-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="result in transacionesSession" ng-class='{red : result.flagdel, black: !result.flagdel}'>
                      <td>{{result.tipoServicio}}</td>
                      <td>{{result.rutAfectado |  rut}}</td>
                      <td>{{result.apellidoPaterno}}</td>
                      <td>{{result.apellidoMaterno}}</td>
                      <td>{{result.nombres}}</td>
                      <!--<td>{{result.correlativoPersona}}</td>-->
                      <td class="align-right">{{result.costoServicio | currency:'$':0}}</td>
                      <td>{{result.tipoDocumento}}</td>
                      <td>{{result.numeroOperacion}}</td>
                      <td>{{result.fechaProtesto | date : "dd/MM/yyyy"}}</td>
                      <td>{{result.tipoDocAclaracion}}</td>
                      <td>{{result.moneda}}</td>
                      <td>{{result.boletaFactura}}</td>
                      <td>{{result.numeroBoletaFactura}}</td>
                      <td class="align-right">{{result.montoDocumento | currency}}</td>
                      <td>{{result.flagdel}}</td>
                      <td>{{result.codServicio}}</td>
                      <td>{{result.titular}}</td>
                      <!--
                      <td class="centrado">
                        <button type="button" class="btn btn-danger btn-grilla waves-effect"  data-toggle="modal" ng-click="eliminarServicio(result)">
                          <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Eliminar Servicio">clear</i>
                        </button>
                      </td>
                      -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="card card-pagos">
              <div class="body">
                <h5 class="tit-2">Tipo de Documento</h5>
                <div class="demo-radio-button m-t-20">
                  <input name="group4" type="radio" id="radio_7" value="B" class="radio-col-red" checked/>
                  <label for="radio_7">BOLETA</label><br>
                  <div ng-show="emiteFactura && iva !== '' && iva !== 0">
                    <input name="group4" type="radio" id="radio_8" value="F" class="radio-col-pink" ng-click="facturar()"/>
                    <label for="radio_8">FACTURA</label>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <label for="ultima_boleta">Boleta Actual</label>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="form-group">
                      <div class="form-line">
                        <input type="text" id="ultima_boleta" class="form-control align-right" readonly ng-model="ultimaBoleta">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <label for="boletas_disponibles">Boletas Disponibles</label>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="form-group">
                      <div class="form-line">
                        <input type="text" id="boletas_disponibles" class="form-control align-right" readonly ng-model="boletasDisponibles">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="card card-pagos">
              <div class="body">
                <h5 class="tit-2">Monto a Pagar</h5>
                <form class="form-horizontal">
                  <div class="row clearfix">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                      <label for="total_cobrar">Cant.Servicios</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text"  readonly class="form-control align-right" value="{{transacionesSession.length}}">
                        </div>
                      </div>
                    </div>
                  </div>                
                  <div class="row clearfix">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                      <label for="total_cobrar">Total a Cobrar</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text" id="total_cobrar" ng-model="totalCobrar" readonly class="form-control align-right" value="{{totalCobrar}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-lg-7 col-md-7col-sm-7 col-xs-7">
                      <label for="montoingresado">Monto</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text" next-focus numbers-only-no-dot ng-enter="vueltofun()" id="montoingresado" class="form-control align-right" numbers-only ng-model="montoingresado" ng-blur="vueltofun()">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row clearfix">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-75">
                      <label for="vuelto">Vuelto</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text" id="vuelto" next-focus disabled class="form-control align-right"  readonly ng-model="vuelto">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="card card-pagos">
              <div class="body">
                <h5 class="tit-2">Tipo de Pago</h5>
                <div class="row clearfix m-b-20 m-t-30 centrado">
                  <ui-select next-focus ng-model="mediopagocombo.mediopagoSel" theme="select2" style="min-width: 300px;" ng-change="abrirModalPago()">
                    <ui-select-match placeholder="Seleccione Medio de Pago">{{mediopagocombo.mediopagoSel.descripcion}}</ui-select-match>
                    <ui-select-choices repeat="cc in mediospago | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                      <div ng-bind-html="cc.descripcion | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <div class="row clearfix">
                  <div class="button-demo centrado">
                    <span ng-show="emiteBoleta">
                      <span ng-show="!reimpresion">
                        <button type="button" class="btn btn-lg btn-info waves-effect" data-toggle="modal" ng-click="mostrarBoleta()" ng-disabled="(transacionesSession | propsFilter: {boletaFactura: 'B'}).length <= 0">
                          <i class="material-icons">print</i> <strong>Imprimir <br>Boleta(s)</strong>
                        </button>
                      </span>
                      <span ng-show="reimpresion">
                        <button type="button" class="btn btn-lg btn-info waves-effect" data-toggle="modal" ng-click="reimpresionModal()">
                          <i class="material-icons">print</i> <strong>Reimprimir <br>Boleta(s)</strong>
                        </button>
                      </span>
                    </span>
                    <span ng-show="tieneServicios">
                      <button type="button" class="btn btn-lg btn-success waves-effect" data-toggle="modal" ng-click="aceptarTransaccion()">
                        <i class="material-icons">done</i> <strong>Aceptar <br>Transacción</strong>
                      </button>
                    </span>
                    <button type="button" ng-click="cancelarConfirm()" class="btn btn-lg btn-danger waves-effect">
                      <i class="material-icons">clear</i> <strong>Cancelar <br>Transacción</strong>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  <modalaceptatransaccion></modalaceptatransaccion>
  <modalboleta></modalboleta>
  <modalpdflistado></modalpdflistado>
  <modalboletareimp></modalboletareimp>

  <modalpagocheque></modalpagocheque>
  <modalpagotarjetacredito></modalpagotarjetacredito>
  <modalpagovista></modalpagovista>
  <modalpagoredcompra></modalpagoredcompra>
  <modalreimprimir></modalreimprimir>
</div>

