<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="#tarifas" data-toggle="tab">Tarifas</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="tarifas">
            <div ng-controller="TarifasController" ng-init="cargaTarifas()">
    			<div ng-repeat="model in tarifas | orderBy: 'codServicio' as filtered_result track by model.codServicio">
    				  <ul class="m-t-10">
    				      <li class="m-b-5">
                              {{model.glosaServicio}} = <span style="color: red;">${{model.costoBase | number}}</span>
                          </li>
    				  </ul>
    			</div>
            </div>
        </div>
    </div>
</aside>
