<section class="content" ng-show="usuario!=null && usuario.esVenta">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center">
                                <span class="m-b-20"><strong>Seleccione Producto o Servicio</strong></span>
                                <ui-select autofocus="true" ng-model="carrocompra.servicio" theme="select2" ng-disabled="false" style="min-width: 280px; padding-top: 17px !important;" on-select="validaServicioModal(carrocompra.servicio.codServicio);">
                                    <ui-select-match placeholder="Seleccione Servicio">{{$select.selected.codServicio + " - " + $select.selected.glosaServicio}}</ui-select-match>
                                    <ui-select-choices repeat="cc in servicios | propsFilter: {glosaServicio: $select.search, codServicio: $select.search}" >
                                      <div ng-bind-html=" cc.codServicio +' - '+ cc.glosaServicio  | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="card">
                    <div class="body">
                        <form>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="rut_tramitante">Rut Tramitante</label>
                                            <input type="text" ng-disabled="true" id="rut_tramitante" ng-rut class="form-control" ng-model="tramitante.rut" value="{{tramitante.rut}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="apellido_paterno">Apellido Paterno</label>
                                            <input type="text" ng-disabled="true" id="apellido_paterno" class="form-control" value="{{tramitante.apellidoPaterno}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="nombres">Nombres</label>
                                            <input type="text" ng-disabled="true" id="nombres" class="form-control" value="{{tramitante.nombres}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 align-right p-l-0 p-t-15">
                                    <button type="button" class="btn waves-effect" ng-class="tramitante.declaracionUso ? 'btn-success': 'btn-danger'" ng-click="declaracionUso()" data-show="tip" title="Declaración de Uso" data-placement="bottom">
                                    	<i class="material-icons">thumb_up</i>
                                    </button>
                                    <button type="button" class="btn btn-primary waves-effect" ng-click="volverTramitante()" data-show="tip" title="Volver al tramitante" data-placement="bottom">
                                    	<i class="material-icons">settings_backup_restore</i>
                                    </button>
                                    <button type="button" class="btn btn-info waves-effect" data-toggle="modal" data-target="#observacion" data-show="tip" title="Observaciones" data-placement="bottom">
                                    	<i class="material-icons">description</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header bg-blue-grey">
                            <h2>
                                Carro de Compras                         <span style="float: right;">Cant. Servicios : {{transacciones.length}}</span>

                            </h2>
                    </div>
                    <div class="body table-responsive tablescroll">
                        <table class="table table-bordered">
                            <thead class="color_table">
                                <tr>
                                    <th>Eliminar</th>                                
                                    <th>Tipo Servicio</th>
                                    <th>Rut Afectado</th>
                                    <th>Ap. Paterno</th>
                                    <th>Ap. Materno</th>
                                    <th>Nombres</th>
                                    <th>Costo Servicio</th>
                                    <th>Tipo Doc.</th>
                                    <th>Mda</th>
                                    <th>Monto Doc</th>
                                    <th>N° Oper</th>
                                    <th>Fec. Prot/Vcto</th>
                                    <th>Emisor</th>
                                    <th>Corr Protesto</th>
                                    <!--<th>Corr Nom</th>-->
                                    <th>T. Doc Acl</th>
                                    <th>B/F</th>
									<th>Cod Serv</th>
									<th>Titular</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="result in transacciones">
                                    <td class="centrado">
                                        <button type="button" class="btn btn-danger btn-grilla waves-effect" data-toggle="modal" ng-click="eliminarServicio(result)">
                                            <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Eliminar Servicio">clear</i>
                                        </button>
                                    </td>                                
                                    <td>{{result.tipoServicio}} </td>
                                    <td>{{result.rutAfectado |  rut}}</td>
                                    <td>{{result.apellidoPaterno}}</td>
                                    <td>{{result.apellidoMaterno}}</td>
                                    <td>{{result.nombres}}</td>
                                    <td class="align-right">{{result.costoServicio | currency:'$':0}}</td>
                                    <td>{{result.tipoDocumento}}</td>
                                    <td>{{result.moneda}}</td>
                                    <td class="align-right">{{result.montoDocumento | currency}}</td>                                    
                                    <td>{{result.numeroOperacion}}</td>
                                    <td>{{result.fechaProtesto | date : "dd/MM/yyyy"}}</td>
                                    <td>{{result.emisor}}</td>
                                    <td>{{result.correlativoProtesto}}</td>
                                    <!--<td>{{result.correlativoPersona}}</td>-->
                                    <td>{{result.tipoDocAclaracion}}</td>
                                    <td>{{result.boletaFactura}}</td>
									<td>{{result.codServicio}}</td>
									<td>{{result.titular}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer bg-blue-grey align-right">
                    	<button type="button" onclick="location.href='#!/pagos'" ng-show="transacciones.length>0" class="btn btn-lg btn-success waves-effect">
                            <i class="material-icons">done</i> <strong>Pagar Servicios</strong>
	                    </button>
                        <button type="button" ng-click="cancelarConfirm();" ng-show="transacciones.length>0" class="btn btn-lg btn-danger waves-effect">
                            <i class="material-icons prefix">clear</i> <strong>Cancelar Transacción</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<modalaclaracion></modalaclaracion>
<modalaclaraciontramiteagrupant></modalaclaraciontramiteagrupant>
