<!-- Top Bar -->
<nav class="navbar" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand"><img src="images/logo2.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <div class="btn-group m-t-20 m-r-10 m-l-60">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">dashboard</i>
                    Aplicaciones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#arqueocaja">Arqueo de Caja</a></li>
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#ingresodepositos">Ingreso Depósitos</a></li>
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#ingresofiniquitos">Ingreso de Finiquitos</a></li>
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#busquedaprotestos">Búsqueda de Protestos</a></li>
                    <li><a href="javascript:void(0);" data-toggle="modal" data-target="#solicitudreclamos">Ingreso de Solicitudes y Reclamos</a></li>
                </ul>
            </div>
            <div class="btn-group m-t-20 m-r-10">
                <button id="dLabel" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">extension</i>
                    Acciones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                  <li ><a href="javascript:void(0);" ng-click="ingresarCentroCosto()">Inicializar Centro Costo</a></li>
                  <li><a href="javascript:void(0);" ng-show="usuario.caja!=0" ng-click="confirmarcambiarcaja()">Cambiar Caja</a></li>
                  <li><a href="javascript:void(0);" data-toggle="modal" data-target="#cambiarcontrasena">Cambiar Contraseña</a></li>
                  <li ng-controller="ModalAnularBoletaFacturaController">
                  	<a href="javascript:void(0);" ng-click="abrir()">Anular Boletas/Facturas</a>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="javascript:void(0);">Documentos</a>
                    <ul class="dropdown-menu">
                        <li ng-controller="BoletasController">
                        	<a href="javascript:void(0);" data-toggle="modal" ng-click="editaBoleta()">Rango de Boletas</a>
                        </li>
                        <li><a data-toggle="modal" data-target="#modificarmediopago"> Modificar Medio de Pago</a></li>
                        <li ng-controller="ModalReemBoletaFacturaController">
                        	<a href="javascript:void(0);" ng-click="abrir()">Reemplazar Boleta por Factura</a>
                        </li>
                    </ul>
                  </li>
                  <li class="divider"></li>
                  <li><a href="javascript:void(0);" data-toggle="modal" data-target="#informecc">Informe por Centro Costo</a></li>
                </ul>
            </div>
            <div class="btn-group m-t-20 m-r-10">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">print</i>
                    Habilitar <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);">
                            <input type="checkbox" id="biometria"/>
                            <label for="biometria">Habilitar Biometría</label>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);">
                            <input  type="checkbox" ng-checked="rec.isImprime" ng-model="rec.isImprime" ng-change="imprimeBoletas(); actulizaEmiteBoleta();"  id="emitir_boleta"/>
                            <label for="emitir_boleta">Emitir Boletas</label>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);">
                            <input type="checkbox" ng-checked="rec.isFactura" ng-model="rec.isFactura" ng-change="imprimeFacturas(); actulizaEmiteFactura();" id="emitir_factura"/>
                            <label for="emitir_factura">Emitir Facturas</label>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    	<a href="javascript:void(0);" data-toggle="modal" data-target="#cambioimpresora">Seleccionar Impresora</a>
                    </li>
                    <li>
                    	<a href="javascript:void(0);" data-toggle="modal" ng-click="cargaConfiguracion()">Configuración Inicial</a>
                    </li>                    
                </ul>
            </div>
            <div class="btn-group m-t-20 m-r-10">
                <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#listatarifas">
                <i class="material-icons">attach_money</i>
                Tarifas</button>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="mailto:mesadeayuda@ccs.cl" data-toggle="tooltip" data-placement="bottom" title="Mesa de Ayuda"><i class="material-icons">perm_phone_msg</i></a></li>
                <li><a href="views/faq.html" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Preguntas Frecuentes"><i class="material-icons">help</i></a></li>
                <li><a href="javascript:void(0);" data-placement="bottom" title="Cerrar Sesión" data-toggle="modal"  data-target="#confirmarcierresesion" ><i class="material-icons">exit_to_app</i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div ng-init="cargaConfiguracion()"></div>

<!-- #Top Bar -->
<modalanularboletafactura></modalanularboletafactura>
<modalcambiarcontrasena></modalcambiarcontrasena>
<modalaperturacaja></modalaperturacaja>
<modalcambiarcaja></modalcambiarcaja>
<modalcambioimpresora></modalcambioimpresora>
<modalcentrocosto></modalcentrocosto>
<modalcerrarcaja></modalcerrarcaja>
<modalfraude></modalfraude>
<modalfraudeaclaracion></modalfraudeaclaracion>
<modalrangoboleta></modalrangoboleta>
<modalcargando></modalcargando>
<modalfintransaccion></modalfintransaccion>
<modallistacaja></modallistacaja>
<modalmodificarmediopago></modalmodificarmediopago>
<modalmodpagocheque></modalmodpagocheque>
<modalmodpagoredcompra></modalmodpagoredcompra>
<modalmodpagotarjetacredito></modalmodpagotarjetacredito>
<modalmodpagovalevista></modalmodpagovalevista>
<modallistatarifas></modallistatarifas>
<modalvalidacion></modalvalidacion>
<modalconfirmarcambiarcaja></modalconfirmarcambiarcaja>
<modalconfirmarsalircarrocompra></modalconfirmarsalircarrocompra>
<modalconfirmarcierrecaja></modalconfirmarcierrecaja>
<modallistacierrecaja></modallistacierrecaja>
<modalobservacion></modalobservacion>
<modalinforme></modalinforme>
<modalconfirmarcierresesion></modalconfirmarcierresesion>
<modalconfirmarcierrecajassesion></modalconfirmarcierrecajassesion>
<modallistacierrecajasesion></modallistacierrecajasesion>
<modalfactura></modalfactura>
<modalreemboletafactura></modalreemboletafactura>
<modalinformecomercial1></modalinformecomercial1>
<modallistapublico></modallistapublico>
<modalinformelegal></modalinformelegal>
<modalcertificadototal1></modalcertificadototal1>
<modalcertificadototal2></modalcertificadototal2>
<modalconsolidadoaclaraciontramite></modalconsolidadoaclaraciontramite>
<modalinformeaclaracionproceso></modalinformeaclaracionproceso>
<modalinformeaclaracionproceso2></modalinformeaclaracionproceso2>
<modalcertificadoaclaraciontramite></modalcertificadoaclaraciontramite>
<modalcertificadoaclaracion4></modalcertificadoaclaracion4>
<modaldeclaraciondeuso></modaldeclaraciondeuso>
<modalbusquedaprotestos></modalbusquedaprotestos>
<modalboletinlaboral></modalboletinlaboral>
<modalproductosvigentes></modalproductosvigentes>

<modalingresofiniquitos></modalingresofiniquitos>
<modalbcteavisa></modalbcteavisa>



<modalsolicitudreclamos></modalsolicitudreclamos>
<modalarqueocaja></modalarqueocaja>
<modalingresodepositos></modalingresodepositos>
<modalconfiguraciones></modalconfiguraciones>
<modalinformecc></modalinformecc>
<modalcuadratura></modalcuadratura>
<modalcuadraturaindex></modalcuadraturaindex>




