body{
  background-color: #607d8b;
  padding-left: 0;
  max-width: 360px;
  margin: 5% auto;
  overflow-x: hidden; }

.login-box .msg {
    color: #555;
    margin-bottom: 30px;
    text-align: center; }

.login-box a {
    font-size: 14px;
    text-decoration: none;
    color: #607D8B; }

.login-box .logo {
    margin-bottom: 20px; }

.login-box .logo a {
      font-size: 36px;
      display: block;
      width: 100%;
      text-align: center;
      color: #fff; }

.login-box .logo small {
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
      margin-top: -5px; }
