<div class="modal fade" id="informeconsolidadotramite2" ng-controller="CertificadoAclaracionProceso" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="informeconsolidadotramite2Label">Certificado Aclaración en Proceso</h4>
            </div>
            <div class="modal-body scroll_fix">
                <h4>CERTIFICADO DE ACLARACIÓN EN TRÁMITE  </h4>
                <p>Señor(a), estos protestos o cuotas morosas serán eliminadas el martes de la próxima semana.</p>
                <p>
                    Si usted necesita aclarar en otras entidades que ya han sido aclarados,
                    puede llevar un certificado de respaldo.
                </p>
                <p><b><u>Valor Certificado:</u> {{valorCAR.msgControl | currency:undefined:0}}</b></p>
                <div class="table-responsive">
                    <table class="table table-bordered fondo_boleta">
                        <thead>
                            <tr>
                                <th>Check</th>
                                <th>Rut Aclaración</th>
                                <th>Ap Paterno</th>
                                <th>Ap Materno</th>
                                <th>Nombres</th>
                                <th>Ingresar Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="acl in listaAclaraciones">
                                <td>
                                    <input type="checkbox" id="car-{{acl.correlativo}}" ng-model="acl.checked" ng-click="updateSelection($index, listaAclaraciones)" class="chk-col-blue-grey"/>
                                    <label for="car-{{acl.correlativo}}"></label>
                                </td>
                                <td>{{acl.rut | rut}}</td>
                                <td>{{acl.apellidoPaterno}}</td>
                                <td>{{acl.apellidoMaterno}}</td>
                                <td>{{acl.nombres}}</td>
                                <td>
                                    <input type="text" maxlength="4" ng-disabled="!acl.checked"  numbers-only-no-dot ng-model="acl.cantidad" name="" value="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="validaSupervisorModal('aceptaCar','informeconsolidadotramite2')"">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="actualizaCarro()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
