<div class="modal fade" id="declaracion" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="ModalDeclaracionDeUsoController as ctrl">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title centrado" id="declaracionLabel">Declaración de Uso</h4>
			</div>
			<div class="modal-body">
				<form  id="declaracionUsoForm" name="ctrl.formulario">
					<div class="row clearfix m-b-20">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
							<label for="rutAfectadoInforme">* RUT Empresa:</label>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="form-group">
								<div class="form-line">
									<input type="text" name="rutAfectadoInforme" id="rutAfectadoInforme" ng-blur="buscaAfectado()" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Afectado" required  maxlength="13"  ng-enter="buscaAfectado()" next-focus/>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<button type="button" name="cargaTramitante" class="btn btn-primary waves-effect" ng-click="cargaTramitante()" ng-enter="cargaTramitante()"  next-focus>
								<i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
							</button>
						</div>
					</div>
					<div class="row clearfix" ng-show="!form.tipoRutJuridico">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="form-group">
								<div class="form-line">
									<label for="ap_pat_pag">* Apellido Paterno:</label>
									<input  id="ap_pat_pag" name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required="!form.tipoRutJuridico"  maxlength="25" next-focus tabindex="2" next-focus/>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="form-group">
								<div class="form-line">
									<label for="ap_mat_pag">Apellido Materno:</label>
									<input id="ap_mat_pag" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno"  maxlength="25" tabindex="3" next-focus />
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<div class="form-group">
								<div class="form-line">
									<label for="nombres">* Nombres:</label>
									<input letters-only type="text" id="nombres" name="nombres" ng-model="afectado.nombres" tabindex="4" class="form-control" placeholder="Nombres" required="!form.tipoRutJuridico"  maxlength="25" next-focus />
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix" ng-if="form.tipoRutJuridico">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="form-group">
								<div class="form-line">
									<label for="razonsocial">* Razon Social:</label>
									<input letters-only-business type="text" id="razonsocial" name="nombresafectado" ng-model="afectado.razonSocial" class="form-control" placeholder="Nombre Afectado" required="form.tipoRutJuridico"  maxlength="75" next-focus/>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix borde_acl m-t-5">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h5 class="tit-2">Motivo de Consulta</h5>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-t-10 m-b-10">
								<label for="select_declaracion">Seleccionar Motivo: </label>
							</div>
							<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 m-t-10 m-b-10">
								<ui-select name="select_declaracion" id="select_declaracion" ng-model="form.motivo" focus-on="UiSelectMotivo" theme="select2" style="min-width: 300px;" required >
									<ui-select-match  placeholder="Seleccione Motivo">{{form.motivo.codigo}} - {{form.motivo.descripcion}}</ui-select-match>
									<ui-select-choices repeat="item in form.motivos | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
										<div ng-bind-html="item.codigo +' - '+ item.descripcion | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
								<span style="color:red" ng-show="ctrl.formulario.select_declaracion.$dirty && ctrl.formulario.select_declaracion.$invalid">
									<span ng-show="ctrl.formulario.select_declaracion.$error.required">Motivo es obligatorio</span>
								</span>
	                            <!-- <select name="select_declaracion" ng-model="form.motivo" id="select_declaracion" class="form-control" required>
	                              <option ng-repeat="item in form.motivos" value="{{item.cod}}">{{item.descripcion}}</option>
	                          </select> -->
                      		</div>
                  		</div>
              		</div>
          		</form>
      		</div>
			<div class="modal-footer">
				<button type="button" ng-click="eliminar()" ng-enter="eliminar()" class="btn btn-lg btn-primary waves-effect" name="eliminar" ng-if="tramitante.declaracionUso" next-focus>
					<i class="material-icons">delete</i> <strong>Eliminar</strong>
				</button>
				<button ng-if="!tramitante.declaracionUso" type="button" ng-click="guardarPersona()" ng-enter="guardarPersona()" class="btn btn-lg btn-success waves-effect" name="aceptar" ng-disabled="ctrl.formulario.$invalid" next-focus>
					<i class="material-icons">done</i> <strong>Aceptar</strong>
				</button>
				<button ng-if="tramitante.declaracionUso" type="button" ng-click="guardarPersona()" ng-enter="guardarPersona()" class="btn btn-lg btn-success waves-effect" name="aceptar" ng-disabled="ctrl.formulario.$invalid" next-focus>
					<i class="material-icons">done</i> <strong>Modificar</strong>
				</button>				
				<button type="button" ng-click="cerrar()" ng-enter="cerrar()" class="btn btn-lg btn-danger waves-effect" name="cerrar" ng-if="!tramitante.declaracionUso">
					<i class="material-icons">clear</i> <strong>Cerrar</strong>
				</button>
			</div>
  		</div>
	</div>
</div>
