<div class="modal fade" id="reemboletafacturadescarga" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="reemboletafacturadescargaLabel">Descargar Nueva Factura</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive tablescroll">
                    <table class="table table-bordered fondo_boleta" ng-show="!factura.esNueva">
                        <thead>
                            <tr>
                                <th>N° Factura</th>
                                <th>Fact. C/Cedible</th>
                                <th>Fact. S/Cedible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ factura.numeroFactura }}</td>
                                <td><a href="rest/factura/descargar/{{factura.pdf}}_c.pdf" target="_blank"><i class="material-icons">picture_as_pdf</i></a></td>
                                <td><a href="rest/factura/descargar/{{factura.pdf}}.pdf" target="_blank"><i class="material-icons">picture_as_pdf</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg waves-effect" ng-click="cerrarDescarga()" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
