<div class="modal fade" id="solicitudreclamos" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="IngresoSolicitudController">
    <div class="modal-dialog modal-lg" role="document" ng-show="show">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="solicitudreclamosLabel">Ingreso de Solicitud y Reclamos</h4>
            </div>
            <form class="form-horizontal" id="solicitudreclamosForm" name="solicitudreclamosForm" method="POST" ng-init="valido=true;">
                <div class="modal-body">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                            <label for="rutAfectadoInforme">* RUT Afectado:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="rutAfectadoInforme" id="rutAfectadoInforme" ng-blur="buscaAfectado()" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Afectado" required maxlength="13"  ng-enter="buscaAfectado()" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" name="cargaTramitante" class="btn btn-primary waves-effect" data-toggle="modal" ng-click="cargaTramitante()">
                                <i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row clearfix" ng-show="!esrutjuridico">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_pat_pag">* Apellido Paterno:</label>
                                    <input  id="ap_pat_pag" name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="2" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_mat_pag">Apellido Materno:</label>
                                    <input id="ap_mat_pag" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="3" next-focus />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres">* Nombres:</label>
                                    <input letters-only type="text" id="nombres" name="nombres" ng-model="afectado.nombres" tabindex="4" class="form-control" placeholder="Nombres" required maxlength="25" next-focus />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" ng-if="esrutjuridico">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres_afectado">* Nombre Afectado:</label>
                                    <input letters-only-business type="text" id="nombres_afectado" name="nombresafectado" ng-model="afectado.nombreafectado" class="form-control" placeholder="Nombre Afectado" required maxlength="75" next-focus/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-t-30 m-b-20">
                        <h5 class="tit-2 m-l-20 m-b-10">Escoge una Opción:</h5>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="radio" id="opc1" name="radio_aceptar" ng-model="opcion" value="1"/>
                            <label for="opc1">Ingresar Solicitud</label>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="radio" id="opc2" name="radio_aceptar" ng-model="opcion" value="2"/>
                            <label for="opc2">Buscar Solicitudes Ingresadas</label>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <input type="radio" id="opc3" name="radio_aceptar" ng-model="opcion" value="3"/>
                            <label for="opc3">Impresión de Formulario</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-success waves-effect" data-toggle="modal" ng-click="aceptar()">
                        <i class="material-icons">done</i> <strong>Aceptar</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" ng-click="cerrar(0)">
                        <i class="material-icons">clear</i> <strong>Salir</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
	<modalingresosolicitudreclamos></modalingresosolicitudreclamos>
	<modalbusquedasolicitudreclamos></modalbusquedasolicitudreclamos>
	<modalseleccionformulario></modalseleccionformulario>
</div>
