<div class="modal fade" id="busquedaprotestos" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" ng-controller="BusquedaProtestosController">
    <div class="modal-dialog modal-bp" role="document" ng-show="show">
		<form class="form-horizontal" id="busquedaProtestosForm" name="busquedaProtestosForm" method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="busquedaprotestosLabel">Búsqueda de Protestos y Aclaraciones</h4>
            </div>
            <div class="modal-body scroll_fix">
                <div class="borde_acl">
                    <h5 class="tit-2">Datos Persona</h5>
                    <div class="row clearfix m-b-10">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label for="rutBusquedaProtestos">* RUT Afectado</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="rutBusquedaProtestos" class="form-control" ng-rut ng-model="campo.rut" maxlength="13"
										ng-blur="validaRut()" ng-enter="validaRut()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input type="checkbox" id="prot_vigente" class="chk-col-blue-grey" ng-model="campo.vigentes" />
                            <label for="prot_vigente">Protestos Vigentes</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input type="checkbox" id="prot_aclarados" class="chk-col-blue-grey" ng-model="campo.aclarados" />
                            <label for="prot_aclarados">Protestos Aclarados</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input type="checkbox" id="omisiones" class="chk-col-blue-grey" ng-model="campo.omisiones" />
                            <label for="omisiones">Omisiones No Conciliadas</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 align-right">
                            <button type="button" class="btn btn-lg btn-primary waves-effect" ng-click="buscar()" ng-enter="buscar()">
                                <i class="material-icons">search</i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="borde_acl m-t-5">
                    <div class="row clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label for="nombre_afectado">* Nombre Afectado</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="nombre_afectado" class="form-control" ng-disabled="true" ng-model="campo.nombreAfectado" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 align-right p-t-15">
                            <span><b>{{campo.count}}</b><i> Registros Encontrados</i></span>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="body table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Selección</th>
                                        <th>Rut Afectado</th>
                                        <th>Sit. Prot.</th>
                                        <th>Tipo Doc.</th>
                                        <th>N° Operac.</th>
                                        <th>Moneda</th>
                                        <th>Monto Prot.</th>
                                        <th>Fecha Prot.</th>
                                        <th>Fecha Pago</th>
                                        <th>N° Bol. Publ.</th>
                                        <th>Estado</th>
                                        <th>Corr. Prot.</th>
                                        <th>Corr. Acl.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in lista">
                                        <td>
                                            <input type="radio" id="radio{{$index}}" name="protestos" value="{{$index}}" ng-model="campo.indice">
                                            <label for="radio{{$index}}"></label>
                                        </td>
                                        <td>{{row.rutAfectado}}</td>
                                        <td>{{row.glosaCorta}}</td>
                                        <td>{{row.tipoDocumento}}</td>
                                        <td>{{row.nroOper4Dig}}</td>
                                        <td>{{row.glosaMoneda}}</td>
                                        <td class="align-right">{{countDecimal(row.montoProt) > 2 ? (row.montoProt | currency:'':3) : (row.montoProt | currency:'':2)}}</td>
                                        <td>{{row.fecProt}}</td>
                                        <td>{{row.fecPago}}</td>
                                        <td class="align-right">{{row.nroBoletin}}</td>
                                        <td>{{row.glosaEstado}}</td>
                                        <td>{{row.corrProt}}</td>
                                        <td>{{row.corrAclId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer m-t-10">
				<button type="button" class="btn btn-lg btn-info waves-effect" data-toggle="modal" ng-click="protesto()">
					<i class="material-icons">credit_card</i> <strong>Detalle Protesto</strong>
				</button>
				<button type="button" class="btn btn-lg btn-info waves-effect" data-toggle="modal" ng-click="aclaracion()">
					<i class="material-icons">description</i> <strong>Detalle Aclaración</strong>
				</button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" ng-click="cerrar(0)">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
		</form>
    </div>
	<modaldetalleprotesto></modaldetalleprotesto>
	<modaldetalleaclaracion></modaldetalleaclaracion>
</div>
