<div class="modal fade" id="configuraciones"  tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="configuracionesLabel">Configuraciones Iniciales</h4>
            </div>
            <div class="modal-body">
                <div class="borde_acl">
                    <div class="row clearfix m-b-15">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label for="emite_boleta">Emisión Boletas</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select ng-model="configuracion.emiteBoleta" name="emite_boleta" id="emite_boleta" class="form-control" required="required">
                                    <option value="true">SI</option>
                                    <option value="false">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-15">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label for="emite_facturas">Emisión Facturas</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select ng-model="configuracion.emiteFactura" name="emite_facturas" id="emite_facturas" class="form-control" required="required">
                                    <option value="true">SI</option>
                                    <option value="false">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-15">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label for="activa_biometria">Habilitar Biometría</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <select ng-model="configuracion.biometria" name="activa_biometria" id="activa_biometria" class="form-control" required="required">
                                    <option value="true">SI</option>
                                    <option value="false">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-15">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <label for="puertocom">Puerto COM</label>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input ng-model="configuracion.puertoImpresora" type="text" id="puertocom" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg waves-effect" ng-click="aceptarConfiguracion()" data-toggle="modal" >
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-danger btn-lg waves-effect" data-dismiss="modal" data-toggle="modal" >
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
