<div class="modal fade" id="productosvigentes" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"  ng-controller="TeAvisaController">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="productosvigentesLabel">Productos Vigentes</h4>
            </div>
            <form class="form-horizontal" id="productosvigentesForm" name="productosvigentesForm" method="POST" ng-init="valido=true;">
                <div class="modal-body scroll_fix">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                            <label for="rutAfectadoInforme">* RUT Afectado:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" disabled name="rutTramitante" id="rutTramitante" ng-model="boletin.tramitante.rut" class="form-control" ng-rut placeholder="Rut Afectado" required maxlength="13"  next-focus/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-20" ng-show="!esrutjuridico">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_pat_pag">* Apellido Paterno:</label>
                                    <input  id="ap_pat_pag" disabled name="apellidoP" letters-only type="text" ng-model="boletin.tramitante.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="2" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_mat_pag">* Apellido Materno:</label>
                                    <input id="ap_mat_pag" disabled name="apellidoM" letters-only type="text" ng-model="boletin.tramitante.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="3" next-focus />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres">* Nombres:</label>
                                    <input letters-only type="text" disabled  name="nombres" id="nombres" ng-model="boletin.tramitante.nombres" tabindex="4" class="form-control" placeholder="Nombres" required maxlength="25" next-focus />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-t-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h5 class="tit-2">Productos Vigentes</h5>
                            <div class="body table-responsive">
                                <table class="table table-bordered fondo_boleta">
                                    <thead>
                                        <tr>
                                            <th>Selec.</th>
                                            <th>Servicio</th>
                                            <th>Rut Contratante</th>
                                            <th>Nom. Contratante</th>
                                            <th>RUT TeAvisa</th>
                                            <th>Nombre TeAvisa</th>
                                            <th>Fech Inicio Contr</th>
                                            <th>Fech Termino Contr</th>
                                            <th>Email</th>
                                            <th>Tel&eacute;fono Fijo</th>
                                            <th>N° Celular</th>
                                            <th>Dirección</th>
                                            <th>Flag 2</th>
                                            <th>Flag 3</th>
                                            <th>Corr. Contrato</th>
                                            <th>Nombre Contratante</th>
                                            <th>Ap. Pat. Contratante</th>
                                            <th>Ap. Mat. Contratante</th>
                                            <th>Nombres Afectado</th>
                                            <th>Ap. Pat. Afectado</th>
                                            <th>Ap. Mat. Afectado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in listaContratos">
                                            <td>
                                                <input name="idcontrato" type="radio" id="{{result.corrContrato}}" ng-model="contratoSeleccionado" value="{{result}}" ng-click="getValor(this.result)"/>
                                                <label for="{{result.corrContrato}}"></label>                                              
                                            </td>                                                
                                            
                                            <td>{{result.glosaServicio}}</td>
                                            <td>{{result.contratante.rut | rut}}</td>
                                            <td>{{result.contratante.nombres}}</td>
                                            <td>{{result.persTeAvisa.rut | rut}}</td>
                                            <td>{{result.persTeAvisa.nombres}}</td>
                                            <td>{{result.fechaInicioContrato}}</td>
                                            <td>{{result.fechaFinContrato}}</td>
                                            <td>{{result.email}}</td>
                                            <td>{{result.telfijo}}</td>
                                            <td>{{result.telcel}}</td>
                                            <td>{{result.direccion}}</td>
                                            <td ng-if="result.servcorreo">1</td>
                                            <td ng-if="!result.servcorreo">0</td>
                                            <td ng-if="result.servsms">1</td>
                                            <td ng-if="!result.servsms">0</td>
                                            <td>{{result.corrContrato}}</td>
                                            <td>{{result.contratante.nombres}}</td>
                                            <td>{{result.contratante.apellidoPaterno}}</td>
                                            <td>{{result.contratante.apellidoMaterno}}</td>
                                            <td>{{result.afectado.nombres}}</td>
                                            <td>{{result.afectado.apellidoPaterno}}</td>
                                            <td>{{result.afectado.apellidoMaterno}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="cargaUpgrade()">
                        <i class="material-icons">done</i> <strong>Upgrade</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarUpgrade()">
                        <i class="material-icons">clear</i> <strong>Cerrar</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <modalupgradeteavisa></modalupgradeteavisa>
</div>
