<div ng-controller="MedioPagoController">
   <div class="modal fade"  id="modificarmediopago" tabindex="-1" role="dialog"  data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog" role="document" ng-init="cargacajas()">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title centrado" id="modificarmediopagoLabel">Modificar Medio de Pago</h4>
            </div>
            <div class="modal-body">
               <form class="form-horizontal brd-pagos">
                  <div class="row clearfix m-b-20">
                     <h5 class="tit-2 centrado">Buscar Boletas</h5>
                  </div>
                  <div class="row clearfix m-b-20">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span><strong>Selecciona Caja</strong></span>
                        <ui-select ng-model="mediopago.caja" theme="select2" style="min-width: 250px;">
                           <ui-select-match placeholder="Seleccione Caja">{{mediopago.caja.corrCaja}}</ui-select-match>
                           <ui-select-choices repeat="cc in cajas | propsFilter: {corrCaja: $select.search}" >
                              <div ng-bind-html="cc.corrCaja | highlight: $select.search"></div>
                           </ui-select-choices>
                        </ui-select>
                     </div>
                     <div class="col-md-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <div class="form-group">
                           <div class="form-line">
                              <label for="numboleta">Número Boleta/Factura</label>
                              <input type="text" id="numboleta" numbers-only-no-dot class="form-control" ng-model="mediopago.numboletafac" required>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div>
                     <span style="color:red">
                     <span>{{mediopago.msgControl}}</span>
                     </span>
                  </div>
                  <div class="row clearfix m-b-40">
                     <div class="col-md-offset-8 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <button ng-click="buscarBoleta()" type="button" class="btn btn-lg btn-info m-t-10 m-r-10 waves-effect">
                        <i class="material-icons">search</i> <strong>Buscar</strong>
                        </button>
                        <button type="button" class="btn btn-lg btn-primary m-t-10 waves-effect" ng-click="limpiar();">
                        <i class="material-icons">autorenew</i> <strong>Limpiar</strong>
                        </button>
                     </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerralimpiaDatos()">
               <i class="material-icons">clear</i> <strong>Cancelar</strong>
               </button>
            </div>
         </div>
      </div>
   </div>
         <modaltblresuldocumento></modaltblresuldocumento>
      <modalmodpagocheque></modalmodpagocheque>
      <modalmodpagoredcompra></modalmodpagoredcompra>
      <modalmodpagotarjetacredito></modalmodpagotarjetacredito>
      <modalmodpagovalevista></modalmodpagovalevista>
</div>