<div class="modal fade" id="fintransaccion" data-keyboard="false" data-backdrop="static"  tabindex="-1" role="dialog" style="z-index: 9999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Cargando
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <h4>Espere mientras se finaliza la transacci&oacute;n.</h4>
                        <br />
                        <div><img class="imagen-center" style="width: 120px; height: 120px;" src="images/loader.gif" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
