<div class="modal fade" id="listado" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="listadoLabel">Resumen de Compras</h4>
            </div>
            <div class="modal-body">
                <h4><u>Rut Tramitante:</u> <span class="tit-2">{{tramitante.rut | rut }}</span></h4>
                <div class="table-responsive tablescroll m-b-10 m-t-10">
                    <table class="table table-bordered fondo_boleta">
                        <thead>
                            <tr>
                                <th>Rut Afectado</th>
                                <th>Boleta o Factura</th>
                                <th>N°</th>
                                <th>Nombre Servicio</th>
                                <th>Descargar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="documento in resumen.lista">
                                <td scope="row"><strong>{{documento.rutAfectado | rut}}</strong></td>
                                <td>{{documento.tipoDocumento}}</td>
                                <td>{{documento.numeroBoleta}}</td>
                                <td>{{documento.glosaServicio}}</td>
                                <!-- <td class="centrado"><a href="rest/pagos/descargacertificado/{{documento.rutaPDF}}"  target="_blank"><i class="material-icons">picture_as_pdf</i></a></td>-->
                                <td class="centrado">
                                	<div ng-if="documento.flagImprime == '0'">
	                                	<a href="rest/pagos/descargacertificado/{{documento.rutaPDF}}"  target="_blank"><i class="material-icons">picture_as_pdf</i></a>
	                                </div>		                                                              
                                </td>
                            </tr>
                        </tbody>
						<!-- <tfoot>
						    <tr>
						      <td colspan="5">Imprimir Todos<a href="javascript:void(0);" ng-click="imprimeTodos()"  target="_blank"><i class="material-icons">picture_as_pdf</i></a></td>
						      <td></td>
						    </tr>
						  </tfoot>
						-->                        
                    </table>
                </div>
                <div class="table-responsive tablescroll m-b-10">
                    <table class="table table-bordered fondo_boleta" ng-show="!esAgencia && facturasEmitidas.length > 0">
                        <thead>
                            <tr>
                                <th>N° Factura</th>
                                <th>Fact. C/Cedible</th>
                                <th>Fact. S/Cedible</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="factura in facturasEmitidas">
                                <td>{{ factura.numeroFactura }}</td>
                                <td class="centrado"><a href="rest/factura/descargar/{{factura.pdf}}_c.pdf" target="_blank"><i class="material-icons">picture_as_pdf</i></a></td>
                                <td class="centrado"><a href="rest/factura/descargar/{{factura.pdf}}.pdf" target="_blank"><i class="material-icons">picture_as_pdf</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4><u>Monto:</u> <span class="tit-2">{{totalCobrar | number}}</span></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cancelarTransaccion()" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>