<div class="modal fullscreen-modal fade" id="aclaracion" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="AclaracionController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="aclaracionLabel">Ingreso de Aclaración</h4>
            </div>
            <div class="modal-body p-t-0">
            <form class="form-horizontal" id="informeAclaracionForm" name="informeAclaracionForm" method="POST">
                <div class="borde_acl">
                    <div class="row clearfix m-b-10">
                        <h4 class="m-l-20">Datos del Afectado</h4>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <label for="rut_afectado">*Rut Afectado: </label>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" ng-disabled="!editableAcl" id="rutAfectadoAclaracion" name="rutAfectadoAclaracion" id="rutAfectadoAclaracion" ng-blur="buscaAfectado()" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Afectado" required maxlength="13" ng-enter="buscaAfectado()"/>
                                    </div>              
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 align-left">
                            <button type="button" ng-disabled="!editableAcl" name="cargaTramitante" ng-click="cargaTramitante()" class="btn btn-lg btn-primary waves-effect">
                                <i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row clearfix m-b-5" ng-show="!esrutjuridico">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label for="ap_pat_acl">*Ap. Paterno: </label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                      <input ng-disabled="!editableAcl" id="apPaterno" name="apellidoP"  letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label for="ap_mat_acl">Ap. Materno: </label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input ng-disabled="!editableAcl"  id="apMaterno" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" next-focus />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label for="nombres_acl">*Nombres: </label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input letters-only ng-disabled="!editableAcl" type="text" id="nombres"  name="nombres" ng-model="afectado.nombres" class="form-control" placeholder="Nombres" required maxlength="25" next-focus />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button type="button" class="btn btn-lg btn-success waves-effect pull-right" ng-enter="siguiente()" ng-click="siguiente()" next-focus>
                                <i class="material-icons">done</i> <strong>Aceptar</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row clearfix m-b-5" ng-if="esrutjuridico">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label for="nombresafectado">* Nombre Afectado</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input letters-only-business ng-disabled="!editableAcl" type="text"  name="nombresafectado" id="nombresafectado" ng-model="afectado.nombreafectado" class="form-control" placeholder="Nombre Afectado" required maxlength="75" next-focus/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                            <button type="button" class="btn btn-lg btn-success waves-effect pull-right" ng-enter="siguiente()" ng-click="siguiente()" next-focus>
                                <i class="material-icons">done</i> <strong>Aceptar</strong>
                            </button>
                        </div>                        
                    </div>
                </div>
                <div ng-show="habilitado" class="m-t-5">
                    <div class="row clearfix">
                        <uib-tabset active="active">
                            <uib-tab index="0" heading="Datos del Emisor" ng-click="onTabSelect()"  disable="true">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 borde_acl p-b-15 p-t-15">
                                     <h5 class="tit-2">Tipo Documento</h5>
                                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centrado">
                                         <div class="form-group">
                                          <ui-select ng-model="aclaracion.tipodocumento" ng-disabled="biperCamposBloq" focus-on="UiSelectTipoDoc" theme="select2" ng-disabled="false" style="min-width: 250px;" on-select="habilitaEstado(); obtieneTipoEmisor(); documentosAcl(); setEstadoCuota();" next-focus>
                                             <ui-select-match placeholder="Seleccione Tipo Documento">{{aclaracion.tipodocumento.descripcion}}</ui-select-match>
                                             <ui-select-choices repeat="cc in tiposDocumentos | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                               <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                             </ui-select-choices>
                                         </ui-select>
                                         </div>
                                     </div>
                                </div>                            
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 borde_acl p-b-15 p-t-15">
                                    <h5 class="tit-2">Tipo Emisor</h5>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centrado">
                                        <div class="form-group">
                                            <ui-select ng-model="aclaracion.tipoemisor" ng-disabled="biperCamposBloq" theme="select2" focus-on="UiSelectTipoEmisor" ng-disabled="false" style="min-width: 250px;" on-select="obtieneEmisores(aclaracion.tipoemisor.codigo)" next-focus>
                                                <ui-select-match placeholder="Seleccione Tipo Emisor">{{aclaracion.tipoemisor.descripcion}}</ui-select-match>
                                                <ui-select-choices repeat="cc in tiposEmisores | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                                  <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 borde_acl p-b-15 p-t-15">
                                    <h5 class="tit-2">Emisores</h5>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centrado">
                                        <div class="form-group">
                                             <ui-select ng-model="aclaracion.emisor" ng-disabled="biperCamposBloq" theme="select2" focus-on="UiSelectEmisor" ng-disabled="false"  focus-on="UiSelectEmisor" style="min-width: 250px;" on-select="cargaSucursal();limpiaFirmantes();" next-focus>
                                                <ui-select-match placeholder="Seleccione Emisor">{{aclaracion.emisor.descripcion}}</ui-select-match>
                                                <ui-select-choices repeat="cc in emisores | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                                  <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 borde_acl p-b-15 p-t-15">
                                    <h5 class="tit-2">Documentación Presentada</h5>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centrado">
                                        <div class="form-group">
                                             <ui-select ng-model="aclaracion.docpresentada" ng-disabled="biperCamposBloq" theme="select2" focus-on="UiSelectDocPresentada" ng-disabled="false" style="min-width: 250px;" on-select="setTab()">
                                                <ui-select-match placeholder="Seleccione Documento">{{aclaracion.docpresentada.descripcion}}</ui-select-match>
                                                <ui-select-choices repeat="cc in listadocumentos | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                                  <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="Datos del Firmante" ng-click="onTabSelect()" disable="true">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 borde_acl fij_firm p-t-10">
                                    <h5 class="tit-2">Firma</h5>
                                    <div class="row clearfix m-b-15">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <label for="sucursal_firm">Sucursal: </label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <ui-select ng-model="aclaracion.sucursal" theme="select2" focus-on="UIsucursal" id="sucursal" ng-disabled="disableSucursal" style="min-width: 250px;" next-focus>
                                                <ui-select-match placeholder="Seleccione Sucursal">{{aclaracion.sucursal.glosaSucursal}}</ui-select-match>
                                                <ui-select-choices repeat="cc in sucursales | propsFilter: {glosaSucursal: $select.search, codSucursal: $select.search}" >
                                                  <div ng-bind-html="cc.codSucursal +' - '+ cc.glosaSucursal | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="row clearfix m-b-10 m-l-10">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <label for="rut_firmante">Rut Firmante: </label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input  type="text" id="rutfirmante" ng-model="aclaracion.firmante.rut" next-focus ng-blur="validaFirmante()" class="form-control" ng-rut required maxlength="13" required next-focus>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix m-b-10  m-l-10">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <label for="ap_pat_firmante">Apellido Paterno: </label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" letters-only id="ap_pat_firmante" next-focus ng-model="aclaracion.firmante.apellidoPaterno" class="form-control" required next-focus>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix m-b-10  m-l-10">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <label for="ap_mat_firmante">Apellido Materno: </label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" letters-only id="ap_mat_firmante" next-focus class="form-control" ng-model="aclaracion.firmante.apellidoMaterno" required next-focus>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix m-b-10 m-l-10">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                                            <label for="nombre_firmante">Nombres: </label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" letters-only id="nombre_firmante" next-focus class="form-control" ng-model="aclaracion.firmante.nombres" required next-focus>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-right">
                                            <span ng-show="usafirma == 1">
                                                <button type="button" class="btn btn-lg btn-info waves-effect" next-focus data-toggle="modal" ng-click="buscaFirmas()" ng-enter="buscaFirmas()" >
                                                    <i class="material-icons">description</i> <strong>Ver Firma</strong>   
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 borde_acl p-t-10 fij_firm">
                                    <div class="row clearfix m-b-10">
                                        <h5 class="tit-2">Firmantes Seleccionados</h5>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="min-height: 100px;">
                                            <div class="body tablescroll_acl">
                                                <table class="table table-bordered">
                                                    <thead class="color_table">
                                                        <tr>
                                                            <th class="pa_acl">RUT</th>
                                                            <th class="pa_acl">NOMBRE</th>
                                                            <th class="pa_acl"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="scroll_acl">
                                                    	<tr ng-repeat="result in listafirmantes">
                                                            <td>{{result.firmante.rut | rut}}</td>
                                                            <td>{{result.firmante.nombres}} {{result.firmante.apellidoPaterno}} {{result.firmante.apellidoMaterno}}</td>
                                                            <td>
						                                        <button type="button" class="btn btn-danger btn-grilla waves-effect"  data-toggle="modal" ng-click="quitarFirma($index)">
						                                            <i class="material-icons"  data-toggle="tooltip" data-placement="bottom" title="Eliminar Tramitante">clear</i>
						                                        </button>
						                                    </td>
                                                    	</tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="usaconfirmatorio == 1 " class="row clearfix">
                                        <h5 class="tit-2">Composición N° Confirmatorio</h5>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-l-0 p-r-0">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <label for="compos_serie">Serie: </label>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="compos_serie" next-focus numbers-only ng-model="numeroconfirmatorio.serie"  class="form-control"  maxlength="8" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-l-0 p-r-0">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <label for="compos_folio">Folio: </label>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="compos_folio" next-focus numbers-only ng-model="numeroconfirmatorio.folioNro" class="form-control" maxlength="4" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 p-l-0 p-r-0">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <label for="compos_confirmatorio">Nº Confir: </label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="compos_confirmatorio" next-focus numbers-only ng-model="numeroconfirmatorio.nroConfirmatorio" maxlength="4" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span>
                                        	<button type="button" class="btn btn-primary waves-effect pull-right m-t-10 m-b-10" ng-click="validaConfirmatorio()">
                                                <i class="material-icons">search</i> <strong>Buscar</strong>   
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="Datos del Documento a Aclarar" ng-click="onTabSelect()"  disable="true">
                                <div class="row m-l-5 m-r-5">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 borde_acl cuadro_acl">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="numoperacion">Nº Operación</label>
                                                    <input type="text" ng-disabled="biperCamposBloq" id="numoperacion" numbers-only-no-dot  class="form-control" ng-model="aclaracion.numoperacion"  next-focus required maxlength="4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 borde_acl cuadro_acl">
                                        <label for="moneda_acl">Moneda</label>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group centrado">
	                                             <ui-select ng-model="aclaracion.tipomoneda" id="moneda_acl" theme="select2" ng-disabled="biperCamposBloq" style="min-width: 270px;" on-select="cambiaFocoMonto()">
	                                                <ui-select-match placeholder="Seleccione Tipo Moneda">{{aclaracion.tipomoneda.glosaCorta}}</ui-select-match>
	                                                <ui-select-choices repeat="cc in tiposMonedas | propsFilter: {glosaMoneda: $select.search, codMoneda: $select.search}" >
	                                                  <div ng-bind-html="cc.codMoneda +' - '+ cc.glosaMoneda | highlight: $select.search"></div>
	                                                </ui-select-choices>
	                                            </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 borde_acl cuadro_acl">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="monto_acl">Monto</label>
                                                    
                                                    <input  type="text" ng-disabled="biperCamposBloq"  numbers-only id="monto_acl" next-focus ng-model="aclaracion.monto" class="form-control" value="{{aclaracion.monto}}" ng-blur="validaDecimal(aclaracion.monto)" maxlength="12" required >

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 borde_acl cuadro_acl">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="fecha_prot_acl">Fecha Protesto</label>
                                                    <input type="text" ng-disabled="biperCamposBloq" id="fecha_prot_acl" class="form-control" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="aclaracion.fechaprotesto" required ng-blur="esfecha(aclaracion.fechaprotesto, 'protesto')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-15 m-b-15 m-l-10 m-r-10">
                                    <div  ng-show="estadoHabi" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label for="estado_cuota">Estado Cuota</label>
                                            <!-- <select class="form-control show-tick" ng-disabled="!estadoHabi" ng-model="aclaracion.estadocuota" ng-change="cambiaFocoFecha()">
                                                <option value="1">Pagada</option>
                                                <option value="6">Pendiente</option>
                                            </select>
                                            -->
                                            <div ng-show="estadoHabi">
    										    <select class="form-control show-tick" id="estado_cuota"  ng-disabled="biperCamposBloq" ng-model="aclaracion.estadocuota" ng-change="cambiaFocoFecha()" ng-enter="cambiaFocoFecha()" placeholder="Seleccione estado Cuota">
                                                    <!-- <option value = "0" label = "Seleccione Estado Cuota"></option>-->
    										        <!--<option ng-repeat="sel in estadosCuota" value="{{aclaracion.estadocuota}}">{{sel.label}}</option>-->
                                                    <option ng-repeat="sel in estadosCuota" ng-selected="aclaracion.estadocuota === sel.value" value="{{aclaracion.estadocuota}}">{{sel.label}}</option>

    										    </select>         
                                            </div>
										                                     
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="fecha_pago_acl">Fecha Pago</label>
                                                    <input type="text" id="fecha_pago_acl" ng-disabled="biperCamposBloq" ui-mask="99-99-9999" next-focus ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control" maxlength="10" ng-model="aclaracion.fechapago" required ng-blur="esfecha(aclaracion.fechapago, 'pago')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="nboletin_acl">Nº Boletín</label>
                                                    <input type="text" id="nboletin_acl" ng-enter="cambiaFocoVolver()" class="form-control" ng-disabled="biperCamposBloq" numbers-only-no-dot  maxlength="4" ng-model="aclaracion.numboletin" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="disableBiper"  class="row borde_acl m-l-5 m-r-5 p-t-10 p-b-10">
                                    <p><b><u>Datos Bipersonales</u></b></p>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="rut_bi">Rut Afectado: </label>
                                                    <input type="text" id="rut_bi" class="form-control" ng-rut maxlength="13" next-focus  ng-blur="obtenerBipersonal()" ng-enter="obtenerBipersonal()" ng-model="bipersonal.rut" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!esrutjuridico" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="ap_pat_bi">Apellido Paterno: </label>
                                                    <input type="text" id="ap_pat_bi" class="form-control" letters-only next-focus ng-model="bipersonal.apellidoPaterno" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                                        <div ng-show="!esrutjuridico" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="ap_mat_bi">Apellido Materno: </label>
                                                    <input type="text" id="ap_mat_bi" class="form-control" letters-only ng-model="bipersonal.apellidoMaterno" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="!esrutjuridico" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="nombre_bi">Nombres: </label>
                                                    <input type="text" id="nombre_bi" class="form-control" letters-only next-focus ng-model="bipersonal.nombres" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix" ng-show="esrutjuridico">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <label for="nombres_afectado">* Nombre Afectado:</label>
                                                        <input letters-only-business type="text" id="nombres_bipersona" ng-blur="cambiaFocoVolver()" name="nombresbipersonal" ng-model="bipersonal.nombres" class="form-control" placeholder="Nombre Afectado" required maxlength="75" next-focus/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                           
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                                            <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="aclaraBipersonal()">
                                                <i class="material-icons">person</i> <strong>Aceptar</strong>
                                            </button>
                                            <button type="button" class="btn btn-lg btn-primary waves-effect" ng-click="limpiaForm()">
                                                <i class="material-icons">thumb_up</i> <strong>Terminar</strong>
                                            </button>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer" ng-show="habilitadoBoton">
                <button type="button" next-focus id="botAnterior" class="btn btn-info btn-lg waves-effect" ng-click="anteriorTab();"><i class="material-icons">arrow_back</i> ANTERIOR</button>
                <button type="button" ng-show="avanza" class="btn btn-info btn-lg waves-effect" ng-click="confirmatorioOpcional(); siguienteTab();"><i class="material-icons">arrow_forward</i> SIGUIENTE</button>
                <button ng-show="botonAceptar" type="button" class="btn btn-success btn-lg waves-effect" ng-click="aceptaAclaracion()"><i class="material-icons">done</i> ACEPTAR</button>
               <button type="button" class="btn btn-primary btn-lg waves-effect" ng-click="resetForm2()"><i class="material-icons">autorenew</i> LIMPIAR</button>                
                <button type="button" class="btn btn-danger btn-lg waves-effect" ng-click="cerrar()"><i class="material-icons">clear</i> CERRAR</button>
            </div>
            <div class="modal-footer" ng-show="!habilitadoBoton">
                <button type="button" class="btn btn-danger btn-lg waves-effect" ng-click="cerrar()"><i class="material-icons">clear</i> CERRAR</button>
            </div>            
        </div>
    </div>
    <modalverfirma></modalverfirma>
    <imgfirma></imgfirma>
    <modalprotestosencontrados></modalprotestosencontrados>
    <modalcuotasmorosasanteriores></modalcuotasmorosasanteriores>
    <modalventacartera></modalventacartera>
</div>
