<div class="modal fade" id="detalletransaccionfactura" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="detalletransaccionfacturaLabel">Detalle Factura</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 align-right">
                            <h5 class="tit-2">FACTURACIÓN ELECTRÓNICA</h5>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <label for="num_factura">N°</label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <div class="form-line">
                                    {{detalleboletaDto.nroBoletaFactura}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="fecha_detalle_factura">Fecha</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="form-line">
                                    {{detalleboletaDto.fecInicioCaja |  date :  "dd.MM.y"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <label for="nombre_detalle_factura">Señores</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 m-l-5">
                            <div class="form-group">
                                <div class="form-line">
                                    {{detalleboletaDto.detalleFactura.razonSocial}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <label for="rut_detalle_factura">Rut</label>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <div class="form-group">
                                <div class="form-line">
                                   {{detalleboletaDto.detalleFactura.rutAfectado}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="direccion_detalle_factura">Dirección</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="form-line">
                                    {{detalleboletaDto.detalleFactura.direccion}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="ciudad_detalle_factura">Ciudad</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <div class="form-group">
                                <div class="form-line">
                                    {{detalleboletaDto.detalleFactura.ciudad}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="comuna_detalle_factura">Comuna</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <div class="form-group">
                                <div class="form-line">
                                    {{detalleboletaDto.detalleFactura.comuna}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <label for="giro_detalle_factura">Giro</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 m-l-5">
                            <div class="form-group">
                                <div class="form-line">
                                    {{detalleboletaDto.detalleFactura.idGiro}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="atencion_detalle_factura">Atencion a</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="form-line">
                                     {{detalleboletaDto.detalleFactura.razonSocial}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive scroll_factura">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Cantidad</th>
                                        <th>Detalle</th>
                                        <th>Precio Unit.</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in detalleboletaDto.datosBoletaFactura">
                                        <td>{{result.codigo}}</td>
                                        <td>{{result.cantidad}}</td>
                                        <td>Inf. Comercial</td>
                                        <td class="align-right">{{result.totalCalculado}}</td>
                                        <td class="align-right">{{result.totalCalculado * result.cantidad}}</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-t-10 m-b-25">
                    <div class="col-xs-offset-9 col-sm-offset-9 col-md-offset-9 col-lg-offset-9 col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <tbody>
                                    <tr>
                                        <th style="width: 50%">Subtotal</th>
                                        <td class="align-right">{{detalleboletaDto.detalleFactura.montoNeto}}</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 50%">Total Afecto</th>
                                        <td class="align-right">{{detalleboletaDto.detalleFactura.montoNeto}}</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 50%">Monto Exento</th>
                                        <td class="align-right">0</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 50%">IVA</th>
                                        <td class="align-right">{{detalleboletaDto.detalleFactura.montoIva}}</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 50%">Total</th>
                                        <td class="align-right">{{detalleboletaDto.detalleFactura.montoNeto + detalleboletaDto.detalleFactura.montoIva}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarDetalleFactura()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>