<div class="modal fullscreen-modal fade" id="detalleusuario" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="detalleusuarioLabel">Cuadratura a Nivel de Cajas de un Usuario en un Centro de Costo</h4>
            </div>
            <div class="modal-body scroll_cc">
                <div class="borde_acl">
                    <h5 class="tit-2">Lista de Cajas que se abrieron para el usuario en el siguiente periodo</h5>
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="nombrecc">Centro de Costo</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{cuadraturaUserList.centroCosto}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <label for="usuario_detalle">Usuario</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{cuadraturaUserList.usuario}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <label for="desde_cc">Desde</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{cuadraturaUserList.fechaDesde}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <label for="hasta_cc">Hasta</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{cuadraturaUserList.fechaHasta}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10 m-t-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Sel</th>
                                        <th>N° Caja</th>
                                        <th>Fecha Inicio<br>Caja</th>
                                        <th>Estado <br>Caja</th>
                                        <th>Monto <br>Calculado</th>
                                        <th>Monto <br>Ingresado</th>
                                        <th>Diferencia (+)</th>
                                        <th>Diferencia (-)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in cuadraturaUserList.resultadoUsuarios">
                                        <td>
                                            <input name="usuarioSel" type="radio" id="{{result.corrCaja}}" ng-click="getValor(this.result)" ng-model="result.centroSeleccionadocheck" value="false" value="nuevo" next-focus focus-me/>
                                            <label for="{{result.corrCaja}}"></label>
                                        </td>
                                        <td>{{result.corrCaja}}</td>
                                        <td>{{result.fechaInicio}}</td>
                                        <td class="centrado">{{result.estadoCaja}}</td>
                                        <td class="align-right">{{result.montoCalculado | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.montoIngresadoCajera | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.diferenciaPos | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.diferenciaNeg | currency:undefined:0}}</td>
                                    </tr>
                                 </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Monto <br>Calculado</th>
                                        <th>Monto <br>Ingresado</th>
                                        <th>Diferencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Suma $</th>
                                        <td class="align-right">{{cuadraturaUserList.montoResuTransacciones | currency:undefined:0}}</td>
                                        <td class="align-right">{{cuadraturaUserList.montoResuIngCajera | currency:undefined:0}}</td>
                                        <td class="align-right">{{cuadraturaUserList.montoResuDiferencia | currency:undefined:0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimeDetalleUsuario()">
                    <i class="material-icons">print</i> <strong>Imprimir</strong>
                </button>
                <button type="button" class="btn btn-lg btn-primary waves-effect" data-toggle="modal" ng-click="cuadraturaGeneralPorCaja()">
                    <i class="material-icons">description</i> <strong>Cuadratura General</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarCuadUsuario()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
