<div ng-controller="ModalCambiarContrasenaController as ctrl">
	<div class="modal fade" id="cambiarcontrasena" tabindex="-1" role="dialog">
		    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title centrado" id="cambiarcontrasenaLabel">Cambiar Contraseña</h4>
	            </div>
	            <div class="modal-body">
	            	<form  id="cambiarcontrasenaForm" name="ctrl.formulario">
		                <div class="row clearfix m-t-20">
		                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			                    <div class="row clearfix">
			                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			                            <label for="frm_contrasena_actual">* Ingrese Actual Contraseña: </label>
			                        </div>
			                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			                            <div class="form-group">
			                                <div class="form-line">
			                                    <input name="contrasena" ng-model="form.contrasena" type="password" id="frm_contrasena_actual" class="form-control" maxlength="30" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" required autofocus>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			                            <span class="error_pass" ng-show="ctrl.formulario.contrasena.$dirty && ctrl.formulario.contrasena.$invalid">
											<span ng-show="ctrl.formulario.contrasena.$error.required" !important;">Contraseña actual es obligatoria</span>
										</span>
			                        </div>
			                    </div>
		                        <div class="row clearfix">
		                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		                                <label for="frm_nueva_contrasena">* Nueva Contraseña: </label>
		                            </div>
		                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		                                <div class="form-group">
		                                    <div class="form-line">
		                                        <input ng-blur="validaFormato(this.form.contrasena_nueva, 'nueva1')" name="contrasena_nueva" ng-model="form.contrasena_nueva" type="password" id="frm_nueva_contrasena" class="form-control" minlength="6" maxlength="30" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" required disallow-spaces next-focus>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		                                <span class="error_pass" ng-show="ctrl.formulario.contrasena_nueva.$dirty && ctrl.formulario.contrasena_nueva.$invalid">
											<span ng-show="ctrl.formulario.contrasena_nueva.$error.required">Nueva Contraseña es obligatoria</span>
											<span ng-show="ctrl.formulario.contrasena_nueva.$error.pattern">Nueva Contraseña debe ser alfanumérica tener mínimo 8 y máximo 30 caracteres</span>
										</span>
		                            </div>
		                        </div>
		                        <div class="row clearfix">
		                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		                                <label for="frm_confirmar_nueva_contrasena">* Confirmar Nueva Contraseña: </label>
		                            </div>
		                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		                                <div class="form-group">
		                                    <div class="form-line">
		                                        <input ng-blur="validaFormato(this.form.contrasena_nueva_confirmar, 'nueva2')" name="contrasena_nueva_confirmar" ng-model="form.contrasena_nueva_confirmar" type="password" id="frm_confirmar_nueva_contrasena" class="form-control" minlength="6" maxlength="30" ng-cut="$event.preventDefault()" ng-copy="$event.preventDefault()" ng-paste="$event.preventDefault()" required disallow-spaces next-focus>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		                                <span class="error_pass" ng-show="ctrl.formulario.contrasena_nueva_confirmar.$dirty && ctrl.formulario.contrasena_nueva_confirmar.$invalid">
											<span ng-show="ctrl.formulario.contrasena_nueva_confirmar.$error.required">Confirmar Nueva Contraseña es obligatoria</span>
											<span ng-show="ctrl.formulario.contrasena_nueva_confirmar.$error.pattern">Confirmar Nueva Contraseña debe ser alfanumérica y tener mínimo 8 y máximo 30 caracteres</span>
										</span>
		                            </div>
		                        </div>
		                    </div>
		                </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="aceptar()" ng-disabled="ctrl.formulario.$invalid">
	                	<i class="material-icons">done</i> <strong>Aceptar</strong>
	                </button>
	                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar()">
	                	<i class="material-icons">clear</i> <strong>Cerrar</strong>
	                </button>
	            </div>
	        </div>
	    </div>
	</div>
</div>
