<div class="modal fade" id="aceptatransaccion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aceptatransaccionLabel">Confirmación</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                <h3>¿Desea aceptar la transacción para el Tramitante Rut <b>{{tramitante.rut}}</b>?</h3>
                <br><br>
                <button type="button" class="btn btn-lg btn-success waves-effect" data-toggle="modal" data-target="#listado" data-dismiss="modal">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
