<div class="modal fade" id="confirmarsalircarrocompra" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="cambiarcajaLabel">Aviso</h4>
            </div>
            <div class="modal-body">
                <div class="centrado">
                    <i class="material-icons big-icon-warning">warning</i>
                    <br>
                    <h4>¿Está seguro que quiere salir?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" data-dismiss="modal" data-toggle="modal" data-target="#confirmarcierrecaja">
                    <i class="material-icons">done</i> <strong>SI</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>NO</strong>
                </button>
            </div>
        </div>
    </div>
</div>
