<div class="modal fade" id="bc_select" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" ng-controller="TeAvisaController">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="bc_selectLabel">Boletín Comercial Te Avisa</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <label for="lista_opciones">Elija Opción</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <select id="lista_opciones" ng-model="opcion" class="form-control" required="required">
                                <option value="R">Renovar</option>
                                <option value="C">Contratar</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="eleccion()">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>

                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
    <modalboletincontrato></modalboletincontrato>
    <modalbcbusqueda></modalbcbusqueda>
    <modalboletinrenovacion></modalboletinrenovacion>
    
</div>
