<div class="modal fullscreen-modal fade" id="detalleaclaracion" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="detalleaclaracionLabel">Detalle Aclaración</h4>
            </div>
            <div class="modal-body p-t-0">
                <h5 class="tit-2">Listado de Nombres Afectados</h5>
                <div class="row clearfix m-b-5">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="table-responsive tablescroll_boleta">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
										<th>Rut</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Nombres</th>
                                    </tr>
                                </thead>
                                <tbody>
									<tr ng-repeat="row in acl.lista">
										<td>{{row[0] | rut}}</td>
										<td>{{row[1]}}</td>
										<td>{{row[2]}}</td>
										<td>{{row[3]}}</td>
									</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Información de la Aclaración">
                            <div class="borde_acl_2 p-t-5 p-b-5">
                                <div class="row clearfix">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="corr_acl_detalle">Corr. Aclaración:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="corr_acl_detalle" class="form-control" ng-disabled="true" ng-model="acl.corrAcl">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="corr_protesto_detalle">Corr Protesto:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="corr_protesto_detalle" class="form-control" ng-disabled="true" ng-model="acl.corrProt">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="fecha_acl_detalle">Fecha Aclaración:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="fecha_acl_detalle" class="form-control" ng-disabled="true" ng-model="acl.fecDigitacion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="fecha_pago_detalle">Fecha Pago:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="fecha_pago_detalle" class="form-control" ng-disabled="true" ng-model="acl.fecPago">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="num_caja_detalle">N° Caja:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="num_caja_detalle" class="form-control" ng-disabled="true" ng-model="acl.corrCaja">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="usuario_detalle">Usuario:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="usuario_detalle" class="form-control" ng-disabled="true" ng-model="acl.codUsuario">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="codigo_cc">Código CC:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="codigo_cc" class="form-control" ng-disabled="true" ng-model="acl.codCCosto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="glosa_cc">Glosa CC:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="glosa_cc" class="form-control" ng-disabled="true" ng-model="acl.glosaCCosto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="docum_acl_detalle">Documento Aclaración:</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line"> 
                                                    <input type="text" id="docum_acl_detalle" class="form-control" ng-disabled="true" ng-model="acl.glosaTipoDocAclaracion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Datos Tramitante">
                            <div class="borde_acl_2 p-t-5 p-b-5">
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="rut_solicitante">Rut Solicitante:</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="rut_solicitante" class="form-control" ng-disabled="true" ng-model="tram.rutTramitante">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="nombre_solicitante">Nombre Solicitante:</label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="nombre_solicitante" class="form-control" ng-disabled="true" value="{{tram.nombres +' '+ tram.apellidoPaterno +' '+ tram.apellidoMaterno}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="telefono_tramitante">Teléfono:</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="telefono_tramitante" class="form-control" ng-disabled="true" ng-model="tram.telefono">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="email_tramitante">Email:</label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="email_tramitante" class="form-control" ng-disabled="true" ng-model="tram.email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <label for="direccion_tramitante">Dirección:</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="direccion_tramitante" class="form-control" ng-disabled="true" ng-model="tram.direccion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="region_tramitante">Región:</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="region_tramitante" class="form-control" ng-disabled="true" ng-model="tram.region">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="comuna_tramitante">Comuna:</label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="comuna_tramitante" class="form-control" ng-disabled="true" ng-model="tram.comuna">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar(2)">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>

