<div class="modal fade" id="boletincontrato" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="boletincontratoLabel">Boletin Comercial Te Avisa</h4>
            </div>
            <form class="form-horizontal" id="boletincontratoForm" name="boletincontratoForm" method="POST" ng-init="valido=true;">
                <div class="modal-body">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                            <label for="rutContratanteInforme">* RUT Contratante:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                <input type="text" name="rutContratanteInforme" id="rutContratanteInforme" ng-blur="buscaAfectado()" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Contratante" required maxlength="13"  ng-enter="buscaAfectado()" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" name="cargaTramitante" class="btn btn-lg btn-primary waves-effect" ng-click="cargaTramitante()" ng-enter="cargaTramitante()" next-focus>
                                <i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row clearfix" ng-show="!esrutjuridico">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_pat_pag">* Apellido Paterno:</label>
                                    <input  id="ap_pat_pag" style="text-transform:uppercase" name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="2" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_mat_pag">Apellido Materno:</label>
                                    <input id="ap_mat_pag" style="text-transform:uppercase" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="3" next-focus />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres">* Nombres:</label>
                                    <input letters-only style="text-transform:uppercase" type="text" id="nombres" name="nombres" ng-model="afectado.nombres" tabindex="4" class="form-control" placeholder="Nombres" required maxlength="25" next-focus />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" ng-if="esrutjuridico">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres_afectado">* Nombre Empresa:</label>
                                    <input letters-only-business style="text-transform:uppercase" id="nombres_afectado" type="text"  name="nombresafectado" ng-model="afectado.nombres" class="form-control" placeholder="Nombre Empresa" required maxlength="75" next-focus/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <uib-tabset>
                            <uib-tab index="0" heading="Información de Servicio">
                                <div class="borde_acl">
                                    <div class="row clearfix m-b-20">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-l-30">
                                            <label for="direccion_bc">Dirección:</label>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input style="text-transform:uppercase" type="text" id="direccion_bc" maxlength="50" next-focus letters-no-backslash ng-spaceless ng-model="boletin.direccion" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix m-b-20">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <label for="telefonof_bc">Teléfono Fijo:</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" ng-spaceless ng-pattern="/(^[1-9][0-9]*$)/" ng-blur="noCeros(this.boletin.telfijo, 'telefonof_bc')" placeholder="Teléfono Fijo" maxlength="11"  next-focus numbers-only-no-dot id="telefonof_bc" ng-model="boletin.telfijo" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <label for="telefonom_bc">Teléfono Móvil:</label>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" ng-spaceless ng-pattern="/(^[1-9][0-9]*$)/" ng-blur="noCeros(this.boletin.telcel, 'telefonom_bc')" placeholder="Teléfono Móvil" required maxlength="11"  next-focus numbers-only-no-dot id="telefonom_bc" ng-model="boletin.telcel" class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix m-b-20">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <label for="correo1_bc">Email:</label>
                                            </div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="correo1_bc" next-focus ng-spaceless ng-model="boletin.email" class="form-control" ng-blur="validateEmail(this.boletin.email, 'email1')"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <label for="correo2_bc">Confirmación Email:</label>
                                            </div>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="correo2_bc" next-focus ng-spaceless ng-model="boletin.email2" class="form-control" ng-blur="validateEmail(this.boletin.email2, 'email2')"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="row clearfix m-b-5">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <h5 class="tit-2">Servicios a Contratar</h5>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <input type="checkbox" id="serv_correo" ng-model="boletin.servcorreo" next-focus/>
                                            <label for="serv_correo">Servicio Correo</label>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <input type="checkbox" id="serv_sms" ng-model="boletin.servsms" next-focus/>
                                            <label for="serv_sms">Servicio SMS</label>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="Datos Te Avisa">
                                <div class="borde_acl" ng-show="!esrutjuridico">
                                    <div class="row clearfix m-b-20">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                                            <label for="rutTeAvisaInforme">* RUT Te Avisa:</label>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                <input type="text" ng-disabled="soloLectura" name="rutTeAvisaInforme" id="rutTeAvisaInforme"  ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Te Avisa" required maxlength="13" next-focus/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix m-b-20">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="ap_pat_pag">* Apellido Paterno:</label>
                                                    <input  id="ap_pat_pag" ng-disabled="soloLectura" name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="2" next-focus/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="ap_mat_pag">Apellido Materno:</label>
                                                    <input id="ap_mat_pag" ng-disabled="soloLectura" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="3" next-focus />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <label for="nombres">* Nombres:</label>
                                                    <input letters-only ng-disabled="soloLectura" type="text" id="nombres" name="nombres" ng-model="afectado.nombres" tabindex="4" class="form-control" placeholder="Nombres" required maxlength="25" next-focus />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
			                    <div class="row clearfix" ng-if="esrutjuridico">
			                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			                            <div class="form-group">
			                                <div class="form-line">
			                                    <label for="nombres_afectado">* Nombre Empresa:</label>
			                                    <input letters-only-business id="nombres_afectado" type="text"  name="nombresafectado" ng-model="afectado.nombres" class="form-control" placeholder="Nombre Empresa" required maxlength="75" next-focus/>
			                                </div>
			                            </div>
			                        </div>
			                    </div>                                
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="validarContrato()">
                        <i class="material-icons">done</i> <strong>Aceptar</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarContrato()">
                        <i class="material-icons">clear</i> <strong>Cerrar</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
