<div class="modal fullscreen-modal fade" id="cuadratura" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="cuadraturaLabel">Informe y Cuadratura de Cajas</h4>
            </div>
            <div class="modal-body scroll_fix2">
                <div class="row clearfix">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 borde_acl_2 tablescroll2">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Selec.</th>
                                        <th>N° Caja</th>
                                        <th>Cod CC</th>
                                        <th>Nombre CC</th>
                                        <th>Hr Apertura</th>
                                        <th>Hr Cierre</th>
                                    </tr>
                                </thead>
                                <tbody ng-if="!cuadXCcs">
                                    <tr ng-repeat="result in cuadraturaGnrl.listadoCajas">
                                        <td>
                                            <input name="cajaSel" type="radio" id="id{{result.corrCaja}}" value="centroSeleccionadocheck" ng-model="result.centroSeleccionadocheck"  ng-click="getCaja(this.result)"/>
                                            <label for="id{{result.corrCaja}}"></label>                                            
                                        </td>
                                        <td>{{result.corrCaja}}</td>
                                        <td>{{result.codCentroCosto}}</td>
                                        <td>{{result.glosaCentroCosto}}</td>
                                        <td>{{result.horaInicio}}</td>
                                        <td>{{result.horaTermino}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row clearfix">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="centro_costo">Centro de Costo</label>
                                        <input ng-disabled="true" type="text" ng-disabled="blockForm" id="centro_costo" class="form-control"  required="required" value="{{cuadraturaGnrl.glosaCC}}" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="usuario_cuadratura">Nombre Usuario</label>
                                        <input type="text" ng-disabled="true" id="usuario_cuadratura" class="form-control" ng-model="usuarioCuad" required="required" value="{{cuadraturaGnrl.usuario}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="fecha_inicio">Fecha Desde</label>
                                        <input type="text" id="fecha_inicio" class="form-control" ng-model="fechaDesdeCuad" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" value="{{cuadraturaGnrl.fechaDesde}}" ng-blur="esfecha(this.fechaDesdeCuad, 'desdeCuad')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div ng-if="!blockForm" class="form-line">
                                        <label for="fecha_fin">Fecha Final</label>
                                        <input type="text"  ng-disabled="blockForm"  id="fecha_fin" class="form-control" ng-model="fechaHastaCuad" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" value="{{cuadraturaGnrl.fechaHasta}}" ng-blur="esfecha(this.fechaHastaCuad, 'hastaCuad')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-t-20">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-t-20 centrado">
                                <button type="button" class="btn btn-info btn-lg" ng-click="buscaCajas()" ng-disabled="disableForm">
                                    <i class="material-icons">search</i> <strong>Buscar Cajas</strong>
                                </button>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <label for="select_tipo_cuadratura">Seleccionar Tipo Cuadratura </label>
                                <select name="tipoCuadratura" ng-disabled="disableForm" ng-model="tipoCuadratura" id="input" class="form-control" required="required">
                                	<option value="0">Seleccione</option>
                                    <option value="caja">Por Caja</option>
                                    <option value="cc">Por Centro Costo</option>
                                </select>
                            </div>
                            <div ng-show ="cuadraturaGnrl.centroCosto == 0" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-t-20 centrado">
                                <button type="button" class="btn btn-success btn-lg" ng-click="cuadraturaGeneralModal()" ng-disabled="habilitaBoton">
                                    <i class="material-icons">description</i> <strong>Buscar Cuadratura</strong>
                                </button>
                            </div>
                            <div ng-if="cuadraturaGnrl.centroCosto != 0" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-t-20 centrado">
                                <button type="button" class="btn btn-success btn-lg" ng-click="buscaCuadratura()">
                                    <i class="material-icons">description</i> <strong>Buscar Cuadratura</strong>
                                </button>
                            </div>                          
                        </div>
                    </div>  
                </div>
                <div class="row clearfix m-t-15 m-b-20">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="borde_cuadratura">
                            <h6 class="tit-2">Resumen</h6>
                            <div class="row clearfix">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <label for="total_transacciones">Total Transacciones</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input id="total_transacciones" ng-readonly type="text" class="form-control align-right"  value="{{cuadraturaGnrl.totalTransacciones}}"  />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <label for="total_movimientos">Total Movimientos</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input id="total_movimientos" type="text" ng-readonly class="form-control align-right" value="{{cuadraturaGnrl.totalMovimientos}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <label for="total_ingreso_caja">Total Ingreso Caja</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input id="total_ingreso_caja" type="text" ng-readonly class="form-control align-right" value="{{cuadraturaGnrl.totalPagado}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <label for="total_diferencia_caja">Total Diferencia Caja</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input id="total_diferencia_caja" type="text" ng-readonly class="form-control align-right" value="{{cuadraturaGnrl.totalDiferencia}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <label for="total_avisos">Total Avisos de Pago</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input id="total_avisos" type="text" ng-readonly class="form-control align-right" value="{{cuadraturaGnrl.totalAviPago}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <label for="total_boletas">Total Boletas</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input id="total_boletas" type="text" ng-readonly class="form-control align-right" value="{{cuadraturaGnrl.totalBoletas}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                    <label for="total_facturas">Total Facturas</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input id="total_facturas" type="text" ng-readonly class="form-control align-right" value="{{cuadraturaGnrl.totalFacturas}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <div class="row clearfix" style="margin-bottom: 10px;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 borde_acl_2">
                                <div class="table-responsive tablescroll2">
                                    <table class="table table-bordered fondo_boleta">
                                        <thead>
                                            <tr>
                                                <th>Servicio</th>
                                                <th>N° Mov Bol</th>
                                                <th>Total <br>Transac Bol</th>
                                                <th>Total <br>Cancelado Bol</th>
                                                <th>Dif Bol</th>
                                                <th>N° Mov Fact</th>
                                                <th>Total <br>Transac Fact</th>
                                                <th>Total <br>Cancelado Fact</th>
                                                <th>Dif Fact</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="result in cuadraturaGnrl.movimientos">
                                                <td style="max-width: 340px;">{{result.glosaServicio}}</td>
                                                <td class="align-right ng-binding">{{result.boletaMovimiento}}</td>
                                                <td class="align-right ng-binding">{{result.montoTransaccionBoleta  | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{result.montoCantidadBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{result.diferenciaBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{result.facturaMovimientos}}</td>
                                                <td class="align-right ng-binding">{{result.montoTransaccionFactura | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{result.montoCantidadFactura | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{result.diferenciaFactura | currency:undefined:0}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-offset-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <div class="table-responsive">
                                    <table class="table table-bordered fondo_boleta">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>N° Mov Bol</th>
                                                <th>Total <br>Transac Bol</th>
                                                <th>Total <br>Cancelado Bol</th>
                                                <th>Dif Bol</th>
                                                <th>N° Mov Fact</th>
                                                <th>Total <br>Transac Fact</th>
                                                <th>Total <br>Cancelado Fact</th>
                                                <th>Dif Fact</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Total Bruto</th>
                                                <td class="align-right ng-binding">{{totales.totBrutoNumMovBoleta}}</td>
                                                <td class="align-right ng-binding">{{totales.totBrutoTransaccionBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totBrutoCanceladoBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totBrutoDiferenciaBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totBrutoNumMovFactura}}</td>
                                                <td class="align-right ng-binding">{{totales.totBrutoTransaccionFactura | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totBrutoCanceladoFactura | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totBrutoDiferenciaFactura | currency:undefined:0}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Total Neto</th>
                                                <td class="align-right ng-binding"></td>
                                                <td class="align-right ng-binding">{{totales.totNetoTransaccionBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totNetoCanceladoBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totNetoDiferenciaBoleta | currency:undefined:0}}</td>                                                
                                                <td class="align-right ng-binding"></td>
                                                <td class="align-right ng-binding">{{totales.totNetoTransaccionFactura | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totNetoCanceladoFactura | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totNetoDiferenciaFactura | currency:undefined:0}}</td>   
                                            </tr>
                                            <tr>
                                                <th scope="row">Total IVA</th>
                                                <td class="align-right ng-binding"></td>
                                                <td class="align-right ng-binding">{{totales.totIvaTransaccionBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totIvaCanceladoBoleta | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totIvaDiferenciaBoleta | currency:undefined:0}}</td>   
                                                <td class="align-right ng-binding"></td>
                                                <td class="align-right ng-binding">{{totales.totIvaTransaccionFactura | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totIvaCanceladoFactura | currency:undefined:0}}</td>
                                                <td class="align-right ng-binding">{{totales.totIvaDiferenciaFactura | currency:undefined:0}}</td>   
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimeCuadratura(cuadraturaGnrl)">
                    <i class="material-icons">print</i> <strong>Imprimir</strong>
                </button>
                <button ng-show="!cuadXCcs" type="button" class="btn btn-lg btn-primary waves-effect" data-toggle="modal" ng-click="detalleBoleta()">
                    <i class="material-icons">description</i> <strong>Ver Detalle Boleta</strong>
                </button>
                <button  ng-show="!cuadXCcs" type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimeDetalleBoleta()">
                    <i class="material-icons">print</i> <strong>Imprimir Detalle Boleta</strong>
                </button>
                <button  ng-show="!cuadXCcs" type="button" class="btn btn-lg btn-primary waves-effect" ng-click="detalleServicios()" >
                    <i class="material-icons">clear</i> <strong>Ver Detalle Servicios</strong>
                </button>
                <button  ng-show="!cuadXCcs" type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimeValidador()" >
                    <i class="material-icons">print</i> <strong>Imprimir Validador</strong>
                </button>
                <button  type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarCuadratura()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>