<div class="modal fade" id="tramiteagrupanterior" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="TramiteAgrupadaAnteriorController">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="tramiteagrupanteriorLabel">Certificado de Aclaración en Trámite Posterior</h4>
            </div>
            <div class="modal-body scroll_fix">
                <form class="form-horizontal" id="tramiteagrupanteriorForm" name="tramiteagrupanteriorForm" method="POST" ng-init="valido=true;">
                    <div class="borde_acl">
                        <div class="row clearfix m-b-10 m-t-5">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="fech_acl">*Fecha Caja: </label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input id="fech_acl" type="text" class="form-control" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" required ng-model="afectado.fecha" tabindex="1" next-focus />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <label for="rutAfectadoInforme">*RUT: </label>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <div class="form-group">
                                        <div class="form-line">
                                          <input type="text" name="rutAfectadoInforme" id="rutAfectadoInforme" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Afectado" required maxlength="13" ng-blur="buscaAfectado()" ng-enter="buscaAfectado()" tabindex="2" next-focus/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 align-left">
                                <button type="button" name="cargaTramitante" class="btn btn-lg btn-primary waves-effect" ng-click="cargaTramitante()" ng-enter="cargaTramitante()" tabindex="3" next-focus>
                                    <i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
                                </button>
                            </div>
                        </div>
                        <div class="row clearfix m-b-10" ng-show="!esrutjuridico">
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                              <div class="form-line">
                                <label for="ap_pat_pag">* Apellido Paterno:</label>
                                <input  id="ap_pat_pag" name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="4" next-focus/>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="form-group">
                              <div class="form-line">
                                <label for="ap_mat_pag">Apellido Materno:</label>
                                <input id="ap_mat_pag" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="4" next-focus />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                              <div class="form-line">
                                <label for="nombres">* Nombres:</label>
                                <input letters-only type="text" id="nombres" name="nombres" id="nombres" ng-model="afectado.nombres" class="form-control" placeholder="Nombres" required maxlength="25" tabindex="4" next-focus />
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 align-right">
                               <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="obtenerLista()" ng-enter="obtenerLista()" tabindex="5" next-focus>
                                  <i class="material-icons">search</i> <strong>Buscar</strong>
                              </button>
                              <button type="button" class="btn btn-lg btn-primary waves-effect" ng-click="limpiarFormulario()" ng-enter="limpiarFormulario()" tabindex="6" next-focus>
                                  <i class="material-icons">autorenew</i> <strong>Limpiar</strong>
                              </button>
                              <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" tabindex="7" next-focus>
                                  <i class="material-icons">clear</i> <strong>Cerrar</strong>
                              </button>
                           </div>
                        </div>
                        <div class="row clearfix m-b-10" ng-if="esrutjuridico">
                          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="form-group">
                              <div class="form-line">
                                <label for="nombres_afectado">* Nombre Afectado:</label>
                                <input letters-only-business type="text" id="nombres_afectado" name="nombresafectado" ng-model="afectado.nombreafectado" class="form-control" placeholder="Nombre Afectado" required maxlength="75" tabindex="4" next-focus/>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 align-right">
                              <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="obtenerLista()" ng-enter="obtenerLista()" tabindex="5" next-focus>
                                  <i class="material-icons">search</i> <strong>Buscar</strong>
                              </button>
                              <button type="button" class="btn btn-lg btn-primary waves-effect" ng-click="limpiarFormulario()" ng-enter="limpiarFormulario()" tabindex="6" next-focus>
                                  <i class="material-icons">autorenew</i> <strong>Limpiar</strong>
                              </button>
                              <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" tabindex="7" next-focus>
                                  <i class="material-icons">clear</i> <strong>Cerrar</strong>
                              </button>
                           </div>
                        </div>
                    </div>
                    <div class="borde_acl m-t-10" ng-show="items.length > 0">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Check</th>
                                        <th>N° Caja</th>
                                        <th>N° Boleta/Factura</th>
                                        <th>Ap. Paterno</th>
                                        <th>Ap. Materno</th>
                                        <th>Nombres</th>
                                        <th>Corr. Trans.</th>
                                        <th>Ingresar Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in items">
                                        <td>
                                          <input type="checkbox" id="corrTransaccion{{$index}}" name="corrTransaccion{{$index}}" value="{{item.corrTransaccion}}" ng-click="onCheckCambia($index)" class="chk-col-blue-grey" />
                                          <label for="corrTransaccion{{$index}}"></label>
                                        </td>
                                        <td>{{item.corrCaja}}</td>
                                        <td>{{item.nroBoletaFactura}}</td>
                                        <td>{{item.apellidoPaterno}}</td>
                                        <td>{{item.apellidoMaterno}}</td>
                                        <td>{{item.nombres}}</td>
                                        <td>{{item.corrTransaccion}}</td>
                                        <td>
                                            <input type="number" name="cantidad{{$index}}" id="cantidad{{$index}}" value="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" ng-show="items.length > 0">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-disabled="items.length <= 0" ng-click="aceptar()" ng-enter="aceptar()" tabindex="8" next-focus>
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" tabindex="9" next-focus>
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
    </div>
</div>
