<div class="modal fade" id="informelegal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" ng-controller="InformeLegalController">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="informelegalLabel">Informe Legal</h4>
            </div>
            <form class="form-horizontal" id="informelegalForm" name="informelegalForm" method="POST" ng-init="valido=true;">
                <div class="modal-body">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                            <label for="rutAfectadoInforme">* RUT Afectado:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" disabled name="rutAfectadoInforme" id="rutAfectadoInforme" ng-blur="buscaAfectado()" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Afectado" required maxlength="13" ng-enter="buscaAfectado()" next-focus/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_pat_pag">* Apellido Paterno:</label>
                                    <input  id="ap_pat_pag" disabled name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="2" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_mat_pag">Apellido Materno:</label>
                                    <input id="ap_mat_pag" disabled name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="3" next-focus />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres">* Nombres:</label>
                                    <input letters-only type="text" id="nombres" disabled name="nombres" ng-model="afectado.nombres" tabindex="4" class="form-control" placeholder="Nombres" required maxlength="25" next-focus />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="validacionCertificado()" ng-enter="validacionCertificado()" class="btn btn-lg btn-success waves-effect"  name="aceptar" ng-disabled=" !( esvalido && ( (afectado.apellidoPaterno !=null  && afectado.nombres!=null )||  afectado.nombreafectado))" next-focus>
                        <i class="material-icons">done</i> <strong>Aceptar</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                        <i class="material-icons">clear</i> <strong>Cerrar</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
