<div class="modal fullscreen-modal" id="detalleboleta" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="detalleboletaLabel">Detalle Boleta y Factura</h4>
            </div>
            <div class="modal-body tablescroll4">
                <div class="row clearfix">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="centro_costo">Centro Costo</label>
                                    <input type="text" id="centro_costo" class="form-control"  ng-disabled="true"   value="{{centroCostoCuad}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="cod_usuario">Usuario</label>
                                    <input type="text" id="cod_usuario" class="form-control" ng-disabled="true"  value="{{usuarioCuad}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="fecha_consulta">Fecha</label>
                                    <input type="text" id="fecha_consulta" ng-disabled="true" ng-disabled="true"  ng-model="fechaDesdeCuad" class="form-control" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" value="{{cuadraturaGnrl.fechaDesde}}">
                                </div>
                            </div> 
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nume_caja">N° Caja</label>
                                    <input type="text" id="nume_caja" ng-disabled="true" ng-disabled="true" class="form-control" value="{{cajaSeleccionada.corrCaja}}">
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <tbody>
                                    <tr>
                                        <th scope="row">Total Boletas</th>
                                        <td class="align-right">{{detalleBoletaObj.totalBoletas}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total Facturas</th>
                                        <td class="align-right">{{detalleBoletaObj.totalFacturas}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Mto Transacción</th>
                                        <th>Mto Cancelado</th>
                                        <th>Mto Diferencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Total Bruto</th>
                                        <td class="align-right">{{detalleBoletaObj.totalCalculado  | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleBoletaObj.totalPagado  | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleBoletaObj.totalDiferencia  | currency:undefined:0}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total Neto</th>
                                        <td class="align-right">{{detalleBoletaObj.totalTransaccionNetoBoletas  | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleBoletaObj.totalCanceladoNetoBoletas  | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleBoletaObj.totalDiferenciaNetoBoletas  | currency:undefined:0}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total IVA</th>
                                        <td class="align-right">{{detalleBoletaObj.totalTransaccionIvaBoletas  | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleBoletaObj.totalCanceladoIvaBoletas  | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleBoletaObj.totalDiferenciaIvaBoletas  | currency:undefined:0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10 m-t-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height: 353px;">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Sel</th>
                                        <th>N° Caja</th>
                                        <th>Doc</th>
                                        <th>Estado</th>
                                        <th>N° B/F</th>
                                        <th>Medio Pago</th>
                                        <th>N° Doc</th>
                                        <th>Mto Transac</th>
                                        <th>Mto Cancel</th>
                                        <th>Mto Dif</th>
                                        <th>Rut Afectado</th>
                                        <th>Rut Tramitante</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in detalleBoletaObj.items">
                                        <td>
                                            <input type="radio" name="boleta" ng-model="boletaSeleccionada" id="id{{result.id}}" value="{{result}}" ng-click="getValor(this.result)"/>
                                            <label for="id{{result.id}}"></label>
                                        </td>
                                        <td>{{result.corrCaja}}</td>
                                        <td>{{result.tipoDocumento}}</td>
                                        <td>{{result.estado}}</td>
                                        <td>{{result.numBoletaFactura}}</td>
                                        <td>{{result.tipoPago}}</td>
                                        <td>{{result.numeroCheque}}</td>
                                        <td>{{result.montoCobradoSistema}}</td>
                                        <td>{{result.montoIngresadoCajera}}</td>
                                        <td>{{result.montoDiferencia}}</td>
                                        <td>{{result.rutAfectado | rut}}</td>
                                        <td>{{result.rutTramitante | rut}}</td>
                                    </tr>                                    
                                 </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimeDetalleBoleta()">
                    <i class="material-icons">print</i> <strong>Imprimir</strong>
                </button>
                <button type="button" class="btn btn-lg btn-primary waves-effect" data-toggle="modal" ng-click="detalleBoletaModal()">
                    <i class="material-icons">description</i> <strong>Ver Detalle Transacción Bol/Fact</strong>
                </button>
                <!-- 
                <button type="button" class="btn btn-lg btn-primary waves-effect" data-toggle="modal" data-target="#detalletransaccionfactura" data-dismiss="modal">
                    <i class="material-icons">description</i> <strong>Ver Detalle Transacción Fact</strong>
                </button>
                -->
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerraDetalleBoleta()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
