<div class="modal fade" id="informeconsolidadotramite1" ng-controller="CertificadoAclaracionProceso" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="aclaracionprocesoLabel">Certificado de Aclaración en Trámite en Transacción</h4>
            </div>
            <div class="modal-body scroll_fix">
                <h4>INFORME CONSOLIDADO CON ACLARACIÓN EN TRÁMITE (COACAT)</h4>
                <p>Señor(a), estos protestos o cuotas morosas serán eliminadas el martes de la próxima semana.</p>
                <p>
                    Si usted necesita que se muestre(n) esta(s) aclaración(es) en trámite y adicionalmente
                    todos los procesos y/o morosidades que puedan existir, vigentes en el sistema, asociados
                    al RUT.
                </p>
                <p><b><u>Valor Certificado:</u> {{valorICT.msgControl | currency:undefined:0}}</b></p>
                <div class="table-responsive">
                    <table class="table table-bordered fondo_boleta">
                        <thead>
                            <tr>
                                <th>Check</th>
                                <th>Rut AclaraciÃ³n</th>
                                <th>Ap Paterno</th>
                                <th>Ap Materno</th>
                                <th>Nombres</th>
                                <th>RUT Te Avisa</th>
                                <th>Ingresar Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="acl in listaAclaraciones">
                                <td>
                                    <input type="checkbox" id="{{acl.correlativo}}" ng-model="acl.checked" ng-click="updateSelection($index, listaAclaraciones)" class="chk-col-blue-grey"/>
                                    <label for="{{acl.correlativo}}"></label>
                                </td>
                                <td>{{acl.rut | rut}}</td>
                                <td>{{acl.apellidoPaterno}}</td>
                                <td>{{acl.apellidoMaterno}}</td>
                                <td>{{acl.nombres}}</td>
                                <td>{{acl.rut}}</td>
                                <td>
                                    <input type="text" maxlength="4" ng-disabled="!acl.checked" numbers-only-no-dot ng-model="acl.cantidad" name="" value="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="validaSupervisorModal('aceptaICL','informeconsolidadotramite1')">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cargaCar()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
