<div class="modal fade" id="confirmarcambiarcaja" tabindex="-1" role="dialog" ng-controller="ConfirmarCambiarCajaController">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="cambiarcajaLabel">Aviso</h4>
            </div>
            <div class="modal-body">
                <div class="centrado">
                    <i class="material-icons big-icon-warning">warning</i>
                    <br>
                    <h4>¿Desea continuar con el proceso de cambio de caja?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" data-dismiss="modal" ng-click="aceptarCambiarCaja();">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
