<div class="modal fade" id="reemboletafactura" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="ModalReemBoletaFacturaController as ctrl">
	<div class="modal-dialog modal-bp" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title centrado" id="reemboletafacturaLabel">Reemplazar Boleta por Factura</h4>
			</div>
			<div class="modal-body p-t-0">
				<form id="reemBoletaFacturaForm" name="ctrl.formulario">
					<div class="row clearfix">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 caja_gris_modal modal_factura_header">
							<div class="row clearfix m-b-15">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<label for="select_caja">N° Caja</label>
									<select class="form-control show-tick" name="corrCaja" id="select_caja" ng-model="form.corrCaja" ng-change="onCambiaCaja()" required>
										<option value="" disabled>Seleccionar Caja</option>
										<option ng-repeat="item in cajas" value="{{item.corrCaja}}">{{item.corrCaja}}</option>
									</select>
								</div>
							</div>
							<div class="row clearfix m-b-15">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<label for="numero_boleta">N° Boleta: </label>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
										<div class="form-group">
											<div class="form-line">
												<input type="text" id="numero_boleta" maxlength="9" name="numeroBoleta" ng-model="form.numeroBoleta" numbers-only-factura required class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix m-b-15">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-right">
									<button type="button" class="btn btn-info btn-lg waves-effect" ng-click="onBuscar()" ng-disabled="!form.corrCaja || form.numeroBoleta === ''">
										<i class="material-icons">search</i> <strong>Buscar</strong>
									</button>
									<button type="button" class="btn btn-primary btn-lg waves-effect" ng-click="onSiguiente()" ng-disabled="!siguienteHabilitado">
										<i class="material-icons">arrow_forward</i> <strong>Siguiente</strong>
									</button>
								</div>
							</div>
							<div class="row clearfix m-b-10">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<input type="checkbox" id="orden_de_compra" ng-model="form.oc" ng-click="onOrdenCompraCambia()" class="chk-col-blue-grey" ng-disabled="!factura.esNueva" />
									<label for="orden_de_compra">Orden de Compra</label>
								</div>
							</div>
							<div class="row clearfix" ng-show="form.oc">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<label for="factura_oc">N° OC: </label>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<div class="form-group">
										<div class="form-line">
											<input type="text" name="factura_oc" id="factura_oc" ng-model="factura.ordenCompra" class="form-control" maxlength="20" letters-number-only ng-required="form.oc" ng-disabled="!factura.esNueva">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 caja_gris_modal modal_factura_header">
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
										<label for="factura_nro">N° Factura: </label>
									</div>
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
										<div class="form-group">
											<div class="form-line">
												<input type="text" name="factura_nro" id="factura_nro" ng-model="factura.numeroFactura" class="form-control" numbers-only-factura maxlength="8" ng-disabled="!esAgencia || !factura.esNueva" ng-required="esAgencia">
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<label for="factura_rut">RUT: </label>
									</div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
										<div class="form-group">
											<div class="form-line">
												<input type="text" name="factura_rut" id="factura_rut" ng-model="factura.rutFacturacion" class="form-control" ng-rut maxlength="13" required ng-blur="onRutCambia()" ng-disabled="!factura.esNueva">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix" ng-show="factura.tipoPersona === 'N'">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<div class="form-group">
										<div class="form-line">
											<label for="factura_nombres">Nombres:</label>
											<input type="text" name="factura_nombres" id="factura_nombres" ng-model="factura.nombres" class="form-control" letters-only maxlength="25" ng-required="factura.tipoPersona === 'N'" ng-disabled="!factura.esNueva">
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<div class="form-group">
										<div class="form-line">
											<label for="factura_apellidoPaterno">Apellido Paterno:</label>
											<input type="text" name="factura_apellidoPaterno" id="factura_apellidoPaterno" ng-model="factura.apellidoPaterno" class="form-control" letters-only maxlength="25" ng-required="factura.tipoPersona === 'N'" ng-disabled="!factura.esNueva">
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<div class="form-group">
										<div class="form-line">
											<label for="factura_apellidoPaterno">Apellido Materno:</label>
											<input type="text" name="factura_apellidoMaterno" id="factura_apellidoMaterno" ng-model="factura.apellidoMaterno" class="form-control" letters-only maxlength="25" ng-required="factura.tipoPersona === 'N'" ng-disabled="!factura.esNueva">
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix" ng-show="factura.tipoPersona === 'J'">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<div class="form-line">
											<label for="factura_razonsocial">Razón Social:</label>
											<input type="text" name="factura_razonsocial" id="factura_razonsocial" ng-model="factura.razonSocial" class="form-control" letters-only-business maxlength="75" ng-required="factura.tipoPersona === 'J'" ng-disabled="!factura.esNueva">
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<label for="factura_giro">Giro: </label>
									</div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
										<div class="form-group">
											<div class="form-line">
												<input type="text" name="factura_giro" id="factura_giro" ng-model="factura.giro" class="form-control" letters-only-business maxlength="75" required ng-disabled="!factura.esNueva">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<label for="factura_direccion">Dirección: </label>
									</div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
										<div class="form-group">
											<div class="form-line">
												<input type="text" name="factura_direccion" id="factura_direccion" ng-model="factura.direccion" class="form-control" letters-no-backslash maxlength="50" mayusculas required ng-disabled="!factura.esNueva">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-l-30">
									<label for="factura_region">Región: </label>
									<ui-select name="factura_region" id="factura_region" ng-model="form.region" focus-on="UiSelectRegion" theme="select2" style="min-width: 280px;" on-select="onRegionCambia()" required ng-disabled="!factura.esNueva">
										<ui-select-match  placeholder="Seleccione Región">{{form.region.codigo}} - {{form.region.descripcion}}</ui-select-match>
										<ui-select-choices repeat="item in regiones | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
											<div ng-bind-html="item.codigo +' - '+ item.descripcion | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-r-30">
									<label for="factura_comuna">Comuna: </label>
									<ui-select name="factura_comuna" id="factura_comuna" ng-model="form.comuna" focus-on="UiSelectComuna" theme="select2" style="min-width: 280px;" required ng-disabled="!factura.esNueva">
										<ui-select-match  placeholder="Seleccione Comuna">{{form.comuna.codigo}} - {{form.comuna.descripcion}}</ui-select-match>
										<ui-select-choices repeat="item in comunas | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
											<div ng-bind-html="item.codigo +' - '+ item.descripcion | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<h5 class="align-center tit-2">DETALLE FACTURA</h5>
							<div class="body table-responsive scroll_factura">
								<table class="table table-bordered fondo_boleta">
									<thead>
										<tr>
											<th>N° Línea</th>
											<th>Cantidad</th>
											<th>Nombre del Servicio</th>
											<th>Valor Unitario</th>
											<th>Monto Total</th>
											<th>Cod. Producto</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in factura.transacciones">
											<td>{{ $index + 1 }}</td>
											<td>{{ item.cantidadServicio }}</td>
											<td>{{ item.tipoServicio }}</td>
											<td class="align-right">{{ item.costoServicio | currency:undefined:0 }}</td>
											<td class="align-right">{{ item.cantidadServicio * item.costoServicio | currency:undefined:0 }}</td>
											<td>{{ item.codExterno }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-t-30">
							<div class="row clearfix">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<label>Neto: </label>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:8px;">
									{{ factura.montoNeto | currency:undefined:0 }}
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<label>I.V.A: </label>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:8px;">
									{{ factura.montoIva | currency:undefined:0 }}
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
									<label>Total: </label>
								</div>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:8px;">
									{{ factura.montoBruto | currency:undefined:0 }}
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-lg waves-effect" ng-click="modificar()" ng-disabled="!factura.esNueva">
					<i class="material-icons">edit</i> Modificar
				</button>
				<button type="button" class="btn btn-danger btn-lg waves-effect" ng-click="cerrar()" ng-disabled="">
					<i class="material-icons">clear</i> Cerrar
				</button>
			</div>
		</div>
	</div>
	<modalreemboletafacturadescarga></modalreemboletafacturadescarga>
</div>
