<div class="modal fade" id="boletinlaboral" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" ng-controller="InformeBoletinLaboralController">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="boletinlaboralLabel">Certificado Boletín Laboral</h4>
            </div>
            <form class="form-horizontal" id="boletinlaboralForm" name="boletinlaboralForm" method="POST" ng-init="valido=true;">
	            <div class="modal-body">
	                <div class="row clearfix m-b-20">
	                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
	                        <label for="rutAfectadoInforme">* RUT Afectado:</label>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	                        <div class="form-group">
	                            <div class="form-line">
	                                <input type="text" name="rutAfectadoInforme" id="rutAfectadoInforme" ng-blur="buscaAfectado()" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Afectado" required maxlength="13" ng-enter="buscaAfectado()" next-focus/>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	                        <button type="button" name="cargaTramitante" class="btn btn-lg btn-primary waves-effect" ng-click="cargaTramitante()" ng-enter="cargaTramitante()" next-focus>
	                            <i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
	                        </button>
	                    </div>
	                </div>
	                <div class="row clearfix" ng-show="!esrutjuridico">
	                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	                        <div class="form-group">
	                            <div class="form-line">
	                                <label for="ap_pat_pag">* Apellido Paterno:</label>
	                                <input  id="ap_pat_pag" name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus/>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	                        <div class="form-group">
	                            <div class="form-line">
	                                <label for="ap_mat_pag">Apellido Materno:</label>
	                                <input id="ap_mat_pag" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" next-focus/>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	                        <div class="form-group">
	                            <div class="form-line">
	                                <label for="nombres">* Nombres:</label>
	                                <input letters-only type="text" id="nombres" name="nombres" ng-model="afectado.nombres" class="form-control" placeholder="Nombres" required maxlength="25" next-focus/>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row clearfix" ng-show="esrutjuridico">
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                        <div class="form-group">
	                            <div class="form-line">
	                                <label for="nombres_afectado">* Nombre Afectado:</label>
	                                <input letters-only-business type="text" id="nombres_afectado" name="nombresafectado" ng-model="afectado.nombreafectado" class="form-control" placeholder="Nombre Afectado" maxlength="75" next-focus/>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <br />
	                <div class="row clearfix borde_acl m-b-10">
	                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                        <h5 class="tit-2"><b>Tipo de Informe Laboral</b></h5>
	                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 m-t-5">
	                            <label for="select_boletin">Seleccionar Tipo de Informe Laboral: </label>
	                        </div>
	                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 m-b-10">
	                            <select name="select_boletin" id="select_boletin" class="form-control" required="required" 
	                            	ng-model="codServicio" next-focus>
	                                <option value=""></option>
	                                <option value="BLR">Informe Boletín Laboral Empleador</option>
	                                <option value="BLT" ng-if="!esrutjuridico">Informe Boletín Laboral Trabajador</option>
	                                <option value="BLT" ng-if="esrutjuridico" disabled>Informe Boletín Laboral Trabajador</option>
	                                <option value="BLI">Informe Boletín Laboral Detalle</option>
	                            </select>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="modal-footer">
	                <button id="aceptarBoton" type="button" ng-click="validacionCertificado()" ng-enter="validacionCertificado()" class="btn btn-lg btn-success waves-effect" name="aceptar" 
	                	ng-disabled=" !( esvalido && ( (afectado.apellidoPaterno !=null  && afectado.nombres!=null )||  afectado.nombreafectado))" next-focus>
	                    <i class="material-icons">done</i> <strong>Aceptar</strong>
	                </button>
	                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" next-focus>
	                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
	                </button>
	            </div>
            </form>
        </div>
    </div>
</div>
