<div class="modal fade in" id="detalletransaccionboleta" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 450px; margin-left: 32%;">
            <div class="modal-header">
                <h4 class="modal-title" id="detalletransaccionboletaLabel">Detalle Boleta</h4>
            </div>
            <div class="modal-body">
                <div class="row imprimir_boleta">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <img src="images/logo_ccs.png" style="width: 100%;" class="m-t-15">
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <h5 class="m-b-5"><b>CAMARA DE COMERCIO DE SANTIAGO A.G.</b></h5>
                        <span>BOLET&Iacute;N DE INFORMACIONES COMERCIALES</span><br>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5><strong>BOLETA DE VENTA</strong> - <strong>N&#186;: {{detalleboletaDto.nroBoletaFactura}}</strong></h5>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive table-bordered tablescroll">
                            <table class="table fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>CAJA</th>
                                        <th>C. COSTO</th>
                                        <th>FECHA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{detalleboletaDto.corrCaja}}</td>
                                        <td>{{detalleboletaDto.codCCosto}}</td>
                                        <td>{{detalleboletaDto.fecInicioCaja}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="body table-responsive table-bordered tablescroll_boleta">
                            <table class="table fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>CANT.</th>
                                        <th>DESCRIPCI&Oacute;N</th>
                                        <th>IMPORTE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in detalleboletaDto.datosBoletaFactura">
                                      <td>{{result.cantidad}}</td>
                                      <td>{{result.glosaServicio}}</td>
                                      <td>{{result.totalCalculado | currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5><strong>TOTAL: {{detalleboletaDto.montoPagado | number}}</strong></h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cierraBoletaModal()">
                    <i class="material-icons">clear</i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
