<div class="modal fade" id="validacion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="validacionLabel">Autorización</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="usuario_validacion">Usuario</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="usuario_validacion" class="form-control" placeholder="Ingresa usuario">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="pass_validacion">Password</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="password" id="pass_validacion" class="form-control" placeholder="ingresa password">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" data-dismiss="modal">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
