<div class="modal fade" id="confirmarcierrecaja" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="ConfirmarCierreCajaController">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="confirmarcierrecajaLabel">Aviso</h4>
            </div>
            <div class="modal-body">
                <div class="centrado">
                    <i class="material-icons big-icon-warning">warning</i>
                    <br>
                    <h4>¿Desea hacer cierre de cajas?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="aceptar()">
                    <i class="material-icons">done</i> <strong>SI</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cancelar()">
                    <i class="material-icons">clear</i> <strong>NO</strong>
                </button>
            </div>
        </div>
    </div>
</div>
