<div class="modal fade" id="bcbusqueda" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="boletincontratoLabel">Renovación Boletin Comercial Te Avisa</h4>
            </div>
            <div class="modal-body scroll_fix">
                <div class="row clearfix">
                    <form>
                    <uib-tabset>
                        <uib-tab index="0" heading="RUT">
                            <div class="row clearfix m-t-10 m-l-15 m-b-10">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="bc_rut">Búsqueda por RUT:</label>
                                            <input type="text" id="bc_rut" class="form-control" ng-blur="validaRut()" ng-spaceless ng-rut ng-model="busquedaForm.rut">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <label for="select_tipo">Seleccionar Tipo:</label>
                                    <select name="select_tipo"  class="form-control" ng-model="busquedaForm.tipobusqueda">
                                        <option value="1">Por Contratante</option>
                                        <option value="0">RUT Te Avisa</option>
                                    </select>                                   
                            </select>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <button type="button" class="btn btn-lg m-t-15 btn-info waves-effect" ng-click="consultaContratos(1)">
                                        <i class="material-icons">search</i> <strong>Buscar</strong>
                                    </button>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="N° Contrato">
                            <div class="row clearfix m-t-10 m-l-15 m-b-10">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <label for="busq_text">Búsqueda por N° Contrato:</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" numbers-only-no-dot id="busq_text" maxlength="9" ng-model="busquedaForm.correlativo" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <button type="button" class="btn btn-lg m-t-15 btn-info waves-effect" ng-click="consultaContratos(2)">
                                        <i class="material-icons">search</i> <strong>Buscar</strong>
                                    </button>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    </form>
                </div>
                <div class="row clearfix">
                <form>
                    <div class="borde_acl">
                        <h5 class="tit-2">Lista de Contratos</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Sel</th>
                                        <th>Corr. Contrato</th>
                                        <th>Servicio</th> 
                                        <th>Rut Contratante</th>
                                        <th>Nombre Contratante</th>
                                        <th>Rut Te Avisa</th>
                                        <th>Nombre Te Avisa   </th>
                                        <th>Fech Inicio Contrato</th>
                                        <th>Fech Fin Contrato</th>
                                        <th>Dirección</th>
                                        <th>Fono Domicilio</th>
                                        <th>Fono Móvil</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in listaContratos">
                                        <td>
                                            <input name="idcontrato" type="radio" id="{{result.corrContrato}}" ng-model="result.contratoSeleccionadoCheck" value="result.contratoSeleccionadoCheck" ng-click="getValorRen(this.result)"/>
                                            <label for="{{result.corrContrato}}"></label>                                              
                                        </td>
                                        <td>{{result.corrContrato}}</td>
                                        <td>{{result.glosaServicio}}</td>
                                        <td>{{result.afectado.rut | rut}}</td>
                                        <td>{{result.afectado.nombres}} {{result.afectado.apellidoPaterno}} {{result.afectado.apellidoMaterno}}</td>
                                        <td>{{result.persTeAvisa.rut | rut}}</td>
                                        <td>{{result.persTeAvisa.nombres}} {{result.persTeAvisa.apellidoPaterno}} {{result.persTeAvisa.apellidoMaterno}}</td>
                                        <td>{{result.fechaInicioContrato }}</td>
                                        <td>{{result.fechaFinContrato }}</td>
                                        <td>{{result.direccion}}</td>
                                        <td>{{result.telfijo}}</td>
                                        <td>{{result.telcel}}</td>
                                        <td>{{result.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                   </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="cargaRenovacion()">
                    <i class="material-icons">done</i> <strong>Renovar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarBusqueda()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
