<div  id="anularboletafactura" tabindex="-1" role="dialog" ng-controller="ModalAnularBoletaFacturaController as ctrl"  class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title centrado" id="anularboletafacturaLabel">Anular Boletas/Facturas</h4>
				</div>
				<div class="modal-body">
					<form  id="anularboletafacturaForm" name="ctrl.formulario">
						<div class="row clearfix">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
								<label for="select_anular">Selecciona Tipo de Documento</label>
								<select class="form-control show-tick" name="tipodoc" ng-model="form.tipodoc" ng-change="onCambiaTipoDoc()" id="select_anular">
									<option value="" disabled>Seleccionar Tipo de Documento</option>
									<option value="B">Boleta</option>
									<option value="F">Factura</option>
								</select>
							</div>
						</div>
						<div class="row clearfix m-t-10">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-t-10">
								<div class="row clearfix">
									<label for="select2_anular">Selecciona Caja</label>
									<select class="form-control show-tick" name="caja" ng-model="form.caja" ng-change="onCambiaCaja()" id="select2_anular" required>
										<option value="" disabled>Seleccionar Caja</option>
										<option ng-repeat="item in cajas" value="{{item.corrCaja}}">{{item.corrCaja}}</option>
									</select>
									<span style="color:red" ng-show="ctrl.formulario.caja.$dirty && ctrl.formulario.caja.$invalid">
										<span ng-show="ctrl.formulario.caja.$error.required">Caja es obligatoria</span>
									</span>
								</div>
								<div class="row clearfix m-t-10">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<label for="num_folio_anul">N° Folio: </label>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="form-group">
											<div class="form-line">
												<input type="number" id="num_folio_anul" class="form-control" placeholder="0" name="folio" ng-model="form.folio" required>
											</div>
										</div>
									</div>
								</div>
								<div class="row clearfix" ng-show="ctrl.formulario.folio.$dirty && ctrl.formulario.folio.$invalid">
									<span style="color:red">
										<span ng-show="ctrl.formulario.folio.$error.required">Nº de Folio es obligatorio</span>
									</span>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-t-30">
								<div class="row clearfix">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<label for="cc_anul">Centro de Costo: </label>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="form-group">
											<div class="form-line">
												<input type="text" id="cc_anul" class="form-control" disabled placeholder="" ng-model="form.centrocosto">
											</div>
										</div>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<label for="folio_ini_anul">Folio Inicial: </label>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="form-group">
											<div class="form-line">
												<input type="text" id="folio_ini_anul" class="form-control" disabled placeholder="0" ng-model="form.folioinicial">
											</div>
										</div>
									</div>
								</div>
								<div class="row clearfix">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<label for="folio_fin_anul">Folio Final: </label>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="form-group">
											<div class="form-line">
												<input type="text" id="folio_fin_anul" class="form-control" disabled placeholder="0" ng-model="form.foliofinal">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-lg btn-success waves-effect" ng-click="anular()" ng-disabled="ctrl.formulario.$invalid">
						<i class="material-icons">done</i> Aceptar
					</button>
					<button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar()">
						<i class="material-icons">clear</i> Cerrar
					</button>
				</div>
			</div>
		</div>
	</div>
