<div class="modal fade" id="observacion" tabindex="-1" role="dialog" ng-controller="ObservacionController">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="observacionesLabel">Listado Observaciones</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix m-b-20">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5 class="tit-2">Datos Tramitante</h5>
                        <div class="table-responsive tablescroll">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Rut Tramitante</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Nombres</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">{{tramitante.rut |  rut}}</td>
                                        <td>{{tramitante.apellidoPaterno}}</td>
                                        <td>{{tramitante.apellidoMaterno}}</td>
                                        <td>{{tramitante.nombres}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-20">    
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5 class="tit-2">Tipo Observacion</h5>
                        <div class="form-group">
                            <ui-select focus-on="listaObs" ng-model="observacionmodel.model" theme="select2" ng-disabled="false" style="min-width: 300px;" title="Selecciona Observacion">
                                <ui-select-match placeholder="Seleccione Observacion">{{$select.selected.descripcion}}</ui-select-match>
                                <ui-select-choices repeat="cc in listarobservaciones | propsFilter: {descripcion: $select.search}">
                                  <div ng-bind-html="cc.descripcion | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-t-20">
                        <button type="button" class="btn btn-lg btn-primary waves-effect" ng-click="agregarObservacion();" >
                            <i class="material-icons">description</i> <strong>Agregar</strong>
                        </button>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5 class="tit-2">Registro Observaciones</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Centro de Costo</th>
                                        <th>Observacion</th>
                                        <th>Fecha - Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in listarobservacionestramitante"  ng-class="{'selected':result.id == selectedRow}" >
                                        <td>{{result.usuario}}</td>
                                        <td>{{result.glosaCentroCosto}}</td>
                                        <td>{{result.glosaObservacion}}</span></td>
                                        <td>{{result.fechaCreacion | date : "d/M/yy h:mm a"}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="botonGuardar" ng-show="listarobservacionestramitante.length>0" class="btn btn-success btn-lg waves-effect" ng-click="guardarObservaciones();">
                    <i class="material-icons">save</i> <strong>Guardar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
