<div class="modal fade" id="estadosolicitud" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="estadosolicitudLabel">Estados de la Solicitud</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="solicitud">Solicitud Número:</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" ng-disabled="true" name="solicitud" id="solicitud" class="form-control" ng-model="numero"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive tablescroll">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tbody>
									<tr ng-repeat="row in lstHist">
										<td>{{row[0]}}</td>
										<td>{{row[1]}}</td>
										<td>{{row[2]}}</td>
									</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar(21)">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>

