<div class="modal fade" id="upgradeteavisa" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="upgradeteavisaLabel">Upgrade Te Avisa</h4>
            </div>
            <div class="modal-body p-t-0">
                <div class="borde_acl_2">
                    <h5 class="tit-2">Datos Contrato</h5>
                    <div class="row clearfix">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="num_contrato">N° Contrato:</label>
                                    <input type="text" id="num_contrato" disabled class="form-control" ng-model="contratoSeleccionado.corrContrato" value="contratoSeleccionado.corrContrato">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="glosario_servicio">Glosario Servicio:</label>
                                    <input type="text" class="form-control" disabled ng-model="contratoSeleccionado.glosaServicio" value="contratoSeleccionado.glosaServicio">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="fecha_inicio">Fecha Inicio Contrato:</label>
                                    <input type="text" id="fecha_inicio" class="form-control" disabled ng-model="contratoSeleccionado.fechaInicioContrato" value="contratoSeleccionado.fechaInicioContrato">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="fecha_termino">Fecha Término Contrato:</label>
                                    <input type="text" id="fecha_termino" class="form-control" disabled ng-model="contratoSeleccionado.fechaFinContrato" value="contratoSeleccionado.fechaFinContrato">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borde_acl_2">
                    <h5 class="tit-2">Datos Contratante</h5>
                    <div class="row clearfix">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="rut_contra">RUT Contratante:</label>
                                    <input type="text" id="rut_contra" class="form-control" ng-rut disabled ng-model="contratoSeleccionado.contratante.rut" value="contratoSeleccionado.contratante.rut">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="apellido_paterno_contra">Apellido Paterno:</label>
                                    <input type="text" ng-spaceless id="apellido_paterno_contra" class="form-control" disabled ng-model="contratoSeleccionado.contratante.apellidoPaterno" value="contratoSeleccionado.contratante.apellidoPaterno">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="apellido_materno_contra">Apellido Materno:</label>
                                    <input type="text" ng-spaceless id="apellido_materno_contra" class="form-control" disabled ng-model="contratoSeleccionado.contratante.apellidoMaterno" value="contratoSeleccionado.contratante.apellidoMaterno">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres_contra">Nombres:</label>
                                    <input type="text" ng-spaceless id="nombres_contra" class="form-control" disabled ng-model="contratoSeleccionado.contratante.nombres" value="contratoSeleccionado.contratante.nombres">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borde_acl_2">
                    <h5 class="tit-2">Datos Te Avisa</h5>
                    <div class="row clearfix">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="rut_te_avisa">RUT Te Avisa:</label>
                                    <input type="text" id="rut_te_avisa" class="form-control" ng-rut disabled ng-model="contratoSeleccionado.persTeAvisa.rut" value="contratoSeleccionado.persTeAvisa.rut">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="paterno_te_avisa">Ap. Paterno TeAvisa:</label>
                                    <input type="text" id="paterno_te_avisa" class="form-control" disabled ng-model="contratoSeleccionado.persTeAvisa.apellidoPaterno" value="contratoSeleccionado.persTeAvisa.apellidoPaterno">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="materno_te_avisa">Ap. Materno TeAvisa:</label>
                                    <input type="text" id="materno_te_avisa" class="form-control" disabled ng-model="contratoSeleccionado.persTeAvisa.apellidoMaterno" value="contratoSeleccionado.persTeAvisa.apellidoMaterno">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres_te_avisa">Nombres TeAvisa:</label>
                                    <input type="text" id="nombres_te_avisa" class="form-control" disabled ng-model="contratoSeleccionado.persTeAvisa.nombres" value="contratoSeleccionado.persTeAvisa.nombres">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix"> 
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="movil_te_avisa"><b class="tit-2">Servicio SMS</b> - Tel. Móvil:</label>
                                    <input type="text" ng-spaceless ng-pattern="/(^[1-9][0-9]*$)/" id="movil_te_avisa" class="form-control"  ng-model="contratoSeleccionado.telcel"  maxlength="11" value="contratoSeleccionado.telcel" ng-blur="noCeros(this.contratoSeleccionado.telcel, 'movil_te_avisa')">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="email_te_avisa"><b class="tit-2">Servicio Correo</b> - Email:</label>
                                    <input type="text" ng-spaceless id="correo1_bc" class="form-control"  ng-model="contratoSeleccionado.email" value="contratoSeleccionado.email" ng-blur="validateEmailRen(this.contratoSeleccionado.email, 'email1')">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="confirm_email_te_avisa">Confirmación Email:</label>
                                    <input type="text" id="correo2_bc" ng-spaceless class="form-control"  ng-model="contratoSeleccionado.email2" value="contratoSeleccionado.email2" ng-blur="validateEmailRen(this.contratoSeleccionado.email2, 'email2')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="upgradeSeleccionado()">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cierraUpgrade()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>

