<div class="modal fade" id="informecomercial1" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" ng-controller="InformeComercial1Controller">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="informecomercial1Label">Informe Comercial</h4>
            </div>
            <form class="form-horizontal" id="informecomercial1Form" name="informecomercial1Form" method="POST" ng-init="valido=true;">
                <div class="modal-body">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                            <label for="rutAfectadoInformeCom">* RUT Afectado:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="rutAfectadoInformeCom" id="rutAfectadoInformeCom" ng-blur="buscaAfectado()" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Afectado" required maxlength="13"  ng-enter="buscaAfectado()" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" name="cargaTramitante" class="btn btn-lg btn-primary waves-effect" ng-click="cargaTramitante()" ng-enter="cargaTramitante()" next-focus>
                                <i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row clearfix" ng-show="!esrutjuridico">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_pat_pag_com">* Apellido Paterno:</label>
                                    <input id="ap_pat_pag_com" name="apellidoPcom" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="2" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_mat_pag_com">Apellido Materno:</label>
                                    <input id="ap_mat_pag_com" name="apellidoMcom" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="3" next-focus />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres_com">* Nombres:</label>
                                    <input letters-only type="text" id="nombres_com" name="nombres_com" ng-model="afectado.nombres" tabindex="4" class="form-control" placeholder="Nombres" required maxlength="25" next-focus />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" ng-if="esrutjuridico">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres_afectado">* Nombre Afectado:</label>
                                    <input letters-only-business type="text" id="nombres_afectado" name="nombresafectado" ng-blur="cambiaFoco()" ng-model="afectado.nombreafectado" class="form-control" placeholder="Nombre Afectado" required maxlength="75" next-focus/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="aceptarBoton" type="button" ng-disabled="!(!!afectado.nombreafectado || !!afectado.apellidoPaterno || !!afectado.nombres)" ng-click="validacionCertificadoCom()" ng-enter="validacionCertificadoCom()" class="btn btn-lg btn-success waves-effect"  name="aceptar"  next-focus>
                        <i class="material-icons">done</i> <strong>Aceptar</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                        <i class="material-icons">clear</i> <strong>Cerrar</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
