<div class="modal fade" id="pagoredcompra" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="pagoredcompraLabel">Modificar Tipo de Pago</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix m-b-10">
                        <h5 class="centrado tit-2">Ingreso de Tarjeta Red Compra</h5>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label for="cod_autor">Cod. Autorización:</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                     <input type="text" id="cod_autor" ng-blur="noCerosAutorizacion(this.datospago.autorizacion, 'cod_autor')"  numbers-only-no-dot ng-model="datospago.autorizacion" class="form-control" required maxlength="6">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label for="num_oper">N° Operación:</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                     <input type="text" id="num_oper" ng-blur="noCerosOperacion(this.datospago.operacion, 'num_oper')" numbers-only-no-dot ng-model="datospago.operacion" class="form-control" required maxlength="6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix brd-pagos">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label for="nombre_banco">Banco:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <ui-select ng-model="datospago.banco" theme="select2" ng-disabled="false" style="min-width: 250px;" on-select="cargaSucursales()">
                                <ui-select-match placeholder="Seleccione Banco">{{datospago.banco.descripcion}}</ui-select-match>
                                <ui-select-choices repeat="cc in bancospago | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                  <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                   <div>
                        <span style="color:red">
                         <span>{{datospago.msgControl}}</span>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="setDatosMedioPago('pagoredcompra')">
                     <i class="material-icons">done</i> <strong>Aceptar</strong>
                 </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cancelaMedioPago('pagoredcompra')">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
</div>

