<div class="modal fade" id="reimprimir" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="reimprimirLabel">Listado Boletas</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-offset-3 col-md-6 tablescroll m-b-40">
                        <table class="table table-bordered centrado">
                            <thead>
                                <tr>
                                    <th>Seleccionar</th>
                                    <th>Número Boleta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bol in boletasEmitidas">
                                    <td class="centrado">
                                        <!-- <input type="checkbox" id="{{bol.numeroBoleta}}" ng-model="bol.checked" ng-change="selectedBoletas()" class="chk-col-blue-grey"/>-->
                                        <input type="checkbox" id="{{bol.numeroBoleta}}" ng-model="bol.checked" ng-click="updateSelection($index, boletasEmitidas)" class="chk-col-blue-grey"/>
                                        <label for="{{bol.numeroBoleta}}"></label> 
                                    </td>
                                    <td class="centrado">
                                       {{bol.numeroBoleta}}
                                    </td>                                
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-offset-3 col-md-6">
                        <label for="seleccion_reimp">Selecciona Acción</label>
                        <select ng-model="accion" id="seleccion_reimp" class="form-control show-tick">
                            <option value="">Seleccione Acción</option>
                            <option value="A">Anular</option>
                            <option value="R">Reimprimir</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="accionModalBoletas()">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
