<div class="modal fullscreen-modal fade" id="arqueocaja" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" ng-controller="ArqueoCajaController">
    <div class="modal-dialog modal-bp" role="document">
		<form class="form-horizontal" id="arqueoCajaForm" name="arqueoCajaForm" method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="arqueocajaLabel">Arqueo de Caja Diario</h4>
            </div>
            <div class="modal-body p-t-0">
                <div class="row clearfix borde_arqueo" style="margin-left: 7px;">
                    <h5 class="tit-2">Información Caja</h5>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="nombre_usuario_arqueo">Usuario:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="nombre_usuario_arqueo" class="form-control" ng-disabled="true" value="{{campo.usuario}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="fecha_arqueo">Fecha:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="fecha_arqueo" class="form-control" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="campo.fecha"
										ng-blur="buscaInfo()" ng-enter="buscaInfo()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="caja_arqueo">N° Caja:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="caja_arqueo" class="form-control" maxlength="25" letters-number-only ng-model="campo.caja" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <label for="revisor_arqueo">Revisor:</label>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="revisor_arqueo" class="form-control" maxlength="75" letters-only-business ng-model="campo.rev" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-l-5">
                    <div class="columna_arqueo borde_arqueo cuadro_arqueo_fijo">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h5 class="tit-2">Billetes</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered fondo_boleta">
                                    <thead>
                                        <tr>
                                            <th>Valor</th>
                                            <th>Cantidad</th>
                                            <th>Total Pesos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>20.000</td>
                                            <td>
                                                <input type="text" name="mil20" id="mil20c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil20.cant" ng-blur="calcBill($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="mil20" id="mil20t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil20.total" ng-blur="calcBill($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10.000</td>
                                            <td>
                                                <input type="text" name="mil10" id="mil10c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil10.cant" ng-blur="calcBill($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="mil10" id="mil10t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil10.total" ng-blur="calcBill($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5.000</td>
                                            <td>
                                                <input type="text" name="mil5" id="mil5c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil5.cant" ng-blur="calcBill($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="mil5" id="mil5t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil5.total" ng-blur="calcBill($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2.000</td>
                                            <td>
                                                <input type="text" name="mil2" id="mil2c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil2.cant" ng-blur="calcBill($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="mil2" id="mil2t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil2.total" ng-blur="calcBill($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1.000</td>
                                            <td>
                                                <input type="text" name="mil" id="milc" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil.cant" ng-blur="calcBill($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="mil" id="milt" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="bill.mil.total" ng-blur="calcBill($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="footer_color_table">
                                        <tr>
                                            <td>TOTALES</td>
                                            <td>{{bill.tot.cant}}</td>
                                            <td>{{bill.tot.total}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <h5 class="tit-2">Monedas</h5>
                            <div class="table-responsive">
                                <table class="table table-bordered fondo_boleta">
                                    <thead>
                                        <tr>
                                            <th>Valor</th>
                                            <th>Cantidad</th>
                                            <th>Total Pesos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>500</td>
                                            <td>
                                                <input type="text" name="c500" id="c500c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c500.cant" ng-blur="calcCoin($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="c500" id="c500t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c500.total" ng-blur="calcCoin($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>100</td>
                                            <td>
                                                <input type="text" name="c100" id="c100c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c100.cant" ng-blur="calcCoin($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="c100" id="c100t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c100.total" ng-blur="calcCoin($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>50</td>
                                            <td>
                                                <input type="text" name="c50" id="c50c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c50.cant" ng-blur="calcCoin($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="c50" id="c50t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c50.total" ng-blur="calcCoin($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>
                                                <input type="text" name="c10" id="c10c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c10.cant" ng-blur="calcCoin($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="c10" id="c10t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c10.total" ng-blur="calcCoin($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>
                                                <input type="text" name="c5" id="c5c" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c5.cant" ng-blur="calcCoin($event)" maxlength="6"/>
                                            </td>
                                            <td>
                                                <input type="text" name="c5" id="c5t" class="form-control conteo_arqueo" numbers-only-no-dot 
													ng-model="coin.c5.total" ng-blur="calcCoin($event)" maxlength="9"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="footer_color_table">
                                        <tr>
                                            <td>TOTALES</td>
                                            <td>{{coin.tot.cant}}</td>
                                            <td>{{coin.tot.total}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="columna_arqueo borde_arqueo cuadro_arqueo_fijo">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 m-t-15">
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <label for="efectivo_arqueo">Efectivo:</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="efectivo_arqueo" class="form-control" ng-disabled="true" value="{{campo.cash}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <label for="documentos_arqueo">Documentos:</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="documentos_arqueo" class="form-control" ng-disabled="true" value="{{tipo.dctos}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <label for="fondo_arqueo">Fondo Fijo:</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="fondo_arqueo" class="form-control" numbers-only-no-dot 
												ng-model="campo.fondo" ng-blur="cambiaFondo()" maxlength="7"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <label for="total_arqueo">Total Arqueo:</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="total_arqueo" class="form-control" ng-disabled="true" value="{{campo.total}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <label for="diferencia_arqueo">Diferencia:</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="diferencia_arqueo" class="form-control" ng-disabled="true" value="{{campo.diff}}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 m-t-15">
                            <label for="observaciones_arqueo">Observaciones:</label>
                            <textarea name="" id="observaciones_arqueo" class="form-control" rows="3" maxlength="500" ng-model="campo.obs"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-l-5">
                    <div class="columna_arqueo borde_arqueo">
                        <div class="table-responsive tablescroll2">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Medio de Pago</th>
                                        <th>N° Trans.</th>
                                        <th>Pagado</th>
                                        <th>Calculado</th>
                                        <th>Diferencia</th>
                                    </tr>
                                </thead>
                                <tbody>
									<tr ng-repeat="row in tipo.lista">
										<td>{{row.glosa}}</td>
										<td>{{row.trxs}}</td>
										<td>{{row.mntoIngresado}}</td>
										<td>{{row.mntoCobrado}}</td>
										<td>{{row.mntoDiff}}</td>
									</tr>
                                </tbody>
                                <tfoot class="footer_color_table">
                                    <tr>
                                        <td>Total</td>
                                        <td>{{tipo.trxs}}</td>
                                        <td>{{tipo.pagado}}</td>
                                        <td>{{tipo.calc}}</td>
                                        <td>{{tipo.diff}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="columna_arqueo borde_arqueo">
                        <div class="table-responsive tablescroll2">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>N° Documento</th>
                                        <th>Monto</th>
                                        <th>Tipo</th>
                                        <th>Emisor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in docs.lista">
                                        <td>{{row.numero}}</td>
                                        <td>{{row.mntoTrx}}</td>
                                        <td>{{row.tipoPago}}</td>
                                        <td>{{row.glosa}}</td>
                                    </tr>
                                </tbody>
                                <tfoot class="footer_color_table">
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>{{docs.total}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>    
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimir()">
                    <i class="material-icons">print</i> <strong>Imprimir</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" ng-click="cerrar()">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
	</form>
    </div>
</div>

