<div class="modal fade" id="cerrarcajas" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="cerrarcajasLabel">Selección de Cajas</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="user">Usuario</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="user" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-20">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="ccosto">Centro de Costo</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="ccosto" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="body table-responsive table-bordered">
                            <form>
                                <table class="table fondo_boleta">
                                    <thead>
                                        <tr>
                                            <th>Selec</th>
                                            <th>N° Caja</th>
                                            <th>Centro Costo</th>
                                            <th>Estado</th>
                                            <th>Tipo</th>
                                            <th>Hr Apertura</th>
                                            <th>Hr Cierre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox" id="emitir_boleta4"/>
                                            <label for="emitir_boleta4"></label></td>
                                            <td>1</td>
                                            <td>Monjitas</td>
                                            <td>A</td>
                                            <td>On</td>
                                            <td>10:09:15</td>
                                            <td>12:19:41</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" id="emitir_boleta1"/>
                                            <label for="emitir_boleta1"></label></td>
                                            <td>2</td>
                                            <td>Monjitas</td>
                                            <td>CT</td>
                                            <td>On</td>
                                            <td>10:09:15</td>
                                            <td>12:19:41</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" id="emitir_boleta3"/>
                                            <label for="emitir_boleta3"></label></td>
                                            <td>1</td>
                                            <td>Monjitas</td>
                                            <td>CD</td>
                                            <td>On</td>
                                            <td>10:09:15</td>
                                            <td>12:19:41</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" data-dismiss="modal">
                    <i class="material-icons">done</i> <strong>Cerrar Caja</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
    </div>
</div>
