<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title centrado" >Aviso</h4>
        </div>
        <div class="modal-body">
            <div class="centrado">
                <i class="material-icons big-icon-warning">warning</i>
                <br>
                <h4>{{descripcion}}</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-danger waves-effect" autofocus ng-click="cerrar();">
                <i class="material-icons">clear</i> <strong>Cerrar</strong>
            </button>
        </div>
    </div>
</div>
