<div class="modal fullscreen-modal fade" id="detalleprotesto" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="detalleprotestoLabel">Detalle Protesto</h4>
            </div>
            <div class="modal-body p-t-0">
                <h5 class="tit-2">Listado de Nombres Afectados</h5>
                <div class="row clearfix m-b-5">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="table-responsive tablescroll_boleta">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
										<th>Rut</th>
                                        <th>Apellido Paterno</th>
                                        <th>Apellido Materno</th>
                                        <th>Nombres</th>
                                    </tr>
                                </thead>
                                <tbody>
									<tr ng-repeat="row in detalle.lista">
										<td>{{row[0] | rut}}</td>
										<td>{{row[1]}}</td>
										<td>{{row[2]}}</td>
										<td>{{row[3]}}</td>
									</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Datos del Protesto">
                            <div class="borde_acl_2">
                                <h6 class="tit-2">Información</h6>
                                <div class="row clearfix">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_tipo_documento">Tipo Documento</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_tipo_documento" class="form-control" ng-disabled="true" ng-model="detalle.glosaTipoDocumento">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="detalle_tipo_cuota">Tipo C.M.</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_tipo_cuota" class="form-control" ng-disabled="true" ng-model="detalle.glosaTipoDocumentoImpago">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_moneda_original">Moneda Original</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_moneda_original" class="form-control" ng-disabled="true" ng-model="detalle.glosaCortaAlias">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_monto_original">Mto Original</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_monto_original" class="form-control" ng-disabled="true" value="{{detalle.montoProtOriginal | number}}" />
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_moneda">Moneda</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_moneda" class="form-control" ng-disabled="true" ng-model="detalle.glosaCorta">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="detalle_monto_protesto">Mto Protesto</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_monto_protesto" class="form-control" ng-disabled="true" value="{{detalle.montoProt | number}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_fecha_protesto">Fecha Protesto</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_fecha_protesto" class="form-control" ng-disabled="true" ng-model="detalle.fecProt">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_fecha_vencimiento">Fecha Vcto</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_fecha_vencimiento" class="form-control" ng-disabled="true" ng-model="detalle.fecVcto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_num_operacion">N° Operación</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_num_operacion" class="form-control" ng-disabled="true" ng-model="detalle.nroOperacion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="detalle_4digitos">N° Op 4 Dig</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line"> 
                                                    <input type="text" id="detalle_4digitos" class="form-control" ng-disabled="true" ng-model="detalle.nroOper4Dig">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_causal_protesto">Causal Protesto</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" ng-disabled="true" ng-model="detalle.glosaCausalProt">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <label for="detalle_num_lote">N° Lote</label>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_num_lote" class="form-control" ng-disabled="true" ng-model="detalle.nroLote">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix p-t-20">
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                            <label for="detalle_librador">Librador</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_librador" class="form-control" ng-disabled="true" ng-model="detalle.nombreLibrador">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="tipo_emisor">Tipo Emisor</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="tipo_emisor" class="form-control" ng-disabled="true" ng-model="detalle.glosaTipoEmisor">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="glosa_emisor">Glosa Emisor</label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="glosa_emisor" class="form-control" ng-disabled="true" ng-model="detalle.glosaEmisor">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="detalle_localidad">Localidad Informada</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_localidad" class="form-control" ng-disabled="true" ng-model="detalle.glosaLocPub">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="detalle_localidad_publicada">Localidad Publicada</label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="detalle_localidad_publicada" class="form-control" ng-disabled="true" ng-model="detalle.glosaSucursal">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Datos de Publicación">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 borde_acl_2">
                                <h6 class="tit-2">Datos Internos</h6>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_corr_protesto">Correlativo Protesto</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_corr_protesto" class="form-control" ng-disabled="true" ng-model="detalle.corrProt">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_corr_envio">Correlativo Envío</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_corr_envio" class="form-control" ng-disabled="true" ng-model="detalle.corrEnvio">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_estado">Estado Protesto</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_estado" class="form-control" ng-disabled="true" ng-model="detalle.glosaEstado">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_usuario_dig">Usuario Dig.</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_usuario_dig" class="form-control" ng-disabled="true" ng-model="detalle.codUsuarioDigitacion">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_fecha_dig">Fecha Dig.</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_fecha_dig" class="form-control" ng-disabled="true" ng-model="detalle.fecDigitacion">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_usuario_mod">Usuario Mod.</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_usuario_mod" class="form-control" ng-disabled="true" ng-model="detalle.codUsuarioModif">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detale_fecha_mod">Fecha Mod.</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detale_fecha_mod" class="form-control" ng-disabled="true" ng-model="detalle.fecModificacion">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 borde_acl_2" style="min-height: 294px;">
                                <h6 class="tit-2">Boletín publicado</h6>
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <label for="detalle_num_boletin">N° Boletín</label>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_num_boletin" class="form-control" ng-disabled="true" ng-model="detalle.nroBoletin">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <label for="detalle_pag_boletin">Pag. Boletín</label>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_pag_boletin" class="form-control" ng-disabled="true" ng-model="detalle.pagBoletin">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <label for="detalle_fecha_publicacion">Fecha Publicación</label>
                                    </div>
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_fecha_publicacion" class="form-control" ng-disabled="true" ng-model="detalle.fecPublicacion">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 borde_acl_2">
                                <h6 class="tit-2">Situación</h6>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_situacion">Situación Actual</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_situacion" class="form-control" ng-disabled="true" ng-model="detalle.glosaMarcaAclOmi">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_fecha">Fecha Situación</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_fecha" class="form-control" ng-disabled="true" ng-model="detalle.fecMarcaAclaracion">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_boletin_acl">Pag. Bol Aclar.</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_boletin_acl" class="form-control" ng-disabled="true" ng-model="detalle.pagBoletinAcl">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_num_boletin_acl">N° Bol Aclar.</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_num_boletin_acl" class="form-control" ng-disabled="true" ng-model="detalle.nroBoletinAcl">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_fecha_rectificacion">Fecha Rectificación</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_fecha_rectificacion" class="form-control" ng-disabled="true" ng-model="detalle.fecMarcaAclRectificacion">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_acl_esp_anulada">Fecha Acl Esp. Anul.</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_acl_esp_anulada" class="form-control" ng-disabled="true" ng-model="detalle.fecMarcaAclEspAnulada">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <label for="detalle_fecha_acl">Fecha Aclar. Espec.</label>
                                    </div>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="detalle_fecha_acl" class="form-control" ng-disabled="true" ng-model="detalle.fecMarcaAclEspecial">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar(1)">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>

