<div ng-controller="ModalFacturaController as ctrl">
	<div class="modal fade" id="factura" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-lg" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title centrado" id="facturaLabel">Factura</h4>
	            </div>
	            <div class="modal-body" style="padding-bottom:0px">
	            	<form  id="facturaForm" name="ctrl.formulario">
		                <div class="row">
		                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 caja_gris_modal modal_factura_header">
		                        <div class="">
		                            <label for="factura_tipo">Opciones Factura</label>
		                            <select name="tipo" id="factura_tipo" ng-disabled="tramitante.declaracionUso" ng-model="form.tipo" class="form-control show-tick" ng-change="onTipoCambia()" ng-disabled="facturas.length > 0">
		                                <option value="Rut">Factura por RUT</option>
		                                <option value="Tercero">Factura a Tercero</option>
		                            </select>
		                        </div>
		                        <div class="m-t-10">
	                                <label for="afectados">Lista de Afectados:</label>
	                                <select name="afectados" id="afectados" ng-model="form.afectado" class="form-control show-tick" multiple size="5" ng-change="onAfectadoCambia()" ng-disabled="form.tipo==='Tercero' || tramitante.declaracionUso"
		                                ng-options="opt as opt for opt in afectados"> 
		                            </select>
		                        </div>
		                        <div class="m-t-10">
		                            <input type="checkbox" id="orden_compra" ng-model="form.oc" class="chk-col-blue-grey" ng-change="onOrdenCompraCambia()" ng-disabled="!form.factura || !form.factura.esNueva" />
		                            <label for="orden_compra">Orden de Compra</label>
		                        </div>
		                        <div class="row clearfix" ng-show="form.oc">
		                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-control-label">
		                                <label for="factura_oc">N° OC: </label>
		                            </div>
		                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		                                <div class="form-group" style="margin-bottom:0px;">
		                                    <div class="form-line">
		                                        <input type="text" name="factura_oc" id="factura_oc" ng-model="form.factura.ordenCompra" class="form-control" maxlength="20" letters-number-only ng-required="form.oc" ng-disabled="!form.factura || !form.factura.esNueva">
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 caja_gris_modal modal_factura_header">
		                    	<div class="row clearfix" ng-show="form.factura && !form.factura.esNueva">
		                    		<div class="col-md-12">
		                    			<span class="text-success"><strong>Grabada!</strong></span>
		                    		</div>
		                    	</div>
		                        <div class="row clearfix">
		                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		                                <div class="row clearfix m-t-5">
		                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 form-control-label">
		                                        <label for="factura_nro">N° Factura: </label>
		                                    </div>
		                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
		                                        <div class="form-group">
		                                            <div class="form-line">
		                                                <input type="text"  name="factura_nro" id="factura_nro" ng-model="form.factura.numeroFactura" class="form-control" numbers-only-factura  maxlength="8" ng-disabled="!form.factura || !esAgencia || !form.factura.esNueva" ng-required="esAgencia">
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		                                <div class="row clearfix m-t-5">
		                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-control-label">
		                                        <label for="factura_rut">RUT: </label>
		                                    </div>
		                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		                                        <div class="form-group">
		                                            <div class="form-line">
		                                                <input type="text" name="factura_rut" id="factura_rut" ng-model="form.factura.rutFacturacion" class="form-control" ng-rut maxlength="13" required ng-blur="onRutCambia()" ng-disabled="!form.factura || !form.factura.esNueva || form.tipo==='Rut'">
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="row clearfix" ng-show="form.factura.tipoPersona === 'N'">
	                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	                                	<div class="form-group">
		                                    <div class="form-line">
		                                        <label for="factura_nombres">Nombres:</label>
		                                        <input type="text" name="factura_nombres" id="factura_nombres" ng-model="form.factura.nombres" class="form-control" letters-only maxlength="25" ng-required="form.factura.tipoPersona === 'N'" ng-disabled="!form.factura || !form.factura.esNueva">
		                                    </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	                                	<div class="form-group">
		                                    <div class="form-line">
		                                        <label for="factura_apellidoPaterno">Apellido Paterno:</label>
		                                        <input type="text" name="factura_apellidoPaterno" id="factura_apellidoPaterno" ng-model="form.factura.apellidoPaterno" class="form-control" letters-only maxlength="25" ng-required="form.factura.tipoPersona === 'N'" ng-disabled="!form.factura || !form.factura.esNueva">
		                                    </div>
	                                    </div>
	                                </div>
	                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	                                	<div class="form-group">
		                                    <div class="form-line">
		                                        <label for="factura_apellidoPaterno">Apellido Materno:</label>
		                                        <input type="text" name="factura_apellidoMaterno" id="factura_apellidoMaterno" ng-model="form.factura.apellidoMaterno" class="form-control" letters-only maxlength="25" ng-required="form.factura.tipoPersona === 'N'" ng-disabled="!form.factura || !form.factura.esNueva">
		                                    </div>
	                                    </div>
	                                </div>
		                        </div>
		                        <div class="row clearfix" ng-show="form.factura.tipoPersona === 'J'">
	                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
	                                    <div class="form-line">
	                                        <label for="factura_razonsocial">Razón Social:</label>
	                                        <input type="text" name="factura_razonsocial" id="factura_razonsocial" ng-model="form.factura.razonSocial" class="form-control" letters-only-business maxlength="75" ng-required="form.factura.tipoPersona === 'J'" ng-disabled="!form.factura || !form.factura.esNueva">
	                                    </div>
	                                </div>
		                        </div>
		                        <div class="row clearfix">
	                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                                	<div class="row clearfix">
		                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label">
		                                        <label for="factura_giro">Giro: </label>
		                                    </div>
		                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		                                        <div class="form-group">
		                                            <div class="form-line">
		                                                <input type="text" name="factura_giro" id="factura_giro" ng-model="form.factura.giro" class="form-control" letters-only-business maxlength="30" required ng-disabled="!form.factura || !form.factura.esNueva">
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
	                                </div>
	                            </div>
		                        <div class="row clearfix">
	                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                                <div class="row clearfix">
		                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-control-label">
		                                        <label for="factura_direccion">Dirección: </label>
		                                    </div>
		                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		                                        <div class="form-group">
		                                            <div class="form-line">
		                                                <input type="text" name="factura_direccion" id="factura_direccion" ng-model="form.factura.direccion" class="form-control" letters-no-backslash maxlength="50" mayusculas required ng-disabled="!form.factura || !form.factura.esNueva">
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="row clearfix">
		                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		                                <label for="factura_region">Región</label>
		                                <ui-select name="factura_region" id="factura_region" ng-model="form.factura.region" focus-on="UiSelectRegion" theme="select2" style="min-width: 300px;" on-select="onRegionCambia()" required ng-disabled="!form.factura || !form.factura.esNueva">
		                                    <ui-select-match  placeholder="Seleccione Región">{{form.factura.region.codigo}} - {{form.factura.region.descripcion}}</ui-select-match>
		                                    <ui-select-choices repeat="item in regiones | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
		                                      <div ng-bind-html="item.codigo +' - '+ item.descripcion | highlight: $select.search"></div>
		                                    </ui-select-choices>
		                                </ui-select>
		                            </div>
		                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		                                <label for="factura_comuna">Comuna</label>
		                                <ui-select name="factura_comuna" id="factura_comuna" ng-model="form.factura.comuna" focus-on="UiSelectComuna" theme="select2" style="min-width: 300px;" required ng-disabled="!form.factura || !form.factura.esNueva">
		                                    <ui-select-match  placeholder="Seleccione Comuna">{{form.factura.comuna.codigo}} - {{form.factura.comuna.descripcion}}</ui-select-match>
		                                    <ui-select-choices repeat="item in comunas | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
		                                      <div ng-bind-html="item.codigo +' - '+ item.descripcion | highlight: $select.search"></div>
		                                    </ui-select-choices>
		                                </ui-select>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="row clearfix p-b-20">
		                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		                        <h5 class="align-center">DETALLE FACTURA</h5>
		                        <div class="body table-responsive scroll_factura">
		                            <table class="table table-bordered fondo_boleta">
		                                <thead>
		                                    <tr>
		                                        <th>N° Línea</th>
		                                        <th>Cantidad</th>
		                                        <th>Nombre del Servicio</th>
		                                        <th>Valor Unitario</th>
		                                        <th>Monto Total</th>
		                                        <th>Cod. Producto</th>
		                                    </tr>
		                                </thead>
		                                <tbody>
		                                    <tr ng-repeat="item in form.factura.transacciones">
		                                        <td>{{ $index + 1 }}</td>
		                                        <td>{{ item.cantidadServicio }}</td>
		                                        <td>{{ item.tipoServicio }}</td>
		                                        <td class="align-right">{{ item.costoServicio | currency:undefined:0 }}</td>
		                                        <td class="align-right">{{ item.cantidadServicio * item.costoServicio | currency:undefined:0 }}</td>
		                                        <td>{{ item.codExterno }}</td>
		                                    </tr>
		                                </tbody>
		                            </table>
		                        </div>
		                    </div>
		                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-t-30">
		                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-control-label">
			                            <label>Neto: </label>
			                        </div>
			                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:8px; text-align: right;">
			                            {{ form.factura.montoBruto | currency:undefined:0 }}
			                        </div>
		                        </div>
		                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-control-label">
			                            <label>I.V.A: </label>
			                        </div>
			                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:8px; text-align: right;">
			                            {{ form.factura.iva | currency:undefined:0 }}
			                        </div>
		                        </div>
		                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-control-label">
			                            <label>Total: </label>
			                        </div>
			                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:8px; text-align: right;">
			                            {{ form.factura.total | currency:undefined:0 }}
			                        </div>
		                        </div>
		                    </div>
		                </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-success btn-lg waves-effect" ng-click="grabar()" ng-disabled="!form.factura.esNueva">
	                	<i class="material-icons">done</i> Grabar Factura
	                </button>
	                <button type="button" class="btn btn-primary btn-lg waves-effect" ng-click="eliminar()" ng-disabled="facturas.length === 0 || form.factura.esNueva">
	                	<i class="material-icons">delete</i> Eliminar Factura
	                </button>
	                <button type="button" class="btn btn-danger btn-lg waves-effect" ng-click="salir()">
	                	<i class="material-icons">clear</i> Cerrar
	                </button>
	            </div>
	        </div>
	    </div>
	</div>
</div>
