<div class="modal fade" id="listaprotestosencontrados" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <form>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content font-12">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="listaprotestosencontradosLabel">Lista de Protestos Encontrados</h4>
            </div>
            <div class="modal-body scroll_fix">
                <div class="table-responsive">
                    <table class="table table-bordered fondo_boleta">
                        <thead>
                            <tr>
                                <th>Seleccion</th>
                                <th>Emisor</th>
                                <th>Tipo Doc</th>
                                <th>Mda.</th>
                                <th>Monto Prot.</th>
                                <th>Fecha Prot.</th>
                                <th>Nro. Oper.</th>
                                <th>Bol. Pub.</th>
                                <th>Pag. Bol.</th>
                                <th>Costo Acl.</th>
                                <th>Nomb. Librador</th>
                                <th>Cod. Sucur.</th>
                                <th>Corr. Protes.</th>
                                <th>Cod. Estado</th>
                                <th>Ptje Pareo</th>
                                <th>Cod. Moneda</th>
                                <th>Tipo Crédito</th>
                                <th>Fecha Public.</th>
                                <th>Marca Acl.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in aclaracion.candidatos" ng-style="{backgroundColor: result.marcaAclaracion > 0? '#5fe87c':'#fff'}">
                                <td>
                                    <input type="radio" name="candidatos" ng-model="$parent.candidatosel" value="{{result.corrProt}}" id="{{result.corrProt}}"/>
                                    <label for="{{result.corrProt}}"></label>
                                </td>
                                <td >{{result.emisor.descripcion}}</td>
                                <td >{{result.tipodocumento.codigo}}</td>
                                <td >{{result.tipomoneda.glosaCorta}}</td>
                                <td ng-style="{color: result.monto == aclaracionBase.monto? '#777':'red'}"  >{{result.monto  |number}}</td>
                                <td ng-style="{color: result.fechaprotesto == aclaracionBase.fechaprotesto? '#777':'red'}" >{{result.fechaprotesto  | date :  "dd-MM-y" }}</td>
                                <td ng-style="{color: result.numoperacion == aclaracionBase.numoperacion? '#777':'red'}">{{result.numoperacion}}</td>
                                <td >{{result.nroBoletin}}</td>
                                <td >{{result.pagBoletin}}</td>
                                <td >{{result.costoAclaracion}}</td>
                                <td >{{result.nombreLibrador}}</td>
                                <td>{{result.codLocPub}}</td>
                                <td>{{result.corrProt}}</td>
                                <td>{{result.codEstado}}</td>
                                <td>{{result.ptjePareo}}</td>
                                <td>{{result.tipomoneda.codMoneda}}</td>
                                <td>{{result.tipoDocumentoImpago}}</td>
                                <td>{{result.fecPublicacionString | date :  "dd-MM-y" }}</td>
                                <td>{{result.marcaAclaracion}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bolder;background-color:#f45f02; color:white;">
                                <td>-</td>
                                <td>{{aclaracion.emisor.descripcion}}</td>
                                <td>{{aclaracion.tipodocumento.codigo}}</td>
                                <td>{{aclaracion.tipomoneda.glosaCorta}}</td>
                                <td>{{aclaracion.monto}}</td>
                                <td>{{aclaracion.fechaprotesto.substr(0,2)}}-{{aclaracion.fechaprotesto.substr(2,2)}}-{{aclaracion.fechaprotesto.substr(4,8)}}</td>
                                <td>{{aclaracion.numoperacion}}</td>
                                <td>{{aclaracion.nroBoletin}}</td>
                                <td>{{aclaracion.pagBoletin}}</td>
                                <td>{{aclaracion.costoAclaracion}}</td>
                                <td >{{aclaracion.nombreLibrador}}</td>
                                <td>{{aclaracion.codLocPub}}</td>
                                <td>{{aclaracion.corrProt}}</td>
                                <td>{{aclaracion.codEstado}}</td>
                                <td>{{aclaracion.ptjePareo}}</td>
                                <td>{{aclaracion.tipomoneda.codMoneda}}</td>
                                <td>{{aclaracion.tipoDocumentoImpago}}</td>
                                <td>{{result.fecPublicacionString | date :  "dd-MM-y" }}</td>
                                <td>{{aclaracion.marcaAclaracion}}</td>
                            </tr>
                        </tfoot>                                  
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-success waves-effect" data-dismiss="modal" data-toggle="modal" data-target="#cuotasmorosasanteriores">SELECCIONAR</button-->
                <button type="button" class="btn btn-success waves-effect"  data-toggle="modal" ng-click="selCandidato(candidatosel)">SELECCIONAR</button>
                <button type="button" class="btn btn-danger waves-effect"  ng-click="cerrarCandidatos()">CANCELAR</button>
            </div>
        </div>
    </div>
    </form>
</div>
