<div class="modal fade" id="boletinrenovacion" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="boletinrenovacionLabel">Renovación Boletín Comercial Te Avisa</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix m-b-5">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label for="ren_consulta_contrato">N° Contrato Consultado:</label>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" disabled id="ren_consulta_contrato" class="form-control" value="{{contratoSeleccionadoRen.corrContrato}}">
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="tit-2">Contrato a Renovar</h5>
                <div class="borde_acl_2">
                    <h5 class="tit-2">Datos Contrato</h5>
                    <div class="row clearfix">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="num_contrato">N° Contrato:</label>
                                    <input type="text" id="num_contrato" class="form-control" disabled value="{{contratoSeleccionadoRen.corrContrato}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="glosario_servicio">Glosario Servicio:</label>
                                    <input type="text" class="form-control" disabled ng-model="contratoSeleccionadoRen.glosaServicio" value="{{contratoSeleccionadoRen.glosaServicio}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="fecha_inicio">Fecha Inicio Contrato:</label>
                                    <input type="text" id="fecha_inicio" class="form-control" disabled ng-model="contratoSeleccionadoRen.fechaInicioContrato" value="{{contratoSeleccionadoRen.fechaInicioContrato}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="fecha_termino">Fecha Término Contrato:</label>
                                    <input type="text" id="fecha_termino" class="form-control" disabled ng-model="contratoSeleccionadoRen.fechaFinContrato" value="{{contratoSeleccionadoRen.fechaFinContrato}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borde_acl_2">
                    <h5 class="tit-2">Datos Contratante</h5>
                    <div class="row clearfix">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="rut_contra">RUT Contratante:</label>
                                    <input type="text" id="rut_contra" class="form-control" disabled ng-model="contratoSeleccionadoRen.afectado.rut" ng-rut value="{{contratoSeleccionadoRen.afectado.rut}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="apellido_paterno_contra">Apellido Paterno:</label>
                                    <input type="text" id="apellido_paterno_contra" disabled class="form-control" ng-model="contratoSeleccionadoRen.afectado.apellidoPaterno" value="{{contratoSeleccionadoRen.afectado.apellidoPaterno}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="apellido_materno_contra">Apellido Materno:</label>
                                    <input type="text" id="apellido_materno_contra" disabled class="form-control" ng-model="contratoSeleccionadoRen.afectado.apellidoMaterno" value="{{contratoSeleccionadoRen.afectado.apellidoMaterno}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres_contra">Nombres:</label>
                                    <input type="text" id="nombres_contra" disabled class="form-control" ng-model="contratoSeleccionadoRen.afectado.nombres" value="{{contratoSeleccionadoRen.afectado.nombres}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borde_acl_2">
                    <h5 class="tit-2">Información Te Avisa</h5>
                    <div class="row clearfix">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <label for="ren_direccion2">Dirección: </label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" style="text-transform:uppercase" id="ren_direccion2" class="form-control" maxlength="50" letters-no-backslash ng-spaceless ng-model="contratoSeleccionadoRen.direccion" value="{{contratoSeleccionadoRen.direccion}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <label for="ren_telefono_fijo">Tel. Fijo:</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" ng-pattern="/(^[1-9][0-9]*$)/" ng-blur="noCeros(this.contratoSeleccionadoRen.telfijo, 'ren_telefono_fijo')" id="ren_telefono_fijo" numbers-only  maxlength="11" class="form-control" ng-model="contratoSeleccionadoRen.telfijo" value="{{contratoSeleccionadoRen.telfijo}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row clearfix">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ren_telefono_movil"><b class="tit-2">Servicio SMS</b> - Tel Móvil:</label>
                                    <input type="text" ng-pattern="/(^[1-9][0-9]*$)/" id="ren_telefono_movil" class="form-control" ng-model="contratoSeleccionadoRen.telcel" numbers-only  maxlength="11"  value="{{contratoSeleccionadoRen.telcel}}" ng-blur="noCeros(this.contratoSeleccionadoRen.telcel, 'ren_telefono_movil')">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ren_email"><b class="tit-2">Servicio Correo</b> - Email:</label>
                                    <input type="text" id="correo1_bc" ng-spaceless class="form-control" ng-model="contratoSeleccionadoRen.email" value="{{contratoSeleccionadoRen.email}}" ng-blur="validateEmailRen(this.contratoSeleccionadoRen.email, 'email1')">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ren_confirmacion">Confirmación Email:</label>
                                    <input type="text" id="correo2_bc" ng-spaceless class="form-control" ng-model="contratoSeleccionadoRen.email2" value="{{contratoSeleccionadoRen.email2}}" ng-blur="validateEmailRen(this.contratoSeleccionadoRen.email2, 'email2')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect"  ng-click="renovar()">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarRenovacion()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>

