<div class="modal fade" id="modalaperturacaja" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="CajaController">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form>
            <div class="modal-header">
                <h4 class="modal-title centrado">Apertura Caja</h4>
            </div>
            <div class="modal-body">
                <div class="m-t-20 m-b-40" ng-show="usuario.cajasAbiertas < usuario.cajasPermitidas">
                    <h5 class="tit-2">Selecciona</h5>
                </div>
                <div ng-init="seleccionado=''">
                    <div class="alert alert-danger" ng-show="usuario.cajasAbiertas == usuario.cajasPermitidas">
                        <strong>Ha realizado apertura de todas las cajas para usted y no la ha cerrado. Ahora debe ir al Listado de Cajas Abiertas para continuar trabajando</strong>
                    </div>
                    <div ng-show="usuario.cajasAbiertas < usuario.cajasPermitidas">
                    	 <div class="alert alert-danger">
                        	<strong>Actualmente tiene cajas abiertas.</strong>
                   		</div>
                        <input name="group_apertura" type="radio" id="radio_apertura_1"  ng_model="seleccionado" value="nuevo" next-focus focus-me/>
                        <label for="radio_apertura_1">Abrir Nueva Caja</label><br><br>
                    </div>
                    <input name="group_apertura" type="radio" id="radio_apertura_2"  ng_model="seleccionado" value="listado" next-focus/>
                    <label for="radio_apertura_2">Mostrar Listado Cajas Abiertas</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="aceptarApertura()">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
