<div class="modal fade" id="certificadoaclaracion4" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="CertificadoAclaracion4Controller">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="certificadoaclaracion4Label">Certificado de Aclaración</h4>
            </div>
            <form class="form-horizontal" id="certificadoaclaracion4Form" name="certificadoaclaracion4Form" method="POST" ng-init="valido=true;">
                <div class="modal-body scroll_fix">
                    <div class="row clearfix m-b-10">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                            <label for="rutAfectadoInforme">* RUT Afectado:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="rutAfectadoInforme" id="rutAfectadoInforme" ng-model="afectado.rut" class="form-control" ng-rut placeholder="Rut Afectado" required maxlength="13" ng-enter="buscaAfectado()" ng-blur="buscaAfectado()" tabindex="1" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" name="cargaTramitante" class="btn btn-lg btn-primary waves-effect" ng-click="cargaTramitante()" ng-enter="cargaTramitante()" tabindex="2" next-focus>
                                <i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row clearfix m-b-30" ng-show="!esrutjuridico">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_pat_pag">* Apellido Paterno:</label>
                                    <input  id="ap_pat_pag" name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="3" next-focus/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_mat_pag">Apellido Materno:</label>
                                    <input id="ap_mat_pag" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="4" next-focus />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres">* Nombres:</label>
                                    <input letters-only type="text" id="nombres" name="nombres" id="nombres" ng-model="afectado.nombres" class="form-control" placeholder="Nombres" required maxlength="25" tabindex="5" next-focus />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-30" ng-if="esrutjuridico">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="nombres_afectado">* Nombre Afectado:</label>
                                    <input letters-only-business type="text" id="nombres_afectado" name="nombresafectado" ng-model="afectado.nombreafectado" class="form-control" placeholder="Nombre Afectado" required maxlength="75" tabindex="3" next-focus/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="tipoDocumento">Tipo de Documento</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select name="tipoDocumento" id="tipoDocumento" ng-model="afectado.tipoDocumento.codigo" id="input" class="form-control" tabindex="6" next-focus>
                                	<option value="" disabled>- Seleccionar -</option>
                                    <option ng-repeat="item in tipoDocumentos" value="{{item.codigo}}">{{item.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label for="Monto">Monto</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="Monto" id="Monto" ng-model="afectado.monto" class="form-control" numbers-only maxlength="15" tabindex="7" next-focus />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="buscar()" ng-enter="buscar()" tabindex="8" next-focus>
                                <i class="material-icons">search</i> <strong>Buscar</strong>
                            </button>
                        </div>
                    </div>
                    <div ng-show="acls.length > 0" class="row clearfix m-t-30">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-left">
                            <h5 class="tit-2 m-b-5">Lista de Aclaraciones del Afectado</h5>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 align-right">
                            <h6 class="m-b-5">Importante: No se muestran los documentos aclarados la semana en curso (aclaración en trámite)</h6>
                        </div>
                    </div>
                    <div ng-show="acls.length > 0" class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="body table-responsive">
                                <table class="table table-bordered fondo_boleta">
                                    <thead>
                                        <tr>
                                            <th>Check</th>
                                            <th>Emisor</th>
                                            <th>Tipo Documento</th>
                                            <th>Tipo Doc. Impago</th>
                                            <th>N° Operacion</th>
                                            <th>Moneda</th>
                                            <th>Monto Prot.</th>
                                            <th>Librador</th>
                                            <th>Fecha Prot.</th>
                                            <th>Fecha Acl.</th>
                                            <th>N° Boletín</th>
                                            <th>Boletín Acl.</th>
                                            <th>Fecha Pub. Acl.</th>
                                            <th>Marca Acl.</th>
                                            <th>Tipo Doc.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="acl in acls">
                                            <td>
                                                <input type="checkbox" id="corrProt{{$index}}" name="corrProt{{$index}}" value="{{acl.corrProt}}" class="chk-col-blue-grey" tabindex="9" next-focus />
                                                <label for="corrProt{{$index}}"></label>
                                            </td>
                                            <td>{{ acl.emisor.descripcion }}</td>
                                            <td>{{ acl.tipodocumento.descripcion }}</td>
                                            <td>{{ acl.tipoDocumentoImpago }}</td>
                                            <td>{{ acl.numoperacion }}</td>
                                            <td>{{ acl.tipomoneda.glosaCorta }}</td>
                                            <td class="align-right">{{ acl.monto | currency:undefined:0 }}</td>
                                            <td>{{ acl.nombreLibrador }}</td>
                                            <td>{{ acl.fechaprotesto }}</td>
                                            <td>{{ acl.fechaAclaracion }}</td>
                                            <td>{{ acl.nroBoletin }}</td>
                                            <td>{{ acl.pagBoletin }}</td>
                                            <td>{{ acl.fecPublicacionString }}</td>
                                            <td>{{ acl.marcaAclaracion }}</td>
                                            <td>{{ acl.tipodocumento.codigo }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-success waves-effect" ng-disabled="acls.length <= 0" ng-click="aceptar()" ng-enter="aceptar()" tabindex="10" next-focus>
                        <i class="material-icons">done</i> <strong>Aceptar</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" tabindex="11" next-focus>
                        <i class="material-icons">clear</i> <strong>Cerrar</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
