<div class="modal fade fix_overflow" id="ingresodepositos" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" ng-controller="IngresoDepositosController">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="ingresodepositosLabel">Ingreso de Depósitos</h4>
            </div>
            <form class="form-horizontal" id="ingresoDepositosForm" name="ingresoDepositosForm" method="POST" ng-init="valido=true;">
            <div class="modal-body">
                <div class="row clearfix m-b-5">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label for="centro_costo">Centro de Costo:</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="centro_costo" class="form-control" ng-model="campo.centroCosto" ng-disabled="true"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <uib-tabset active="tab1">
                        <uib-tab index="true" heading="Ingresar Depósitos">
                            <div class="borde_acl">
                                <h5 class="tit-2">Información de la Cuenta</h5>
                                <div class="row clearfix">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="select_banco">Banco: </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
											<select id="select_banco" name="select_banco" class="form-control" required="required" ng-model="campo.banco"
												theme="select2" ng-options="opt as (opt.codigo + ' - ' + opt.descripcion) for opt in campo.cmbBancos track by opt.codigo">
											</select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="num_cuenta">N° Cuenta: </label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
											<select id="num_cuenta" name="num_cuenta" class="form-control" required="required" ng-model="campo.ctaCte"
												theme="select2" ng-options="opt as opt.descripcion for opt in campo.cmbCtasCtes track by opt.codigo">
											</select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="nom_titular">Nombre Titular:</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input id="nom_titular" type="text" class="form-control" ng-model="campo.nombreTitular" ng-disabled="true"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="borde_acl">
                                <h5 class="tit-2">Información del Depósito</h5>
                                <div class="row clearfix m-b-5">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input type="radio" id="efectivo" name="tipoDepo" ng-model="campo.tipoDepo" value="EFC"/>
                                        <label for="efectivo">Efectivo</label>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input type="radio" id="cheque" name="tipoDepo" ng-model="campo.tipoDepo" value="CHQ"/>
                                        <label for="cheque">Cheque</label>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <input type="radio" id="otros" name="tipoDepo" ng-model="campo.tipoDepo" value="OTR"/>
                                        <label for="otros">Otros</label>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="num_deposito">* N° Depósito:</label>
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input letters-number-only type="text" id="num_deposito" class="form-control" maxlength="15" ng-model="campo.numeroDepo" required/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="fecha_deposito">* Fecha Depósito:</label>
                                        </div>
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <div class="form-group">
                                                <div class="form-line">
													<input type="text" id="fecha_deposito" class="form-control" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="campo.fechaDepo" required ng-blur="esFecha(campo.fechaDepo, 1)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <h5 class="tit-2">Depositado por:</h5>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                            <label for="rut_deposita">* RUT:</label>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                            <div class="form-group">
                                                <div class="form-line">
													<input type="text" id="rut_deposita" class="form-control" ng-model="campo.rutDepo"
														ng-rut required maxlength="13" ng-blur="buscaDepositante()" ng-enter="buscaDepositante()" next-focus />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <label for="nombre_deposita">* Nombre:</label>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="nombre_deposita" class="form-control" ng-model="campo.nombreDepo" ng-disabled="true"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <label for="total">* Total Depósito:</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="total" class="form-control" numbers-only-no-dot ng-model="campo.totalDepo" required maxlength="11" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="false" heading="Ver Depósitos">
                            <div class="borde_acl">
                                <h5>Buscar Depósitos</h5>
                                <div class="row clearfix">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h6 class="tit-2">Ingresa Rango de Fechas</h6>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <label for="rango_desde">* Desde</label>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <div class="form-line">
														<input type="text" id="rango_desde" class="form-control" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="campo.fechaDesde" required ng-blur="esFecha(campo.fechaDesde, 2)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                <label for="rango_hasta">* Hasta</label>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <div class="form-line">
														<input type="text" id="rango_hasta" class="form-control" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="campo.fechaHasta" required ng-blur="esFecha(campo.fechaHasta, 3)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 align-right">
                                            <button type="button" class="btn btn-lg btn-primary waves-effect" ng-click="buscar()">
                                                <i class="material-icons">search</i> <strong>Buscar</strong>
                                            </button>
                                            <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="limpiar()">
                                                <i class="material-icons">autorenew</i> <strong>Limpiar</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h5 class="tit-2">Depósitos Encontrados</h5>
                                    <div class="table-responsive tablescroll2">
                                        <table class="table table-bordered fondo_boleta">
                                            <thead>
                                                <tr>
                                                    <th>Selección</th>
                                                    <th>Cierre</th>
                                                    <th>Fecha Depósito</th>
                                                    <th>N° Depósito</th>
                                                    <th>N° Cta. Cte.</th>
                                                    <th>Mto. Depósito</th>
                                                    <th>Banco</th>
                                                    <th>Nombre Respon.</th>
                                                    <th>Fecha Ingreso</th>
                                                    <th>Fecha Cierre</th>
                                                    <th>Correlativo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="row in lstDepos">
                                                    <td>
                                                        <input type="radio" id="radio{{row.corrCuentaId}}" name="depositos" value="{{row.corrCuentaId}}" ng-model="campo.depoSelec">
                                                        <label for="radio{{row.corrCuentaId}}"></label>
                                                    </td>
                                                    <td>
                                                    	<span ng-show="row.flagCierreFinal">SI</span>
                                                    	<span ng-show="!row.flagCierreFinal">NO</span>
                                                    </td>
                                                    <td>{{row.fecDepositoAux}}</td>
                                                    <td>{{row.nroDepositoAux}}</td>
                                                    <td>{{row.nroCtaCteAux}}</td>
                                                    <td class="align-right">{{ row.montoDepositoAux | currency : "" : 2 }}</td>
                                                    <td>{{row.glosaEmisorAux}}</td>
                                                    <td>{{row.nombre}}</td>
                                                    <td>{{row.fecRegDeposito}}</td>
                                                    <td>{{row.fecCierreFinal}}</td>
                                                    <td>{{row.corrCuentaId}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-primary waves-effect" ng-click="cerrarDepo()" ng-show="!tab1" ng-disabled="!(lstDepos.length>0)">
                    <i class="material-icons">payment</i> <strong>Cerrar Depósito</strong>
                </button>
                <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimir()" ng-show="!tab1" ng-disabled="!(lstDepos.length>0)">
                    <i class="material-icons">print</i> <strong>Imprimir</strong>
                </button>
				<button type="button" class="btn btn-lg btn-success waves-effect" ng-click="guardarDatos()" ng-show="tab1">
					<i class="material-icons">done</i> <strong>Aceptar</strong>
				</button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" ng-click="cerrar()">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
