<div class="modal fullscreen-modal fade" id="detallecc" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="detalleccLabel">Cuadratura a Nivel de Cajas de un Centro de Costo</h4>
            </div>
            <div class="modal-body scroll_cc">
                <div class="borde_acl">
                    <h5 class="tit-2">Lista de Cajas que se abrieron en el siguiente periodo</h5>
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="nombrecc">Centro de Costo</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="nombrecc" class="form-control" ng-disabled="true" ng-model="cuadraturaDetCCList.centroCosto" value="{{cuadraturaDetCCList.centroCosto}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label for="desde_cc">Desde</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <!-- {{cuadraturaDetCCList.fechaDesde}} -->
                                            <input type="text" id="desde_cc" class="form-control" ng-disabled="true" ng-model="cuadraturaDetCCList.fechaDesde" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10"value="{{cuadraturaDetCCList.fechaDesde}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label for="hasta_cc">Hasta</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <!-- {{cuadraturaDetCCList.fechaDesde}} -->
                                            <input type="text" id="hasta_cc" class="form-control" ng-disabled="true" ng-model="cuadraturaDetCCList.fechaHasta" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" value="{{cuadraturaDetCCList.fechaHasta}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10 m-t-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Sel</th>
                                        <th>Usuario</th>
                                        <th>Nro Caja</th>
                                        <th>Fecha Inicio<br>Caja</th>
                                        <th>Estado <br>Caja</th>
                                        <th>Monto <br>Calculado B/F</th>
                                        <th>Monto <br>Calculado Det</th>
                                        <th>Monto <br>Pagado</th>
                                        <th>Diferencia <br>B/F</th>
                                        <th>Diferencia <br>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in cuadraturaDetCCList.cajasDetalle">
                                        <td>
                                            <input name="cajaSel" type="radio" id="{{result.numeroCaja}}" ng-model="result.centroSeleccionadocheck" value="false" ng-click="getValor(this.result)"/>
                                            <label for="{{result.numeroCaja}}"></label>              
                                        </td>
                                        <td>{{result.usuario}}</td>
                                        <td>{{result.numeroCaja}}</td>
                                        <td>{{result.fechaInicio}}</td>
                                        <td class="centrado">{{result.estadoCaja}}</td>
                                        <td class="align-right">{{result.montoCalculaBF | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.montoCalculaDet | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.montoPagado | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.diferenciaBF | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.diferenciaDetalle | currency:undefined:0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-offset-7 col-sm-offset-7 col-md-offset-7 col-lg-offset-7 col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Monto <br>Calculado B/F</th>
                                        <th>Monto <br>Calculado Det</th>
                                        <th>Monto <br>Pagado</th>
                                        <th>Diferencia <br>B/F</th>
                                        <th>Diferencia <br>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Suma $</th>
                                        <td class="align-right">{{cuadraturaDetCCList.montoCalculadoBF | currency:undefined:0}}</td>
                                        <td class="align-right">{{cuadraturaDetCCList.montoCalculadoDet | currency:undefined:0}}</td>
                                        <td class="align-right">{{cuadraturaDetCCList.montoPagado | currency:undefined:0}}</td>
                                        <td class="align-right">{{cuadraturaDetCCList.diferenciaBF | currency:undefined:0}}</td>
                                        <td class="align-right">{{cuadraturaDetCCList.diferenciaDet | currency:undefined:0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimeDetalleCajas()">
                    <i class="material-icons">print</i> <strong>Imprimir</strong>
                </button>
                <button type="button" class="btn btn-lg btn-primary waves-effect" data-toggle="modal"  ng-click="cuadraturaGeneral(0)">
                    <i class="material-icons">description</i> <strong>Cuadratura General</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarCuadDetCC()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
