<div class="modal fade" id="datosventacartera" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="datosventacarteraLabel">Datos Venta Cartera</h4>
            </div>
            <form class="form-horizontal" id="datosventacarteraForm" name="datosventacarteraForm" method="POST">
                <div class="modal-body">
                    <div class="row clearfix m-b-30">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 borde_acl p-t-15 p-b-15">
                            <label for="select_tipo_emisor">Tipo Emisor</label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centrado">
                                <div class="form-group">
                                    <ui-select ng-model="cartera.tipoemisor" theme="select2" ng-disabled="false" id="select_tipo_emisor" style="min-width: 225px;" on-select="obtieneEmisores(cartera.tipoemisor.codigo)">
                                        <ui-select-match placeholder="Seleccione Tipo Emisor">{{cartera.tipoemisor.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="cc in tiposEmisoresAll | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                          <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 borde_acl p-t-15 p-b-15">
                            <label for="select_emisor">Emisor</label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centrado">
                                <div class="form-group">
                                    <ui-select ng-model="cartera.emisor" id="select_emisor" theme="select2" ng-disabled="false" style="min-width: 225px;">
                                        <ui-select-match placeholder="Seleccione Emisor">{{cartera.emisor.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="cc in emisores | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                          <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="validaVentaCartera(aclaracion, tipoProtesto)">
                        <i class="material-icons">done</i> <strong>Aceptar</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarCartera(aclaracion, tipoProtesto)">
                        <i class="material-icons">clear</i> <strong>Cerrar</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
