<div class="modal fade" id="seleccionformulario" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="seleccionformularioLabel">Selección de Formulario a Imprimir</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input type="radio" id="modif_datos" name="radio_forms" ng-model="impr.opc" value="2"/>
                        <label for="modif_datos">Form. Modificación de Datos</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input type="radio" id="acl_esp" name="radio_forms" ng-model="impr.opc" value="1"/>
                        <label for="acl_esp">Form. Aclaración Especial</label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input type="radio" id="elim_datos" name="radio_forms" ng-model="impr.opc" value="3"/>
                        <label for="elim_datos">Form. Eliminación de Datos</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input type="radio" id="consulta" name="radio_forms" ng-model="impr.opc" value="5"/>
                        <label for="consulta">Form. Consulta</label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input type="radio" id="blo_datos" name="radio_forms" ng-model="impr.opc" value="4"/>
                        <label for="blo_datos">Form. Bloqueo de Datos</label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input type="radio" id="reclamo" name="radio_forms" ng-model="impr.opc" value="6"/>
                        <label for="reclamo">Form. Reclamo</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="imprimir()" ng-enter="imprimir()" ng-disabled="impr.opc==null">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar(3)">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
