<div class="modal fade" id="ingresosolicitudreclamos" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="ingresosolicitudreclamosLabel">Ingreso de Solicitudes y Reclamos</h4>
            </div>
            <div class="modal-body">
                <div class="borde_acl">
                    <div class="row clearfix">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="rut_titular_reclamo">Rut Titular:</label>
                                    <input type="text" id="rut_titular_reclamo" ng-disabled="true" class="form-control" ng-rut ng-model="ingr.rut">
                                </div>
                            </div>
                        </div>
                        <div ng-show="!esrutjuridico">
	                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	                            <div class="form-group">
	                                <div class="form-line">
	                                    <label for="ap_paterno_reclamo">Apellido Paterno:</label>
	                                    <input type="text" id="ap_paterno_reclamo" ng-disabled="true" class="form-control" ng-model="ingr.apellidop">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	                            <div class="form-group">
	                                <div class="form-line">
	                                    <label for="ap_materno_reclamo">Apellido Materno:</label>
	                                    <input type="text" id="ap_materno_reclamo" ng-disabled="true" class="form-control" ng-model="ingr.apellidom">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	                            <div class="form-group">
	                                <div class="form-line">
	                                    <label for="nombres_reclamo">Nombres:</label>
	                                    <input type="text" id="nombres_reclamo" ng-disabled="true" class="form-control" ng-model="ingr.nombres">
	                                </div>
	                            </div>
	                        </div>
                        </div>
                        <div ng-if="esrutjuridico">
	                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
	                            <div class="form-group">
	                                <div class="form-line">
	                                    <label for="nombres_afectado">Nombre:</label>
	                                    <input type="text" id="nombres_afectado" ng-disabled="true" class="form-control" ng-model="afectado.nombreafectado" />
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="borde_acl">
                    <div class="row clearfix m-b-10 m-t-10">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label for="email_ingreso">Email:</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="email_ingreso" id="email_ingreso" class="form-control" maxlength="75" ng-model="ingr.email"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label for="telefono_ingreso">Teléfono:</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="telefono_ingreso" id="telefono_ingreso" class="form-control" numbers-only ng-model="ingr.telefono" maxlength="11" ng-blur="noCeros(this.ingr.telefono)"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10 m-t-10">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <label for="select_region">Región:</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<ui-select name="select_region" id="select_region" focus-on="UiSelectRegion" theme="select2" style="min-width:200px;" ng-change="cargaComunas()" ng-model="ingr.region">
									<ui-select-match placeholder="Seleccione Región">{{ingr.region.codigo}} - {{ingr.region.descripcion}}</ui-select-match>
									<ui-select-choices repeat="cc in ingr.regiones | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
										<div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <label for="select_comuna">Comuna:</label>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<ui-select name="select_comuna" id="select_comuna" focus-on="UiSelectComuna" theme="select2" style="min-width:200px;" ng-model="ingr.comuna">
									<ui-select-match placeholder="Seleccione Comuna">{{ingr.comuna.codigo}} - {{ingr.comuna.descripcion}}</ui-select-match>
									<ui-select-choices repeat="cc in ingr.comunas | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
										<div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label for="dirección_ingreso">Dirección:</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="dirección_ingreso" id="dirección_ingreso" class="form-control" ng-model="ingr.direccion" maxlength="75"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="borde_acl">
                    <div class="row clearfix m-b-15 m-t-10">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <input type="checkbox" id="documentacion" ng-model="ingr.incluyedoc" ng-click="cleanDocs()"/>
                            <label for="documentacion">Incluye Documen.</label>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="cant_doc">Cant. Documentación</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="cant_doc" id="cant_doc" class="form-control" numbers-only-no-dot maxlength="3" ng-model="ingr.cantdocs" ng-disabled="!ingr.incluyedoc"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label for="select_solicitud">Tipo Solicitud:</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
								<select name="select_solicitud" id="select_solicitud" class="form-control" required="required" ng-change="cargaCategSolicitudes()" ng-model="ingr.tipoSol"
									ng-options="opt as (opt.codigo + ' - ' + opt.descripcion) for opt in ingr.cmbTipo track by opt.codigo">
								</select>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right:0px !important; padding-left:0px !important;">
                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                <label for="select_categoria">Categoría Solicitud:</label>
                            </div>
                            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
								<select name="select_categoria" id="select_categoria" class="form-control" required="required" ng-model="ingr.categoria" ng-change="checkOtros()"
									ng-options="opt as (opt.codigo + ' - ' + opt.descripcion) for opt in ingr.cmbCateg track by opt.codigo">
								</select>
                            </div>
                        </div>
                        <div class="col-lg-4">
							<div class="col-lg-4">
								<label for="comentario">Observación:</label>
							</div>
							<div class="col-lg-8" style="padding-right:0px !important;">
								<textarea name="comentario" id="comentario" class="form-control" rows="3" maxlength="250" ng-disabled="!otros" ng-model="ingr.obs" 
									placeholder="{{ otros ? 'Ingrese comentario con un máximo de 250 caracteres' : ''}}"></textarea>
							</div>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="ingresar()">
                    <i class="material-icons">done</i> <strong>Ingresar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar(1)">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
    </div>
</div>

