<div class="modal fade" id="cuotasmorosasanteriores" style="background-color: black; opacity: 0.95;" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="cuotasmorosasanterioresLabel">Cuotas Morosas Anteriores</h4>
            </div>
            <div class="modal-body scroll_fix">
                <div class="table-responsive">
                    <table class="table table-bordered fondo_boleta">
                        <thead>
                            <tr>
                                <th>Aclarar</th>
                                <th>Tipo Emisor</th>
                                <th>Emisor</th>
                                <th>Tipo Doc</th>
                                <th>Mda.</th>
                                <th>Monto Prot.</th>
                                <th>Fecha Prot.</th>
                                <th>Nro. Oper.</th>
                                <th>Estado Prot.</th>
                                <th>Fecha Pago</th>
                                <th>Nro. Bol. Publ.</th>
                                <th>Pag. Bol. Publ.</th>
                                <th>Nomb. Librador</th>
                                <th>Corr. Protes.</th>
                                <th>Cod. Estado</th>
                                <th>Marca Acl.</th>
                                <th>Cod. Moneda</th>
                                <th>Cod. Emisor</th>
                                <th>Cod. Loc. Publ.</th>
                                <th>Tipo Pareo</th>
                                <th>Ptje. Pareo</th>
                                <th>Tipo Cert.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in aclaracioncuotas.candidatos">
                                <td>
                                    <input type="checkbox" name="{{result.corrProt}}" ng-model="result.checked" ng-change="selectedCuotas()" id="{{result.corrProt}}"/>
                                    <label for="{{result.corrProt}}"></label>                 
                                </td>
                                <td >{{result.tipoemisor.codigo}}</td>
                                <td >{{result.emisor.descripcion}}</td>
                                <td>{{result.tipodocumento.codigo}}</td>
                                <td>{{result.tipomoneda.glosaCorta}}</td>
                                <td>{{result.monto}}</td>
								<td>{{result.fechaprotesto.substr(8,2)}}-{{result.fechaprotesto.substr(5,2)}}-{{result.fechaprotesto.substr(0,4)}}</td>                                
                                <td>{{result.numoperacion}}</td>
                                <td>{{result.estadoProtesto.descripcion}}</td>
                                <td>{{result.fechapago}}</td>
                                <td>{{result.nroBoletin}}</td>
                                <td>{{result.pagBoletin}}</td>
                                <td>{{result.nombreLibrador}}</td>
                                <td>{{result.corrProt}}</td>
                                <td>{{result.codEstado}}</td>
                                <td>{{result.marcaAclaracion}}</td>
                                <td>{{result.tipomoneda.codMoneda}}</td>
                                <td>{{result.emisor.codigo}}</td>
                                <td>{{result.codLocPub}}</td>
                                <td>{{result.tipoPareo}}</td>
                                <td>{{result.ptjePareo}}</td>
                                <td>{{result.tipoCertificado}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bolder;background-color:#f45f02; color:white;">
                                <td>-</td>
                                <td>{{aclaracion.tipoemisor.codigo}}</td>
                                <td>{{aclaracion.emisor.descripcion}}</td>
                                <td>{{aclaracion.tipodocumento.codigo}}</td>
                                <td>{{aclaracion.tipomoneda.glosaCorta}}</td>
                                <td>{{aclaracion.monto}}</td>
                               	<td>{{aclaracion.fechaprotesto.substr(0,2)}}-{{aclaracion.fechaprotesto.substr(2,2)}}-{{aclaracion.fechaprotesto.substr(4,8)}}</td>
                                <!-- <td>{{aclaracion.fechaprotesto.substr(4,8)}}-{{aclaracion.fechaprotesto.substr(2,2)}}-{{aclaracion.fechaprotesto.substr(0,2)}}</td>-->
                                <td>{{aclaracion.nroOper4DigAux}}</td>
                                <td>{{aclaracion.estadoProtesto}}</td>
                                <td> </td>
                                <td>{{aclaracion.nroBoletin}}</td>
                                <td>{{aclaracion.pagBoletin}}</td>
                                <td> </td>
                                <td>{{aclaracion.corrProt}}</td>
                                <td>{{aclaracion.codEstado}}</td>
                                <td>{{aclaracion.marcaAclaracion}}</td>
                                <td>{{aclaracion.tipomoneda.codMoneda}}</td>
                                <td>{{aclaracion.emisor.codigo}}</td>
                                <td>{{aclaracion.codLocPub}}</td>
                                <td>{{aclaracion.tipoPareo}}</td>
                                <td>{{aclaracion.ptjePareo}}</td>
                                <td>{{aclaracion.estadocuota}}</td>
                            </tr>
                        </tfoot>                       
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="aclaraCuotas();">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarCuotasBco()">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
    <!-- {{aclaracionBase}} -->
</div>
