<div class="modal fade boleta_c" id="boletareprint" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 450px;">
            <div class="modal-header">
                <h4 class="modal-title" id="boletareprintLabel">Boleta Generada</h4>
            </div>
            <div class="modal-body">
                <div class="row imprimir_boleta">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <img src="images/logo_ccs.png" style="width: 100%;" class="m-t-15">
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <h5 class="m-b-5"><b>CAMARA DE COMERCIO DE SANTIAGO A.G.</b></h5>
                        <span>BOLETÍN DE INFORMACIONES COMERCIALES</span><br>
                        <span>RUT: 70.017.820-K / SANTIAGO -CHILE</span>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span><strong>Casa Matriz:</strong> Monjitas 392 - Tel: 360 70 00 - Fax: 639 54 29</span><br>
                        <span><strong>Sucursal:</strong> Merced 472 - Tel: 632 70 45 - Fax: 633 70 03 - Casilla 1297 - Santiago - Chile</span>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5><strong>BOLETA DE VENTA</strong> - <strong>N°: {{reprintBol.numeroBoleta}}</strong></h5>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive table-bordered tablescroll">
                            <table class="table fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>CAJA</th>
                                        <th>C. COSTO</th>
                                        <th>FECHA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{reprintBol.idCaja}}</td>
                                        <td>{{reprintBol.descCentroCosto}}</td>
                                        <td>{{reprintBol.fecha | date : "dd/MM/y" }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="body table-responsive table-bordered tablescroll_boleta">
                            <table class="table fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>CANT.</th>
                                        <th>DESCRIPCIÓN</th>
                                        <th>IMPORTE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bol in reprintBol.transacciones | groupBy:'codServicio'">
                                      <td>{{bol.length}}</td>
                                      <td>{{bol[0].tipoServicio}}</td>
                                      <td>{{bol[0].costoServicio | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row imprimir_boleta m-t-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h5><strong>TOTAL: ${{reprintBol.totalBoleta | number}}</strong></h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="reimpresionBoleta(reprintBol)">
                    <i class="material-icons">print</i> Imprimir
                </button>
            </div>
        </div>
    </div>

</div>
