<div class="modal fade" id="transaccionespendientescaja" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="cambiarcajaLabel">Aviso</h4>
            </div>
            <div class="modal-body">
                <div class="centrado">
                    <i class="material-icons big-icon-warning">warning</i>
                    <br>
                    <h4>Para Continuar con un Cambio de Caja <br>debe cerrar los procesos pendientes.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-lg waves-effect" data-dismiss="modal" data-toggle="modal" >
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
