<div class="modal fullscreen-modal fade" id="reportecamara" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <form>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="reportecamaraLabel">Informe General a Nivel de Centros de Costo</h4>
            </div>
            <div class="modal-body scroll_fix">
                <div class="borde_acl">
                    <h5 class="tit-2">Lista de centros de costos que operaron en periodo</h5>
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label for="desde_cc">Desde</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="desde_cc" class="form-control" ng-disabled="true" ng-model="cuadraturaCCList.fechaDesde" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" value="{{cuadraturaCCList.fechaDesde}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <label for="hasta_cc">Hasta</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" id="hasta_cc" class="form-control" ng-disabled="true" ng-model="cuadraturaCCList.fechaHasta" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" value="{{cuadraturaCCList.fechaHasta}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10 m-t-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Sel</th>
                                        <th>Centro Costo</th>
                                        <th>Nombre Centro Costo</th>
                                        <th>N° Cajas <br>Abiertas</th>
                                        <th>Estado <br>Cajas</th>
                                        <th>Monto <br>Transacciones</th>
                                        <th>Monto <br>Ingresado Cajera</th>
                                        <th>Diferencia (+)</th>
                                        <th>Diferencia (-)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  ng-repeat="result in cuadraturaCCList.resultadoCentros">
                                        <td>
                                            <input name="centroSel" type="radio" id="{{result.centroCosto}}" value="centroSeleccionadocheck" ng-model="result.centroSeleccionadocheck" ng-click="getValor(this.result)"/>
                                            <label for="{{result.centroCosto}}"></label>
                                        </td>
                                        <td>{{result.centroCosto}}</td>
                                        <td>{{result.glosaCC}}</td>
                                        <td>{{result.cantCajasAbiertas}}</td>
                                        <td class="centrado">{{result.estadoCaja}}</td>
                                        <td class="align-right">{{result.montoTransacciones | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.montoIngresadoCajera | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.diferenciaPos | currency:undefined:0}}</td>
                                        <td class="align-right">{{result.diferenciaNeg | currency:undefined:0}}</td>
                                    </tr>
                                 </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Monto <br>Transacciones</th>
                                        <th>Monto <br>Ingresado Cajera</th>
                                        <th>Diferencia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Suma $</th>
                                        <td class="align-right">{{cuadraturaCCList.montoResuTransacciones | currency:undefined:0}}</td>
                                        <td class="align-right">{{cuadraturaCCList.montoResuIngCajera | currency:undefined:0}}</td>
                                        <td class="align-right">{{cuadraturaCCList.montoResuDiferencia | currency:undefined:0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimeReporteCC()">
                    <i class="material-icons">print</i> <strong>Imprimir</strong>
                </button>
                <button type="button" class="btn btn-lg btn-primary waves-effect" data-toggle="modal" ng-click="cuadraturaGeneral(1)">
                    <i class="material-icons">description</i> <strong>Cuadratura General</strong>
                </button>
                <button type="button" class="btn btn-lg btn-primary waves-effect" data-toggle="modal"  ng-click="obtenerDetalleCC()">
                    <i class="material-icons">description</i> <strong>Detalle Centro de Costo</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarCuadCC()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
            
        </div>
    </div>
    </form>
</div>
