<div class="modal fade" id="busquedasolicitudreclamos" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-bp" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="busquedasolicitudreclamosLabel">Búsqueda de Solicitudes y Reclamos</h4>
            </div>
            <div class="modal-body scroll_fix">
                <div class="borde_acl m-b-20">
                    <div class="row clearfix">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="busq_rut">Rut Titular: </label>
                                    <input type="text" id="busq_rut" ng-disabled="true" class="form-control" ng-rut ng-model="busq.rut"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-show="!esrutjuridico">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="busq_ap_paterno">Apellido Paterno:</label>
                                    <input type="text" id="busq_ap_paterno" ng-disabled="true" class="form-control" ng-model="busq.apellidop"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-show="!esrutjuridico">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ren_ap_materno">Apellido Materno:</label>
                                    <input type="text" id="busq_ap_materno" ng-disabled="true" class="form-control" ng-model="busq.apellidom"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-show="!esrutjuridico">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="busq_nombres">Nombres:</label>
                                    <input type="text" id="busq_nombres" ng-disabled="true" class="form-control" ng-model="busq.nombres"/>
                                </div>
                            </div>
                        </div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-show="esrutjuridico">
							<div class="form-group">
								<div class="form-line">
									<label for="busq_nombre">Nombre:</label>
									<input type="text" id="busq_nombre" ng-disabled="true" class="form-control" ng-model="busq.nombre"/>
								</div>
							</div>
						</div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="body table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>N° Solicitud</th>
                                        <th>Fecha Ingreso</th>
                                        <th>Usuario Ingreso</th>
                                        <th>C. Costo</th>
                                        <th>Tipo Solicitud</th>
                                        <th>Estado</th>
                                        <th>Fecha Estado</th>
                                        <th>Usuario Estado</th>
                                        <th>PDF</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in lista">
                                        <td class="centrado">
                                            <button class="btn btn-xs btn-info" data-toggle="modal" ng-click="historial(row.corrSolicitudReclamo)">{{row.corrSolicitudReclamo}}</button>
                                        </td>
                                        <td>{{row.fechaSolicitud}}</td>
                                        <td>{{row.usuarioCreacion}}</td>
                                        <td>{{row.glosaCC}}</td>
                                        <td>{{row.glosaTipoSolicitud}}</td>
                                        <td>{{row.glosaEstado}}</td>
                                        <td>{{row.fechaEstado}}</td>
                                        <td>{{row.usuarioEstado}}</td>
                                        <td>{{row.pdf}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar(2)">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
    </div>
	<modalestadosolicitud></modalestadosolicitud>
</div>

