<div class="modal fade" id="centrocosto" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="CentroCostoController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="centrocostoLabel">Seleccionar Centro de Costo</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="centro_costo">Centro de Costo</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <ui-select ng-model="centroCosto.model" theme="select2" ng-disabled="solo1CC" style="min-width:300px;" title="Seleccione un Centro de Costo" on-select="seleccionarCentroCosto()" >
                                    <ui-select-match placeholder="Seleccione un Centro de Costo">{{centroCosto.model.codigo +' - '+centroCosto.model.descripcion}}</ui-select-match>
                                    <ui-select-choices repeat="cc in centros | propsFilter: {descripcion: $select.search, codigo: $select.search}">
                                      <div ng-bind-html="cc.codigo +' - '+ cc.descripcion | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-40">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="Codigo_CC">Código CC</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="Codigo_CC" disabled value="{{centroCosto.model.codigo}}" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
                <div class="alert alert-danger" ng-show="solo1CC">
                    <strong>Usuario solo tiene un centro de costo asociado, no puede seleccionar otro.</strong>
                </div>
            </div>
            <div class="modal-footer" ng-show="!solo1CC">
                <button type="button" focus-element="btnAceptarCambiarCentroCosto" class="btn btn-lg btn-success waves-effect" ng-click="modificarCentroCosto();">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" focus-element="btnCancelarCambiarCentroCosto" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
            <div class="modal-footer" ng-show="solo1CC">
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
