<div class="modal fade" id="reporteboletas" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="reporteboletasLabel">Reporte de Boletas</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix m-b-20">
                        <div class="col-md-offset-2 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <label for="ultima_boleta">Última Boleta Emitida</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="ultima_boleta" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-40">
                        <div class="col-md-offset-2 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <label for="cantidad">Cantidad de Boletas Disponibles</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="cantidad" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
    </div>
</div>
