<div class="modal fade" id="rangoboletas" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="BoletasController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="rangoboletasLabel">Rango de Boletas</h4>
            </div>
            <div class="modal-body">
                    <div class="row clearfix m-b-10">
                        <h5 class="tit-2 centrado">Ingrese rango de números de boletas a utilizar:</h5>
                    </div>
                    <!-- div class="row clearfix m-b-10">
                        <div class="col-md-offset-2 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <label for="email_address_2">*Número Actual de Boletas</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" maxlength="5" id="inicio" name="actualBoleta" class="form-control" ng-model="boleta.actualBoleta" readonly>
                                </div>
                            </div>
                        </div>
                    </div-->                    
                    <div class="row clearfix m-b-10">
                        <div class="col-md-offset-2 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <label for="inicio">*Número Inicial de Boletas</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" numbers-only-no-dot maxlength="9" id="inicio" name="inicioBoleta" class="form-control" ng-model="boleta.inicioBoleta">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-offset-2 col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <label for="fin">*Número Final de Boletas</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" numbers-only-no-dot maxlength="9" id="fin" name="finBoleta" class="form-control" ng-model="boleta.finBoleta">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
            	<span style="color:red">
                     <span>{{boleta.msgControl}}</span>
                </span>
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="aceptarSeleBoleta()">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" type="reset">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
    <!-- <div ng-init="getNombreMaquina()"></div> -->
</div>
