<div class="modal fade" id="tblresuldocumentos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="tblresuldocumentosLabel">Modificar Medio de Pago</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix m-b-20">
                    <h5 class="tit-2 centrado">Documentos</h5>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="body table-responsive table-bordered">
                            <table class="table fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Número Boleta</th>
                                        <th>Tipo de Pago</th>
                                        <th>Monto</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{boleta.numboletafac}}</td>
                                        <td>{{boleta.glosaPago}}</td>
                                        <td class="align-right">{{boleta.montoIngresadoCajera}}</td>
                                        <td class="centrado">
                                            <button type="button" class="btn btn-primary btn-grilla waves-effect"  ng-click="cargaMedios();">
                                                <i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="Modificar">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row clearfix m-b-20" ng-show="medioshow">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span><strong>Selecciona Tipo Medio de Pago</strong></span>
                        <ui-select ng-model="mediopago.mediospago" theme="select2" ng-disabled="false" style="min-width: 250px;" ng-change="abrirModal()" >
                            <ui-select-match placeholder="Seleccione Servicio">{{mediopago.mediospago.descripcion}}</ui-select-match>
                            <ui-select-choices repeat="cc in mediospago | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                              <div ng-bind-html="cc.descripcion | highlight: $select.search"></div>
                              <small>
                                código: {{cc.codigo}}
                              </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
    </div>
</div>
