<div class="modal fade" id="listacajas" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" ng-controller="ListaCajaController">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title centrado" id="listacajasLabel">Selección de Cajas</h4>
                </div>
                <div class="modal-body scroll_fix">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label for="user_lista">Usuario</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="user_lista">{{ usuario.nombre }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label for="ccosto_lista">Centro de Costo</label>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ccosto_lista">{{usuario.centroCostoActivo.descripcion}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="body table-responsive">
                                <table class="table table-bordered fondo_boleta">
                                    <thead>
                                        <tr>
                                            <th>Seleccionar</th>
                                            <th>N° Caja</th>
                                            <th>Estado</th>
                                            <th>Hora Apertura</th>
                                            <th>Hora Cierre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-show="total==0">
                    						<td colspan="5">No se encuentran datos</td>
                    					</tr>
                    					<tr ng-repeat="result in listaCajasAbiertas"  ng-class="{'selected':result.id == selectedRow}" >
                    						<td>
                                                <input name="group_listacaja" type="radio" id="radio_apertura_{{result.corrCaja}}" ng-model="caja.id" value="{{$index}}" next-focus/>
                                                <label for="radio_apertura_{{result.corrCaja}}"></label>
                                            </td>
                    						<td>{{result.corrCaja}}</td>
                                            <td>{{result.estado==1? "Abierta": "Cierre Temporal"}}</td>
                    						<td>{{result.fechaInicio}}</span></td>
                    						<td>{{result.fechaTermino}}</td>
                    					</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="aceptarSeleccion();">
                        <i class="material-icons">done</i> <strong>Aceptar</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrar()">
                        <i class="material-icons">clear</i> <strong>Salir</strong>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
