<div class="modal fullscreen-modal fade" id="detalleserviciosindex" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="detalleserviciosLabel">Detalle Servicios</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="centro_costo">Centro Costo</label>
                                    <input type="text"  ng-disabled="true"  id="centro_costo" class="form-control" value="{{detalleServiciosDto.centroCosto}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="cod_usuario">Usuario</label>
                                    <input type="text"  ng-disabled="true" id="cod_usuario" class="form-control" value="{{detalleServiciosDto.usuario}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="fecha_consulta">Fecha</label>
										<input type="text"  ng-disabled="true" id="fecha_consulta" ng-disabled="true" id="fecha_consulta" ng-model="fechaDesdeCuad" class="form-control" ui-mask="99-99-9999" ui-mask-placeholder="" ui-mask-placeholder-char="_" maxlength="20" value="{{detalleServiciosDto.fecha}}" placeholder="__-__-____" >                                    
                                </div>
                            </div> 
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="num_caja">N° Caja</label>
 									<input type="text"  ng-disabled="true" id="num_caja" class="form-control" value="{{detalleServiciosDto.corrCaja}}">                                    
                                </div>
                            </div>  
                        </div>

                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 m-t-20">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <tbody>
                                    <tr>
                                        <th scope="row">Cant Servicios</th>
                                        <td class="align-right">{{detalleServiciosDto.totalTransacciones}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Cant Transacciones</th>
                                        <td class="align-right">{{detalleServiciosDto.totalMovimientos}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Mto Transacción</th>
                                        <th>Mto Cancelado</th>
                                        <th>Mto Diferencia</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Total Bruto</th>
                                        <td class="align-right">{{detalleServiciosDto.totalCalculado   | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleServiciosDto.totalPagado   | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleServiciosDto.totalDiferencia   | currency:undefined:0}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total Neto</th>
                                        <td class="align-right">{{detalleServiciosDto.totalCalculado - (detalleServiciosDto.totalCalculado * iva)  | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleServiciosDto.totalPagado - (detalleServiciosDto.totalPagado * iva)  | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleServiciosDto.totalDiferencia - (detalleServiciosDto.totalDiferencia * iva)  | currency:undefined:0}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total IVA</th>
                                        <td class="align-right">{{detalleServiciosDto.totalCalculado * iva   | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleServiciosDto.totalPagado * iva   | currency:undefined:0}}</td>
                                        <td class="align-right">{{detalleServiciosDto.totalDiferencia * iva   | currency:undefined:0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-10 m-t-10">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height: 353px">
                        <div class="table-responsive tablescroll3">
                            <table ng-table="tableParams" class="table table-bordered fondo_boleta">
                                <tr ng-repeat="result in $data">
                                        <td title="'Caja'"  sortable="'corrCaja'" >{{result.corrCaja}}</td>
                                        <td title="'BF'"   sortable="'nroBoletaFactura'">{{result.boletaFactura}}</td>
                                        <td title="'Folio'" sortable="'corrMovimiento'">{{result.nroBoletaFactura}}</td>
                                        <td title="'Servicio'" sortable="'glosaServicio'">{{result.glosaServicio}}</td>
                                        <td title="'Rut Tramitante'" sortable="'rutTramitante'">{{result.rutTramitante | rut}}</td>
                                        <td title="'Rut Afectado'" sortable="'rutAfectado'">{{result.rutAfectado | rut}}</td>
                                        <td title="'Costo Calculado'" sortable="'montoMovimiento'">{{result.montoMovimiento | currency}}</td>
                                        <td title="'Costo Pagado'" sortable="'montoCancelado'">{{result.montoCancelado | currency}}</td>
                                        <td title="'Costo Diferencia'" sortable="'montoDiferencia'">{{result.montoDiferencia | currency}}</td>
                                        <td title="'Tipo Doc'" sortable="'tipoDocumento'">{{result.tipoDocumento}}</td>
                                        <td title="'Mda.'" sortable="'tipoDocumento'"></td>
                                        <td title="'Monto Prot'" sortable="'montoProt'">{{result.montoProt | currency}}</td>
                                        <td title="'Fecha Prot'" sortable="'montoProt'">{{result.fechaProt}}</td>
                                        <td title="'Nro Oper'" sortable="'nroOper4Dig'">{{result.nroOper4Dig}}</td>
                                        <td title="'Emisor'" sortable="'glosaEmisor'">{{result.glosaEmisor}}</td>
                                        <td title="'Cod Serv'" sortable="'codServicio'">{{result.codServicio}}</td>                            
                                </tr>
                            </table>                        
                           <!--
                            <table class="table table-bordered fondo_boleta" >
                                <thead>
                                    <tr>
                                        <th>N° Caja</th>
                                        <th>N° B/F</th>
                                        <th>Folio</th>
                                        <th>Servicio</th>
                                        <th>Rut Tramitante</th>       
                                        <th>Rut Afectado</th>                                                                          
                                        <th>Costo Calculado</th>
                                        <th>Costo Pagado</th>                                        
                                        <th>Diferencia</th>
                                        <th>Tipo Doc</th>
                                        <th>Mda.</th>
                                        <th>Monto Protesto</th>
                                        <th>Fecha Protesto</th>
										<th>Nro Oper</th>
										<th>Emisor</th>
										<th>Cod Servicio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in detalleServiciosDto.servicios">
                                        <td>{{result.corrCaja}}</td>
                                        <td>{{result.nroBoletaFactura}}</td>
                                        <td>{{result.corrMovimiento}}</td>
                                        <td>{{result.glosaServicio}}</td>
                                        <td>{{result.rutTramitante | rut}}</td>
                                        <td>{{result.rutAfectado | rut}}</td>
                                        <td>{{result.montoMovimiento | currency}}</td>
                                        <td>{{result.montoCancelado | currency}}</td>
                                        <td>{{result.montoDiferencia | currency}}</td>
                                        <td>{{result.tipoDocumento}}</td>
                                        <td></td>
                                        <td>{{result.montoProt | currency}}</td>
                                        <td>{{result.fechaProt}}</td>
                                        <td>{{result.nroOper4Dig}}</td>
                                        <td>{{result.glosaEmisor}}</td>
                                        <td>{{result.codServicio}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            -->
                        </div>
                    </div>
                </div>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="imprimeDetalleServicios()">
                    <i class="material-icons">print</i> <strong>Imprimir</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarServicios()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
