<div class="modal fade" id="detectorFraudeAclaracion" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="fraudeLabel">Alerta</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 centrado">
                        <i class="material-icons big-icon-warning">warning</i>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 centrado">
                        <h4>&#161;El Rut ingresado se encuentra en lista de Detecci&#243;n de Fraudes&#33;</h4>
                    </div>
                </div>
                <div class="row clearfix m-t-15">
                    <div class="col-lg-2 col-md-2 col-sm2 col-xs-2">
                        <label for="rut_fraude">RUT: </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" disabled class="form-control" value="{{fraude.persona.rut | rut}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-20">
                    <div class="col-lg-2 col-md-2 col-sm2 col-xs-2">
                        <label for="nombre_fraude">Nombre: </label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" disabled class="form-control" value="{{fraude.persona.nombres}} {{fraude.persona.apellidoPaterno}} {{fraude.persona.apellidoMaterno}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-t-15">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="body table-responsive tablescroll">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Motivo-Causal</th>
                                        <th>Fecha Ingreso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="obj in fraude.dataFraude">
                                    	<td>{{obj.causal}}</td>
                                    	<td>{{obj.fechaDigitacion | date : 'dd-MM-yyyy HH:mm:ss'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-controller="ModalFraudeControllerAclaracion">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="autorizacion()">
                    <i class="material-icons">lock</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="salir()">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
    </div>
</div>
