<div class="modal fade" id="ingresofiniquitos" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" ng-controller="IngresoFiniquitoController">
    <div class="modal-dialog modal-bp" role="document" ng-show="show">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="ingresofiniquitosLabel">Ingreso Finiquitos para Informe</h4>
            </div>
            <form class="form-horizontal" id="ingresofiniquitosForm" name="ingresofiniquitosForm" method="POST" ng-init="valido=true;">
                <div class="modal-body">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 align-right">
                            <label for="rutAfectadoInforme">* RUT Afectado:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" name="rutAfectadoInforme" id="rutAfectadoInforme" ng-model="afectado.rut" class="form-control" placeholder="Rut Afectado"
                                    	ng-rut required maxlength="13" ng-blur="buscaAfectado()" ng-enter="buscaAfectado()" next-focus ng-disabled="esIngreso"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <button type="button" name="cargaTramitante" class="btn btn-lg btn-primary waves-effect" ng-click="cargaTramitante()" ng-enter="cargaTramitante()" next-focus ng-disabled="esIngreso">
                                <i class="material-icons">person</i> <strong>Cargar Datos Tramitante</strong>
                            </button>
                        </div>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_pat_pag">* Apellido Paterno:</label>
                                    <input  id="ap_pat_pag" name="apellidoP" letters-only type="text" ng-model="afectado.apellidoPaterno" class="form-control" placeholder="Apellido Paterno" required maxlength="25" next-focus tabindex="2" next-focus ng-disabled="esIngreso"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="ap_mat_pag">Apellido Materno:</label>
                                    <input id="ap_mat_pag" name="apellidoM" letters-only type="text" ng-model="afectado.apellidoMaterno" class="form-control" placeholder="Apellido Materno" maxlength="25" tabindex="3" next-focus ng-disabled="esIngreso"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="afectado_nombres">* Nombres:</label>
                                    <input letters-only type="text" id="afectado_nombres" name="afectado_nombres" ng-model="afectado.nombres" tabindex="4" class="form-control" placeholder="Nombres" required maxlength="25" next-focus ng-disabled="esIngreso"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="borde_acl" ng-show="esIngreso">
                        <h5 class="tit-2">Datos Básicos del Finiquito</h5>
                        <div class="row clearfix m-b-15">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="rut_finiquito">Rut Empleador:</label>
										<input type="text" id="rut_finiquito" class="form-control" ng-model="campo.rutEmpleador" ng-rut maxlength="13"
											ng-blur="buscaEmpleador()" ng-enter="buscaEmpleador()" ng-disabled="esProrroga || esReIngreso || esBloqueo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-show="!esRutEmpJuridico">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="ap_paterno_finiquito">Ap. Paterno:</label>
                                        <input type="text" id="ap_paterno_finiquito" class="form-control" letters-only maxlength="25" ng-model="campo.apellidop" ng-disabled="esProrroga || esReIngreso || esBloqueo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-show="!esRutEmpJuridico">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="ap_materno_finiquito">Ap. Materno:</label>
                                        <input type="text" id="ap_materno_finiquito" class="form-control" letters-only maxlength="25" ng-model="campo.apellidom" ng-disabled="esProrroga || esReIngreso || esBloqueo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="nombres_finiquito">Nombres:</label>
                                        <input ng-show="!esRutEmpJuridico" type="text" id="nombres_finiquito" class="form-control" letters-only maxlength="25" ng-model="campo.nombres" ng-disabled="esProrroga || esReIngreso || esBloqueo">
                                        <input ng-show="esRutEmpJuridico" type="text" id="nombres_finiquito" class="form-control" letters-only-business maxlength="75" ng-model="campo.nombres" ng-disabled="esProrroga || esReIngreso || esBloqueo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix m-b-15">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="fecha_contrato_finiquito">Fecha Contrato:</label>
                                        <input type="text" id="fecha_contrato_finiquito" class="form-control" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="campo.fechaContrato"
                                        	required ng-blur="esFecha(campo.fechaContrato, 1)" ng-disabled="esProrroga || esBloqueo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="fec_term_contrato_finiquito">Fec Term Contrato:</label>
                                        <input type="text" id="fec_term_contrato_finiquito" class="form-control" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="campo.fechaTermino"
                                        	required ng-blur="esFecha(campo.fechaTermino, 2)" ng-disabled="esProrroga || esBloqueo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label for="fecha_finiquito">Fecha Finiquito:</label>
                                        <input type="text" id="fecha_finiquito" class="form-control" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="campo.fechaFiniquito"
                                        	required ng-blur="esFecha(campo.fechaFiniquito, 3)" ng-disabled="esProrroga || esBloqueo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<label for="doc_presentado">Documento Presentado:</label>
								<select name="doc_presentado" id="doc_presentado" class="form-control" required="required" ng-model="campo.tipoDoc"
									theme="select2" style="min-width:250px;" ng-disabled="esProrroga || esBloqueo"
									ng-options="opt as opt.descripcion for opt in campo.cmbDocs track by opt.codigo">
									<option value=""> </option>
								</select>
							</div>
                        </div>
                    </div>
                    <div class="borde_acl" ng-show="esIngreso && esProrroga">
                        <h5 class="tit-2">Información Prórroga</h5>
                        <div class="row clearfix">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <label for="fecha_declaracion_jurada">Fecha Declaración Jurada:</label>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="fecha_declaracion_jurada" class="form-control" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" ng-model="campo.fechaDeclaracion" required ng-blur="esFecha(campo.fechaDeclaracion, 4)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="aceptarBoton1" type="button" ng-click="confirmarAfectado()" ng-enter="confirmarAfectado()" class="btn btn-lg btn-success waves-effect" name="aceptar" next-focus ng-show="!esIngreso"
						ng-disabled="!(afectado.apellidoPaterno != null && afectado.nombres != null)">
                        <i class="material-icons">done</i> <strong>Aceptar</strong>
                    </button>
					<button id="aceptarBoton3" type="button" ng-click="guardarDatos()" ng-enter="guardarDatos()" class="btn btn-lg btn-success waves-effect" name="aceptar" next-focus ng-show="esIngreso" ng-disabled="esBloqueo">
						<i class="material-icons">done</i> <strong>Aceptar</strong>
					</button>
					<button id="btnCancelar" type="button" ng-click="cancelar()" class="btn btn-lg btn-danger waves-effect" ng-show="esIngreso">
						<i class="material-icons">done</i> <strong>Cancelar</strong>
					</button>
                    <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal" ng-click="cerrar()">
                        <i class="material-icons">clear</i> <strong>Cerrar</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
