<div class="modal fade" id="listatarifas" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h4 class="modal-title centrado" id="listatarifasLabel">Listado Tarifas</h4>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button type="button" class="btn btn-xs btn-default waves-effect" data-dismiss="modal">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
            <div class="modal-body tablescroll4">
                <div ng-controller="TarifasController" ng-init="cargaTarifas()">
					<div class="table-responsive">
						<table class="table table-bordered fondo_boleta" style="width: 400px !important; margin: auto;">
						<tr>
							<th style="width:140px;"><strong>Código del Servicio</strong></th>
							<th style="width:200px;"><strong>Nombre Servicio</strong></th>
							<th style="width:100px;"><strong>Valor</strong></th>
						</tr>
						<tr ng-repeat="model in tarifas | orderBy: 'codServicio' as filtered_result track by model.codServicio">
							<td><strong>{{model.codServicio}}</strong></td>
							<td><strong>{{model.glosaServicio}}</strong></td>
							<td style="color:red; text-align:right;">${{model.costoBase | number}}</td>
						</tr>
						</table>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
