<div class="modal fade" id="cambioimpresora" tabindex="-1" role="dialog" ng-controller="ImpresorasController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="cambioimpresoraTitulo">Listado impresoras</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix m-b-20">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label for="email_address_2">Seleccionar Impresora</label>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-init="cargaImpresoras()">
                             <ui-select ng-model="impresora" theme="select2"  style="min-width: 250px;">
                                <ui-select-match placeholder="Seleccione Impresora">{{impresora.modeloImpresora}}</ui-select-match>
                                <ui-select-choices repeat="cc in impresoras | propsFilter: {modeloImpresora: $select.search}" >
                                  <div ng-bind-html="cc.modeloImpresora | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="setImpresora()">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
