<div class="modal fullscreen-modal fade" id="informecc" ng-controller="CuadraturaController"  data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
<!-- Start Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
      <div ui-tree-handle  id="{{node.divId}}"  ng-click="selectItem(node); cambiaEstilo(node.divId);" class="tree-node tree-node-content">
        <a class="btn btn-default btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}"></span>
        </a>
        <span class="p-l-10"  >{{node.descripcion}}</span>
        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">
            <i class="material-icons">add</i>
        </a> 
      </div>
      <ol ui-tree-nodes=""  ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </script>
<!-- End Nested node template -->

    <div class="modal-dialog" role="document" ng-show="show">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="informeccLabel">Informe por Centro de Costo</h4>
            </div>
            <div class="modal-body">
            <form>
                <div class="row clearfix">
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 p-r-0">
                        <div class="borde_acl" style="min-height: 450px;">
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h4 class="tit-2"><u>Navegación</u></h4>
                                    <div class="row">
                                      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 scroll_tree">
                                        <div ui-tree id="tree-root" data-drag-enabled="false">
                                          <ol ui-tree-nodes ng-model="listadoCC">
                                            <h5 id="camara" ng-show="muestraccs" ng-click="selectItem(itemPadre); cambiaEstilo('camara');" style="margin-bottom: 0px;" 
                                            class="tree-node tree-node-content ng-scope angular-ui-tree-handle" class="tit-2 div-base nodo-padre">
                                                Camara de Comercio
                                            </h5>
                                            <li ng-repeat="node in listadoCC" ui-tree-node  class="margen-hijos" ng-include="'nodes_renderer.html'"></li>
                                          </ol>
                                        </div>
                                      </div>
                                     </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 p-l-0">
                        <div class="borde_acl" style="min-height: 450px;">
                            <h5 class="tit-2">Periodo de Movimientos</h5>
                            <div class="row clearfix">
                                <h6 class="m-l-20">Ingrese Rango de Fechas</h6>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label for="fecha_desde">Desde:</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="fecha_desde" ng-model="fechaDesde" ng-blur="esfecha(this.fechaDesde, 'desde')" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label for="fecha_hasta">Hasta:</label>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="fecha_hasta" ng-model="fechaHasta" ng-blur="esfecha(this.fechaHasta, 'hasta')" next-focus ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="10" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix m-t-15 m-b-15">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-right">
                                    <button type="button" class="btn btn-lg btn-primary waves-effect" ng-click="buscarCC()">
                                        <i class="material-icons">search</i> <strong>Buscar</strong>
                                    </button>
                                    <button type="button" class="btn btn-lg btn-info waves-effect" ng-click="limpiar()">
                                        <i class="material-icons">autorenew</i> <strong>Limpiar</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>    
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" data-toggle="modal"  ng-click="seleccionarTipoCuadratura()">
                    <i class="material-icons">description</i> <strong>Buscar Cuadratura</strong>
                </button>
                <!-- 
                <button type="button" class="btn btn-lg btn-success waves-effect" data-toggle="modal" ng-click="cuadraturaCentroCosto()">
                    <i class="material-icons">description</i> <strong>detalle CC</strong>
                </button>
                <button type="button" class="btn btn-lg btn-success waves-effect" data-toggle="modal" ng-click="cuadraturaUsuario()">
                    <i class="material-icons">description</i> <strong>detalle usuario</strong>
                </button>
                -->
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarBusqueda()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
    <modalreportecamara></modalreportecamara>
    <modaldetalleusuario></modaldetalleusuario>
    <modaldetallecc></modaldetallecc>
    <modalcuadratura></modalcuadratura>
    <modaldetalleboleta></modaldetalleboleta>
    <modaldetalletransaccionboleta></modaldetalletransaccionboleta>
    <modaldetalletransaccionfactura></modaldetalletransaccionfactura>
    <modaldetalleservicios></modaldetalleservicios>
</div>
