<div class="modal fade" id="verfirma" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="verfirmaLabel">Selecciona Firmante</h4>
            </div>
            <div class="modal-body scroll_fix">
                <div class="body table-responsive">
                    <table class="table table-bordered">
                        <thead class="color_table">
                            <tr>
                                <th>Sel</th>
                                <th>Rut</th>
                                <th>Apell Pat</th>
                                <th>Apell Mat</th>
                                <th>Nombre</th>
                                <th>Cargo</th>
                                <th>Instit</th>
                                <th>Sucursal</th>
                                <th>Cert Acl</th>
                                <th>Cert Acl Espec</th>
                                <th>Cert Rect</th>
                                <th>Correlativo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in listafirmas" ng-class="{redTr: result.estado === 1}">
           						<td ng-class="{linkVer: result.estado === 1}" style="cursor: pointer;" ng-click="cargaImagenFirma(result)"><u>Ver</u></td>
                                <td>{{result.firmante.rut  |  rut}}</td>
                                <td>{{result.firmante.apellidoPaterno}}</td>
                                <td>{{result.firmante.apellidoMaterno}}</td>
                                <td>{{result.firmante.nombres}}</td>
                                <td>{{result.cargoFirma}}</td>
                                <td>{{result.glosaEmisor}}</td>
                                <td>{{result.glosaSucursal}}</td>
                                <td>{{result.flagCertifAcl}}</td>
                                <td>{{result.flagCertifAclEsp}}</td>
                                <td>{{result.flagCertifRectif}}</td>
                                <td>{{result.corrFirma}}</td>
           					</tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarFirmas()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
