<div class="modal fade" id="modpagotarjetacredito" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="modpagotarjetacreditoLabel">Documento de Pago</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row clearfix m-b-10">
                        <h5 class="centrado tit-2">Ingreso de Tarjeta de Crédito</h5>
                    </div>
                    <div class="row clearfix m-b-10">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <label for="num_comprobante">N° Comprobante:</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group">
                                <div class="form-line">
                                   <input type="text" id="num_comprobante" numbers-only-no-dot ng-model="mediopago.numerocheque" ng-blur="noCeros(this.mediopago.numerocheque, 'num_comprobante')" class="form-control" maxlength="9" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix brd-pagos">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <label for="nombre_banco">Banco:</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <ui-select ng-model="mediopago.emisor" theme="select2" ng-disabled="false" style="min-width: 250px;">
                                <ui-select-match placeholder="Seleccione Banco">{{mediopago.emisor.descripcion}}</ui-select-match>
                                <ui-select-choices repeat="cc in bancos | propsFilter: {descripcion: $select.search, codigo: $select.search}" >
                                  <div ng-bind-html="cc.codigo +' - ' +cc.descripcion | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="actualizaMedio('modpagotarjetacredito')">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="limpiaDatos()" data-dismiss="modal">
                    <i class="material-icons">clear</i> <strong>Cancelar</strong>
                </button>
            </div>
        </div>
    </div>
</div>
