<div class="modal fade" id="imgfirma" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content cent_modal">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="imgfirmaLabel">Firma</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="agregarFirmante(detalleFirma)">
                    <i class="material-icons">done</i> <strong>Agregar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect" ng-click="cerrarImg()">
                    <i class="material-icons">clear</i> <strong>Cerrar</strong>
                </button>
            </div>  
            <div class="modal-body">
			     <img data-ng-src="data:image/png;base64,{{b64encoded}}" class="img-responsive center-block">
			</div>
        </div>
    </div>
</div>
