
<div class="modal fade" id="listacierrecajasesion" tabindex="-1" role="dialog" ng-controller="ListaCierreCajaSesionController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title centrado" id="listacierrecajasesionLabel">Cierre de cajas</h4>
            </div>
            <div class="modal-body scroll_fix">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="usuario_cierre_sesion">Usuario</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="form-group">
                            <div class="form-line">
                                <label for="usuario_cierre_sesion">{{ usuario.nombre }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix m-b-20">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <label for="ccosto_cierre_sesion">Centro de Costo</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="form-group">
                            <div class="form-line">
                                <label for="ccosto_cierre_sesion">{{usuario.centroCostoActivo.descripcion}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="body table-responsive">
                            <table class="table table-bordered fondo_boleta">
                                <thead>
                                    <tr>
                                        <th>Sel.</th>
                                        <th>N° Caja</th>
                                        <th>Centro Costo</th>
                                        <th>Estado</th>
                                        <th>Tipo</th>
                                        <th>Hora Apertura</th>
                                        <th>Hora Cierre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="total==0">
                						<td colspan="5">No se encuentran datos</td>
                					</tr>
                					<tr ng-repeat="result in listaCajasAbiertas" >
                						<td>
                                            <input name="radio_cierre" type="radio" id="radio_cierre_sesion_{{result.corrCaja}}" ng-model="caja.id" value="{{$index}}" />
                                            <label for="radio_cierre_sesion_{{result.corrCaja}}"></label>
                                        </td>
                						<td>{{result.corrCaja}}</td>
                                        <td>{{result.centroCostoGlosa}}</td>
                                        <td>{{result.estado==1? "Abierta": result.estado==3? "Cierre Definitivo": "Cierre Temporal"}}</td>
                                        <td>{{result.codOrigen}}</td>
                                        <td>{{result.fechaInicio}}</span></td>
                						<td>{{result.fechaTermino}}</td>
                					</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="aceptarSeleccion();">
                    <i class="material-icons">done</i> <strong>Aceptar</strong>
                </button>
                <button type="button" class="btn btn-lg btn-danger waves-effect"  ng-click="salir();">
                    <i class="material-icons">clear</i> <strong>Salir</strong>
                </button>
            </div>
        </div>
    </div>

</div>
