<div class="modal-dialog modal-sm" role="document" >
    <div class="modal-content">
        <form class="form-horizontal" autocomplete="off">
        <div class="modal-header">
            <h4 class="modal-title centrado" id="validacionLabel">Autorización</h4>
        </div>
        <div class="modal-body">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label for="username_supervisor">Usuario</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" ng-model="username" next-focus required autocomplete="off" id="username_supervisor" class="form-control" placeholder="Ingresa usuario" autofocus maxlength="25">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label for="pass_text">Password</label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="password" ng-model="password" next-focus letters-number-only-no-upper required autocomplete="off" id="pass_text" class="form-control" placeholder="ingresa password" maxlength="25">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div style="color:red" id="error" ng-show="msgerror!=''" class="row">
                    <span>{{msgerror}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-success waves-effect" ng-click="ok()" ng-disabled="username==null || password==null">
                <i class="material-icons">done</i> <strong>Aceptar</strong>
            </button>
            <button type="button" class="btn btn-lg btn-danger waves-effect"  ng-click="cancel()" next-focus >
                <i class="material-icons">clear</i> <strong>Cancelar</strong>
            </button>
        </div>
        </form>
    </div>
</div>
