﻿.theme-siac .navbar {
  background-color: #F5F5F5; }

.theme-siac .navbar-brand {
  color: #fff; }
  .theme-siac .navbar-brand:hover {
    color: #fff; }
  .theme-siac .navbar-brand:active {
    color: #fff; }
  .theme-siac .navbar-brand:focus {
    color: #fff; }

.theme-siac .nav > li > a {
  color: #FF6600; }
  .theme-siac .nav > li > a:hover {
    background-color: transparent; }
  .theme-siac .nav > li > a:focus {
    background-color: transparent; }


.theme-siac .nav .open > a {
  background-color: transparent; }
  .theme-siac .nav .open > a:hover {
    background-color: transparent; }
  .theme-siac .nav .open > a:focus {
    background-color: transparent; }

.theme-siac .bars {
  color: #fff; }

.theme-siac .sidebar .menu .list li.active {
  background-color: transparent; }
  .theme-siac .sidebar .menu .list li.active > :first-child i, .theme-siac .sidebar .menu .list li.active > :first-child span {
    color: #FF6600; }

.theme-siac .sidebar .menu .list .toggled {
  background-color: transparent; }

.theme-siac .sidebar .menu .list .ml-menu {
  background-color: transparent; }

.theme-siac .sidebar .legal {
  background-color: #fff; }
  .theme-siac .sidebar .legal .copyright a {
    color: #FF6600 !important; }


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}